// Navs
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Nav / .nav
// 2.0 Nav Link / .nav-link
// 3.0 Nav Tabs / .nav-tabs
// 4.0 Tab Content / .tab-content

//--------------------------------------------//
// 1.0 Nav / .nav
//--------------------------------------------//
.nav {
display: flex;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}//nav

//--------------------------------------------//
// 2.0 Nav Link / .nav-link
//--------------------------------------------//
.nav-link {
display: block;
padding: $nav-link-padding;
    @include hover-focus {
    text-decoration: none;
    }//hover, focus
    &.disabled {
    color: $nav-disabled-link-color;
    cursor: $cursor-disabled;
    }//disabled
}//nav-link

//--------------------------------------------//
// 3.0 Nav Tabs / .nav-tabs
//--------------------------------------------//
.nav-tabs {
border: 0px;
margin-bottom: 10px;
    .nav-item {
    margin-bottom: $nav-tabs-border-width;
        &.show .nav-link {
        background-color: $primary; 
        color: $white;
        }//show nav link
        .dropdown-menu {
            .dropdown-item.active {
            background-color: $nav-bg;
            color: $primary;
            }//dropdown-item active
        }//dropdown-menu
    }//nav-item
    
    .nav-link {
    background-color: $nav-bg;
    border: 0px;
    border-bottom: 2px solid $nav-bg;
    border-radius: 0px;
    padding: 0.8rem 1.35rem;
    text-transform: capitalize;
    color: $nav-link;
    font-size: 14px;
        &.active {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border-bottom: 2px solid $nav-tabs-active-link-border-color;
        }//active
        &.disabled {
        color: $nav-disabled-link-color;
        background-color: transparent;
        border-color: transparent;
        }//disabled
        &:hover {
        color: $primary;
        }//hover
    }//nav-link

    .dropdown-menu {
    margin-top: -$nav-tabs-border-width;
    @include border-top-radius(0);
    }//dropdown-menu

}//nav-tabs

//--------------------------------------------//
// 4.0 Tab Content / .tab-content
//--------------------------------------------//
.tab-content {
    > .tab-pane {
    display: none;
    }//tab-pane
    > .active {
    display: block;
    }//active
}//tab-content
