// Pagination
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Paginaton / .pagination
// 2.0 Page Item / .page-item
// 3.0 Page Link / .page-link

//--------------------------------------------//
// 1.0 Paginaton / .pagination
//--------------------------------------------//
.pagination {
display: flex;
padding-left: 0;
list-style: none;
margin-bottom: 0px;
@include border-radius();
}//pagination

//--------------------------------------------//
// 2.0 Page Item / .page-item
//--------------------------------------------//
.page-item {
font-size: $font-size;
	&:first-child {
		.page-link {
		margin-left: 0;
		font-size: 11px;
		@include border-left-radius($border-radius);
		}//page-link
	}//first-child
	&:last-child {
		.page-link {
		@include border-right-radius($border-radius);
		font-size: 11px;
		}//page-link
	}//last-child
	&.active .page-link {
	z-index: 2;
	color: $pagination-active-color;
	background-color: $pagination-active-bg;
	border-color: $pagination-active-border;
	}//active page-link
	&.disabled .page-link {
	color: $pagination-disabled-color;
	pointer-events: none;
	cursor: $cursor-disabled;
	background-color: $pagination-disabled-bg;
	border-color: $pagination-disabled-border;
	}//disabled page-link
}//page-item

//--------------------------------------------//
// 3.0 Page Link / .page-link
//--------------------------------------------//
.page-link {
position: relative;
display: block;
height: $pagination-height;
margin-left: -1px;
padding: $pagination-padding;
line-height: $pagination-line-height;
color: $pagination-color;
background-color: $pagination-bg;
	&:hover {
	color: $pagination-hover-color;
	text-decoration: none;
	background-color: $pagination-hover-bg;
	border-color: $pagination-hover-border;
	}//hover
}//page-link