// Help Class
//--------------------------------------------//
// TABLE OF CONTENTS:
// 1.0 Space Help Class 
// 2.0 Background Color Help Class 
// 3.0 Visible / Hidden / .visible, .hidden
//--------------------------------------------//

//--------------------------------------------//
// 1.0 Spacing Help Class 
//--------------------------------------------//
.space-preview {
margin-bottom: 0.5rem;
margin-right: 0.75rem;
	&.badge {
	margin-right: 0.65rem;
	}//badge
}//space-preview

//--------------------------------------------//
// 2.0 Background Color Help Class 
//--------------------------------------------//
@include bg-variant('.bg-primary', $brand-primary);
@include bg-variant('.bg-success', $brand-success);
@include bg-variant('.bg-info', $brand-info);
@include bg-variant('.bg-warning', $brand-warning);
@include bg-variant('.bg-danger', $brand-danger);
@include bg-variant('.bg-inverse', $brand-inverse);

//--------------------------------------------//
// 3.0 Visible / Hidden / .visible, .hidden
//--------------------------------------------//
.visible {
display: block;
}//visible

.hide {
display: none;
}//hide

.inline-block {
display: inline-block;
}//inline-block