// Typography
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Headings / h1, h2, h3, h4, h5, h6
// 2.0 Paragraph / p 
// 3.0 A link / a 
// 4.0 Pre / pre
// 5.0 Code / code
// 6.0 Display / .display-1, .display-2, .display-3, .display-4,
// 7.0 Font Size / .xl-font, .xxl-font
// 8.0 Horizontal Rules / hr
// 9.0 Emphasis / small, mark
// 10.0 Lists / .list-unstyled, list-inline
// 11.0 Text States

//--------------------------------------------//
// 1.0 Headings / h1, h2, h3, h4, h5, h6
//--------------------------------------------//
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, li, a {
font-weight: $default-weight;	
}//h1,h2,h3,h4,h5,h6

h1, .h1 {
font-size: $h1-size;
}//h1

h2, .h2 {
font-size: $h2-size;
}//h2

h3, .h3 {
font-size: $h3-size;
}//h3

h4, .h4 {
font-size: $h4-size;
}//h4

h5, .h5 {
font-size: $h5-size;
}//h5

h6, .h6 {
font-size: $h6-size;
}//h6

//--------------------------------------------//
// 2.0 Paragraph / p 
//--------------------------------------------//
p {
font-size: $paragraph-size;
}//p

//--------------------------------------------//
// 3.0 A link / a 
//--------------------------------------------// 
a {
color: $font-color;
@include transition($fast);
	&:focus {
	color: $font-color;
	}//focus
	&:hover {
	color: $primary;
	}//hover
}//a

//--------------------------------------------//
// 4.0 Pre / pre
//--------------------------------------------// 
pre {
background-color: #f2f2f2;
padding: 15px;
font-size: 13px;

	&.code {
	line-height: 25px;
	}//code
	
	.tag {
	color: $primary;
	font-weight: 700;
	}//tag
	
	.attr {
	color: lighten($primary, 5%);
	}//attr

	.content {
	color: $red;
	}//content

}//pre

//--------------------------------------------//
// 5.0 Code / code
//--------------------------------------------// 
code {
background-color: #f2f2f2;
color: $primary;
}//code

//--------------------------------------------//
// 6.0 Display / .display-1, .display-2, .display-3, .display-4,
//--------------------------------------------// 
.display-1 {
font-size: 5rem;
}//display-1

.display-2 {
font-size: 4rem;
}//display-2

.display-3 {
font-size: 3rem;
}//display-3

.display-4 {
font-size: 2rem;
}//display-4

//--------------------------------------------//
// 7.0 Font Size / .xl-font, .xxl-font
//--------------------------------------------//
.xl-font {
font-size: 3rem;	
}//xl-font

.xxl-font {
font-size: 12rem;	
}//xxl-font

//--------------------------------------------//
// 8.0 Horizontal Rules / hr
//--------------------------------------------//
hr {
margin-top: $spacer-y;
margin-bottom: $spacer-y;
border: 0;
border-top: $hr-border-width solid $hr-border-color;
}//hr

//--------------------------------------------//
// 9.0 Emphasis / small, mark
//--------------------------------------------//
small, .small {
font-size: $small-font-size;
font-weight: $font-weight-normal;
}//small

mark, .mark {
padding: $mark-padding;
background-color: $mark-bg;
}//mark

//--------------------------------------------//
// 10.0 Lists / .list-unstyled, list-inline
//--------------------------------------------//
.list-unstyled {
@include list-unstyled;
}//list-unstyled 

// Inline turns list items into inline-block
.list-inline {
@include list-unstyled;
}//list-inline
.list-inline-item {
display: inline-block;
	&:not(:last-child) {
	margin-right: $list-inline-padding;
	}//
}//list-inline-item

//--------------------------------------------//
// 11.0 Text States
//--------------------------------------------//
.text-primary {
color: $primary
}//text-primary

.text-success {
color: $success-color
}//text-success

.text-danger {
color: $danger-color
}//text-danger

.text-warning {
color: $warning-color
}//text-warning

.text-info {
color: $info-color
}//text-info
