// TABLE OF CONTENTS:
// 1.0 Primary variables for Bootstrap
// 2.0 Colors Variables
// 3.0 Lighten Colors Variables
// 4.0 Darken Colors Variables
// 5.0 Colors Contextual Variables
// 6.0 Social Background Colors
// 7.0 Hover Colors Contextual Variables
// 8.0 Fonts Variables
// 9.0 Typography Variables
// 10.0 Z-index list
// 11.0 Basic Variables
// 12.0 Border Variables
// 13.0 Transition Variables
// 14.0 Body Variables
// 15.0 Alerts Variables
// 16.0 Authentication Variables
// 17.0 Breadcrumb Variables
// 18.0 Badge Variables
// 19.0 Btn Variables
// 20.0 Btn Background Color, Font Color & Border Color
// 21.0 Btn Sizes 
// 22.0 Btn Font Size
// 23.0 Btn Social
// 24.0 Btn Social Size
// 25.0 Data Tables Variables
// 26.0 Dropdown & Dropup Variables
// 27.0 Card Variables
// 28.0 Forms Variables
// 29.0 Header Variables
// 30.0 Inbox Variables
// 31.0 Label Variables
// 32.0 List-Group Variables
// 33.0 Modal Variables
// 34.0 Nav Variables
// 35.0 Pagination Variables
// 36.0 Progress-Bar Variables
// 37.0 Popover Variables
// 38.0 State Variables
// 39.0 Sidebar Variables
// 40.0 Spinners Variables
// 41.0 Table
// 42.0 Tooltips Variables
// 43.0 Widget Weather
// 44.0 Material Desgin Variables
// 45.0 Stats Widget

//--------------------------------------------//
// 1.0 Primary variables for Bootstrap
//--------------------------------------------//
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

@mixin _assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
    @if $prev-num == null {
        //
    } @else if not comparable($prev-num, $num) {
        @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
        @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
    }
}

@function str-replace($string, $search, $replace: "") {
$index: str-index($string, $search);
    @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@mixin _assert-starts-at-zero($map) {
    $values: map-values($map);
    $first-value: nth($values, 1);
    @if $first-value != 0 {
        @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
    }
}

$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
$border-width: 1px;

$sizes: (
25: 25%,
50: 50%,
75: 75%,
100: 100%
);

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12;
$grid-gutter-width-base:30px;
$grid-gutter-widths: (
xs: $grid-gutter-width-base,
sm: $grid-gutter-width-base,
md: $grid-gutter-width-base,
lg: $grid-gutter-width-base,
xl: $grid-gutter-width-base
);

//--------------------------------------------//
// 2.0 Colors Variables
//--------------------------------------------//
$black: #000000;                               // black
$blue: #039be5;                                // blue
$green: #00c853;                               // green  
$gray: #ededed;                                // gray
$grey: #727272;                                // grey					
$primary: #304ffe;                             // primary color
$primary_rgba: rgba(48, 79, 254, 0.55);        // rgba primary color
$red: #ff5252;                                 // red
$yellow: #fdd835;                              // yellow
$white: #ffffff;                               // white

//--------------------------------------------//
// 3.0 Lighten Colors Variables
//--------------------------------------------//
$lighten-blue: #35afea;                        // lighten primary
$lighten-gray: #d2d2d2;                        // lighten gray
$lighten-green: #19cd64;                       // lighten green
$lighten-primary: #6e83fe;                     // lighten primary
$lighten-red: #ff6363;                         // lighten red
$lighten-yellow: #fddf5d;                      // lighten yellow

//--------------------------------------------//
// 4.0 Darken Colors Variables
//--------------------------------------------//
$darken-gray: darken($gray, 5%);                // darken gray
$darken-grey: #3f3f3f;                          // darken grey
$darken-blue: darken($blue, 5%);  			    // color for alert-info, 
$darken-green: darken($green, 5%); 			    // color for alert-success, 
$darken-primary: darken($primary, 5%);		    // color for alert-success, 
$darken-red: darken($red, 5%);   			    // color for alert-danger, 
$darken-yellow: darken($yellow, 10%);		    // color for alert-warning, 

//--------------------------------------------//
// 5.0 Colors Contextual Variables
//--------------------------------------------//
$danger-color: $red;                            // color for danger state
$default-color: $gray;                          // color default
$info-color: $blue;                             // color for info state
$inverse-color: $darken-grey;                   // color inverse 
$success-color: $green;                         // color for success state
$warning-color: $yellow;                        // color for warning state

$brand-primary: $primary;                       // backgroud color primary
$brand-success: $success-color;                 // background color for success state
$brand-info: $info-color;                       // background color for info state
$brand-warning: $warning-color;                 // background color for warning state
$brand-danger: $danger-color;                   // background color for danger state
$brand-inverse: $darken-grey;                   // background color inveerse

$list-group-danger-color: darken($red, 25%);    // color for danger list group
$list-group-info-color: darken($blue, 20%);     // color for info list group
$list-group-success-color: darken($green, 20%); // color for success list group
$list-group-warning-color: darken($yellow, 25%);// color for warning list group

//--------------------------------------------//
// 6.0 Social Background Colors
//--------------------------------------------//
$facebook: #3B5998;                            // facebook backround color
$twitter: #00aced;                             // twitter backround color
// instagram backround color
$instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); 
$pinterest: #bd081c;						                // pinterest plus backround color
$linkedin: #0077b5;							                // linkedin backround color
$snapchat: #fffc00;							                // snapchat backround color
$vk: #45668e;							                      // vk backround color
$youtube: #cd201f;							                // youtube backround color
$vimeo: #1ab7ea;							                  // vimeo backround color
$googlep: #dd4b39;							                // google plus backround color

//--------------------------------------------//
// 7.0 Hover Colors Contextual Variables
//--------------------------------------------//
$danger-hover-color: $darken-red;               // hover color for danger
$default-hover-color: $grey;                    // hover color for default 
$info-hover-color: $darken-blue;                // hover color for info
$inverse-hover-color: $black;                   // hover color for inverse
$primary-hover-color: lighten($primary, 5%);    // hover color for primary
$success-hover-color: $darken-green;            // hover color for success
$warning-hover-color: $darken-yellow;           // hover color for warning

//--------------------------------------------//
// 8.0 Fonts Variables
//--------------------------------------------//
$font: 'Roboto-Condensed', sans-serif;          // default font
$font-family-base: 'Roboto-Condensed', sans-serif;// default font
$font-size-base: 14px;                          // base font size
$font-weight-base: 500;                         // base font weight
$line-height-base: 1.5;                         // base line height
$font-color: #484848;                           // default font color

//--------------------------------------------//
// 9.0 Typography Variables
//--------------------------------------------//
$light-weight: 300;                             // light weight for font
$default-weight: 500;                           // default weight for font 
$bold-weight: 700;                              // bold weight for font
$h1-size: 1.75rem;                              // default font size for h1
$h2-size: 1.5rem;                               // default font size for h2
$h3-size: 1.30rem;                              // default font size for h3
$h4-size: 1.20rem;                              // default font size for h4
$h5-size: 1.05rem;                              // default font size for h5
$h6-size: 0.9rem;                               // default font size for h6
$paragraph-size: 0.85rem;                       // default font size for paragraph p

//--------------------------------------------//
// 10.0 Z-index list
//--------------------------------------------//
$zindex-dropdown-backdrop: 990;                 // z index dropdwon backdrop
$zindex-dropdown: 1000;                         // z index dropdown
$zindex-fixed: 2000;                            // z index fixed
$zindex-sticky: 2000;                           // z index sticky
$zindex-modal-backdrop: 1040;                   // z index modal backdrop
$zindex-modal: 1050;                            // z index modal
$zindex-popover: 1060;                          // z index popover
$zindex-tooltip: 1070;                          // z index tooltip

//--------------------------------------------//
// 11.0 Basic Variables
//--------------------------------------------//
$default-radius: 4px;                           // default radius 
$border-zero: 0px;                              // border zero 
$cursor-disabled: not-allowed;                  // cursor disabled 
$padding: 0.5rem 1rem;                          // padding

//--------------------------------------------//
// 12.0 Border Variables
//--------------------------------------------//
$border-success: 1px solid $darken-green;       // border success
$border-info: 1px solid $darken-blue;           // border info
$border-warning: 1px solid $darken-yellow;      // border warning
$border-danger: 1px solid $darken-red;          // border danger
$border-color: #dddddd;                         // default border color
$border-radius: $default-radius;                // default border radius
$border-dashed: 1px dashed;                     // dashed border
$border-solid: 1px solid;                       // solid border
$border-inverse-color: #656565;                 // border inverse color

//--------------------------------------------//
// 13.0 Transition Variables
//--------------------------------------------//
$very-slow: all 1s ease-in-out;                 // very slow transition
$slow: all 0.75s ease-in-out;                   // slow transition
$average: all 0.5s ease-in-out;                 // average transition
$fast: all 0.3s ease-in-out;                    // fast transition - default
$very-fast: all 0.15s ease-in-out;              // very fast transition

//--------------------------------------------//
// 14.0 Body Variables
//--------------------------------------------//
$body-bg: #f2f2f2;                              // body background color
$bg: #f2f2f2;                                   // default background color
$body-color: $font-color;                       // body color
$font-size: 14px;                               // default font size
$hr-border-color: rgba($black,.1);              // hr border-color
$hr-border-width: $border-width;                // hr border width

//--------------------------------------------//
// 15.0 Alerts Variables
//--------------------------------------------//
$alert-padding: 0.75rem 1rem;                   // padding for alerts
$alert-border-radius: $border-radius;           // border radius for alerts
$alert-font-size: 15px;                         // font size in alerts
$alert-icon-size: 16px;                         // icon font size in alerts
$alert-font-weight: 500;                        // default font weight in alerts
$alert-font-color: $white;                      // font color in alerts
$alert-font-color-hover: $white;                // hover font color in alerts

$alert-success-color: $success-color;           // alert success
$alert-info-color: $info-color;                 // alert info
$alert-warning-color: $warning-color;           // alert warning
$alert-danger-color: $danger-color;             // alert danger

$alert-box-font-color: $font-color;             // font color in alert box  
$alert-box-bg-color: $white;                    // background color in alert box
$alert-icon-width: 50px;                        // box icon width in alerts
$alert-icon-box-color: $white;                  // color for icon box in alerts
$alert-content-padding: 0.75rem 0rem;           // padding for content in alerts
$alert-content-margin: 0 15px 0px 60px;         // margin for content in alerts

$alert-circle-font-color: $font-color;          // font color in cirlce alert 
$alert-circle-bg-color: $white;                 // background color in cirlce alert 
$alert-circle-icon-width: 30px;                 // alert circle icon width
$alert-circle-icon-height: 30px;                // alert circle icon height

$alert-success-link-color: darken($alert-success-color, 18%); // link color in success alert                   
$alert-danger-link-color: darken($alert-danger-color, 30%); // link color in danger alert                   
$alert-info-link-color: darken($alert-info-color, 18%); // link color in info alert                   
$alert-warning-link-color: darken($alert-warning-color, 25%); // link color in warning alert                   

//--------------------------------------------//
// 16.0 Authentication Variables
//--------------------------------------------//
$authentication-wrapper-max-width: 400px;       // max width for authentication wrapper
$authentication-header-padding: 1rem;           // padding for authentication header
$authentication-header-font-size: 1rem;         // font size for authentication header

$md-authentication-header-padding: 10px 15px;   // padding for material design authentication header
$md-authentication-img-bg: "../img/authentication/md-bg.jpg"; // directory for bg img
$md-authentication-wrapper-bg: $bg;             // bg for material design authentication wrapper

//--------------------------------------------//
// 17.0 Breadcrumb Variables
//--------------------------------------------//
$breadcrumb-font-size: 13px;                    // default font size for breadcrumb 
$breadcrumb-font-weight: 500;                   // default font weight for breadcrumb 
$breadcrumb-bg: transparent;                    // background color for breadcrumb
$breadcrumb-before-padding: 0rem 0.3rem;        // default padding for before element in breadcrumb
$breadcrumb-before-font: FontAwesome;           // breadcrumb font family 
$breadcrumb-before-content: "\f054";            // breadcrumb before content
$breadcrumb-before-size: 10px;                  // default before font size

//--------------------------------------------//
// 18.0 Badge Variables
//--------------------------------------------//
$badge-padding: 0.25rem 0.45rem;                // default badge padding
$badge-font-size: 11px;                         // default badge font size
$badge-font-color: $white;                      // font color in badge
$badge-border: 1px solid;                       // default badge border
$badge-pill-radius: 20px;                       // default badge pill border radius
$badge-circle-padding: 5px;                     // badge circle padding

$badge-success: $success-color;                 // success badge color
$badge-danger: $danger-color;                   // danger badge color
$badge-info: $info-color;                       // info badge color
$badge-warning: $warning-color;                 // warning badge color
$badge-primary: $primary;                       // primary badge color
$badge-default: $grey;                          // default badge color

$badge-success-hover: $success-hover-color;     // success badge hover color
$badge-danger-hover: $danger-hover-color;       // danger badge hover color
$badge-info-hover: $info-hover-color;           // info badge hover color
$badge-warning-hover: $warning-hover-color;     // warning badge hover color
$badge-primary-hover: $primary-hover-color;     // primary badge hover color
$badge-default-hover: $default-hover-color;     // default badge hover color

//--------------------------------------------//
// 19.0 Btn Variables
//--------------------------------------------//
$btn-font-color: $white;                        // btn font color
$btn-font-size: 14px;                           // btn font size
$btn-bg: transparent;                           // btn background color
$btn-line-height: 1.25;                         // btn line height
$btn-padding: 0.5rem 1rem;                      // btn padding
$btn-social-width: 40px;                        // btn default social width
$btn-social-height: 40px;                       // btn default social height
$btn-social-xl-size: 24px;                      // font size for social button xl
$btn-social-lg-size: 20px;                      // font size for social button lg
$btn-social-md-size: 16px;                      // font size for social button md
$btn-social-sm-size: 14px;                      // font size for social button sm
$btn-social-xs-size: 12px;                      // font size for social button xs
$btn-padding-x: 1rem;                           // btn padding x
$btn-padding-y: .5rem;                          // btn padding y

$btn-o-border: $border-solid;                   // btn outline border
$btn-o-bg: transparent;                   			// btn outline background-color

//--------------------------------------------//
// 20.0 Btn Background Color, Font Color & Border Color
//--------------------------------------------//
$btn-danger-bg: $danger-color;                  // btn danger background color
$btn-danger-border: $danger-color;              // btn danger border color
$btn-danger-font-color: $danger-color;          // btn danger font color

$btn-default-bg: $default-color;                // btn default background color
$btn-default-border: darken($default-color,10%);// btn default border color
$btn-default-font-color: $font-color;           // btn default font color

$btn-info-bg: $info-color;                      // btn info background color
$btn-info-border: $info-color;                  // btn info border color
$btn-info-font-color: $info-color;              // btn info font color

$btn-inverse-bg: $inverse-color;                // btn inverse background color
$btn-inverse-border: $inverse-color;            // btn inverse border color
$btn-inverse-font-color: $font-color;           // btn inverse font color

$btn-primary-bg: $primary;                      // btn primary background color
$btn-primary-border: $primary;                  // btn primary border color
$btn-primary-font-color: $primary;              // btn primary font color

$btn-success-bg: $success-color;                // btn success background color
$btn-success-border: $success-color;            // btn success border color
$btn-success-font-color: $success-color;        // btn success font color

$btn-warning-bg: $warning-color;                // btn warning background color
$btn-warning-border: $warning-color;            // btn warning border color
$btn-warning-font-color: $warning-color;        // btn warning font color

//--------------------------------------------//
// 21.0 Btn Sizes 
//--------------------------------------------//
$btn-xl: 1rem 1.5rem;                           // btn size xl padding
$btn-lg: 0.75rem 1.25rem;                       // btn size lg padding
$btn-md: 0.65rem 1rem;                          // btn size md padding
$btn-sm: 0.5rem 1rem;                           // btn size sm padding
$btn-xs: 0rem 0.5rem;                           // btn size xs padding

//--------------------------------------------//
// 22.0 Btn Font Size
//--------------------------------------------//
$btn-xl-font-size: 20px;                        // btn xl font size
$btn-lg-font-size: 18px;                        // btn lg font size
$btn-md-font-size: 16px;                        // btn md font size
$btn-sm-font-size: 14px;                        // btn sm font size
$btn-xs-font-size: 12px;                        // btn xs font size

//--------------------------------------------//
// 23.0 Btn Social
//--------------------------------------------//
$btn-facebook-bg: $facebook;                    // facebook button background color
$btn-facebook-border: $border-solid $facebook;  // facebook button border
$btn-facebook-bg-hover: darken($facebook, 5%);  // facebook button background hover color

$btn-googlep-bg: $googlep;                     	// googlep button background color
$btn-googlep-border: $border-solid $googlep;    // googlep button border
$btn-googlep-bg-hover: darken($googlep, 5%);    // googlep button background hover color

$btn-instagram-bg: $instagram;                  // instagram button background color
$btn-instagram-border: $border-solid $instagram;// instagram button border
$btn-instagram-opacity-hover: 0.85;             // instagram button opacity hover 

$btn-linkedin-bg: $linkedin;                    // linkedin button background color
$btn-linkedin-border: $border-solid $linkedin;  // linkedin button border 
$btn-linkedin-bg-hover: darken($linkedin, 5%);  // linkedin button background hover color

$btn-pinterest-bg: $pinterest;                  // pinterest button background color
$btn-pinterest-border: $border-solid $pinterest;// pinterest button border 
$btn-pinterest-bg-hover: darken($pinterest, 5%);// pinterest button background hover color

$btn-snapchat-bg: $snapchat;                    // snapchat button background color
$btn-snapchat-border: $border-solid $snapchat;  // snapchat button border 
$btn-snapchat-bg-hover: darken($snapchat, 5%);  // snapchat button background hover color

$btn-twitter-bg: $twitter;                      // twitter button background color
$btn-twitter-border: $border-solid $twitter;    // twitter button border 
$btn-twitter-bg-hover: darken($twitter, 5%);    // twitter button background hover color

$btn-vk-bg: $vk;                                // vk button background color
$btn-vk-border: $border-solid $vk;              // vk button border 
$btn-vk-bg-hover: darken($vk, 5%);              // vk button background hover color

$btn-vimeo-bg: $vimeo;                          // vimeo button background color
$btn-vimeo-border: $border-solid $vimeo;        // vimeo button border 
$btn-vimeo-bg-hover: darken($vimeo, 5%);        // vimeo button background hover color

$btn-youtube-bg: $youtube;                      // youtube button background color
$btn-youtube-border: $border-solid $youtube;    // youtube button border 
$btn-youtube-bg-hover: darken($youtube, 5%);    // youtube button background hover color

//--------------------------------------------//
// 24.0 Btn Social Size
//--------------------------------------------//
$btn-social-xl-width: 75px;                     // btn social xl width
$btn-social-xl-height: 75px;                    // btn social xl height

$btn-social-lg-width: 65px;                     // btn social lg width
$btn-social-lg-height: 65px;                    // btn social lg height

$btn-social-md-width: 50px;                     // btn social md width
$btn-social-md-height: 50px;                    // btn social md height

$btn-social-sm-width: 40px;                     // btn social sm width
$btn-social-sm-height: 40px;                    // btn social sm height

$btn-social-xs-width: 30px;                     // btn social xs width
$btn-social-xs-height: 30px;                    // btn social xs height

//--------------------------------------------//
// 25.0 Data Tables Variables
//--------------------------------------------//
$data-tables-font-size: $font-size;             // font size for dataTables
$data-tables-border: $border-solid $border-color; // border setting for dataTables
$data-tables-sorting-border: 2px solid $primary; // border for sorting option in dataTables
$data-tables-font-size-head-footer: 14px;       // font size for header and footer in dataTables
$data-tables-paginate-bg: $gray;                // background color for paginate buttons in dataTables
$data-tables-paginate-padding: 0.4rem 0.75rem;  // padding for buttons in pagination on dataTables 
$data-tables-paginate-current-bg: $primary;     // background color for current / active paginate button in dataTables
$data-tables-paginate-hover-bg: $primary;       // hover background color for buttons in pagination on dataTables 
$data-tables-second-color: $white;              // second color for buttons in pagination

//--------------------------------------------//
// 26.0 Dropdown & Dropup Variables
//--------------------------------------------//
$drop-padding: 0.4rem 0.75rem;                  // drop padding
$dropdown-min-width: 140px;                     // dropdown min width
$caret-width: 0.3em;                            // caret width

//--------------------------------------------//
// 27.0 Card Variables
//--------------------------------------------//
$card-border: 1px solid $border-color;          // default card border
$card-bg: $white;                               // card background color
$card-second-color: #6e6e6e;                    // second color for font in card
$card-heading-padding: 1rem;                    // default padding for card-header
$card-body-padding: 0rem 1rem 1rem 1rem;        // default padding for card-body

//--------------------------------------------//
// 28.0 Forms Variables
//--------------------------------------------//
$input-padding-x: 0.75rem;                      // input padding x
$input-padding-y: 0.5rem;                       // input padding y
$input-line-height: 1.25;                       // input line height

$input-bg: $white;                              // input background color
$input-bg-disabled: $gray;                      // input background color disabled

$input-color: $font-color;                      // input color
$input-border: $border-solid $border-color;     // input border
$input-border-color: $border-color;             // input border color
$input-btn-border-width: $border-width;         // input btn border width
$input-box-shadow: inset 0 1px 1px rgba($black,.075);  // box shadow for input
 
$input-border-radius: $border-radius;           // border radius for input

$input-bg-focus: $input-bg;                     // input background focus
$input-border-focus: $primary;                  // input border focus
$input-box-shadow-focus: $input-box-shadow, rgba($input-border-focus, .6); // input box shadow in focus
$input-color-focus: $input-color;               // input focus color

$input-color-placeholder: lighten($font-color, 40%); // input placeholder color

$input-padding-x-sm: 0.5rem;                    // input padding x for sm device
$input-padding-y-sm: 0.25rem;                   // input padding y for sm device

$input-padding-x-lg: 1.5rem;                    // input padding x for lg device
$input-padding-y-lg: 0.75rem;                   // input padding y for lg device

$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; // input transiton

$form-text-margin-top: 0.25rem;                 // margin top for form text
$form-feedback-margin-top: $form-text-margin-top; // margin top for feedback text in form
$form-check-margin-bottom: 0.5rem;              // margin bottom for form check
$form-check-input-gutter: 1.25rem;              // form check input gutter
$form-check-input-margin-y: 0.25rem;            // margin y for form check input
$form-check-input-margin-x: 0.25rem;            // margin x for form check input
$form-check-inline-margin-x: 0.75rem;           // margin x for inline form check input
$form-group-margin-bottom: $spacer-y;           // margin bottom for form grop

$input-group-addon-bg: $gray;                   // input group addon background color
$input-group-addon-border-color: $input-border-color; // input group addon border color

$custom-file-height: 2.25rem;                   // custom file height
$custom-file-width: 100%;                       // custom file width

$custom-file-padding-x: 0.75rem;                // custom file padding x
$custom-file-padding-y: 0.45rem;                // custom file padding y
 
$custom-file-color: $font-color;                // custom file color
$custom-file-bg: $white;                        // custom file background color
$custom-file-border-radius: $border-radius;     // custom file border radius
$custom-file-button-color: $white;              // custom file button color
$custom-file-button-bg: $primary;               // custom file button background color
$custom-file-text: (
  placeholder: (
    en: "Choose file..."
  ),
  button-label: (
    en: "Browse"
  )
);

//--------------------------------------------//
// 29.0 Header Variables
//--------------------------------------------//
$header-border: $border-solid $border-color;    // border in header
$header-bg: $white;                             // background color for header
$header-hover-bg: #f2f2f2;                      // background hover color for header
$header-height: 55px;                           // header height (if you change height for header remember to change margin for sidebar and top for status)
$header-search-width: 200px;                    // search width in header
$mobile-height: 55px;                           // header height for mobile device
$mobile-search-height: 40px;                    // mobile search width
$bg-brand: $primary;                            // background color for brand in header
$header-brand-font-size: 21px;                  // brand font size 
$brand-transform: capitalize;                   // brand text transform

//--------------------------------------------//
// 30.0 Inbox Variables
//--------------------------------------------//
$inbox-width: 260px;                            // inbox width
$inbox-height: 100%;                            // inbox height
$inbox-bg: $white;                              // background color in inbox
$inbox-sidebar-header-padding: 1rem 1rem 0rem 1rem; // Padding in sidebar header

//--------------------------------------------//
// 31.0 Label Variables
//--------------------------------------------//
$label-padding: 0.25rem 0.5rem;                 // label padding
$label-font-size: 12px;                         // label font size
$label-line-height: 1.25;                       // label line height

//--------------------------------------------//
// 32.0 List-Group Variables
//--------------------------------------------//
$list-group-broder: $border-solid $border-color;// list group border
$list-group-border-color: $lighten-gray;        // list group border color
$list-group-border-radius: $border-radius;      // list group border radius
$list-group-item-padding-x: 1.25rem;            // list group item x padding
$list-group-item-padding-y: .75rem;             // list group item y padding
$list-group-bg: $white;                         // list group background color
$list-group-color: $white;                      // list group color
$list-group-hover-bg: $darken-gray;             // list group hover background color
$list-group-focus-bg: $white;                   // list group focus background color

$list-group-active-bg: $primary;                // list group active background color
$list-group-active-border: $primary;            // list group active border
$list-group-active-color: $white;               // list group active color

$list-group-focus-active-border: $primary;      // list group focus active border
$list-group-hover-active-border: $darken-primary; // list group hover active border

$list-group-disabled-color: $grey;              // list group disabled color
$list-group-disabled-bg: $white;                // list group disabled background

$list-group-link-color: $font-color;            // list group link color
$list-group-link-hover-color: $white;           // list group link hover color
 
$list-group-link-active-bg: $primary;           // list group link active background color
$list-group-link-active-color: $white;          // list group link active color

//--------------------------------------------//
// 33.0 Modal Variables
//--------------------------------------------//
$modal-inner-padding: 15px;                     // modal padding
$modal-border: 0px;                             // modal border
$modal-border-radius: 4px;                      // modal borde radius
 
$modal-dialog-margin: 10px;                     // modal dialog margin
$modal-dialog-sm-up-margin-y: 30px;             // modal dialog margin sm-up
$modal-title-line-height: 1.25;                 // modal title line height

$modal-content-bg: $white;                      // modal content background color
$modal-content-border-color: rgba($black,.2);   // modal content border
$modal-content-xs-box-shadow: 0 3px 9px rgba($black,.5); //modal content box-shadow xs
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black,.5); //modal content box-shadow sm up

$modal-backdrop-bg: $black;                     // modal background color for backdrop (overlay)
$modal-backdrop-opacity: .5;                    // modal backdrop opacity
$modal-header-border-color: $border-color;      // modal header border color
$modal-footer-border: $border-solid $border-color; // modal footer border
$modal-footer-bg: #f2f2f2;                      // modal footer background color
$modal-header-padding: 15px;                    // modal header padding

$modal-danger-color: $danger-color;             // modal danger background, icon and title color
$modal-info-color: $info-color;                 // modal info background, icon and title color
$modal-success-color: $success-color;           // modal success background, icon and title color
$modal-warning-color: $warning-color;           // modal warning background, icon and title color

$modal-lg: 800px;                               // modal lg width 
$modal-md: 500px;                               // modal md width (default width for modal) 
$modal-sm: 300px;                               // modal sm width 

$modal-transition: transform .3s ease-out;      // modal transition

//--------------------------------------------//
// 34.0 Nav Variables
//--------------------------------------------//
$nav-bg: #f2f2f2;                               // nav tabs background color
$nav-link: $font-color;                         // nav tabs link color
$nav-link-padding: 0.5em 1em;                   // nav link padding
$nav-disabled-link-color: $font-color;          // nav disabled link color
 
$nav-tabs-border-color: $border-color;          // nav tabs border color
$nav-tabs-border-radius: $border-radius;        // nav tabs border radius
$nav-tabs-active-link-hover-color: $primary;    // nav tabs active link hover color
$nav-tabs-active-link-hover-bg: $nav-bg;        // nav tabs active link bg hover
$nav-tabs-active-link-border-color: $primary;   // nav tabs active link bg hover
$nav-tabs-border-width: 0px;                    // nav tabs border width

//--------------------------------------------//
// 35.0 Pagination Variables
//--------------------------------------------//
$pagination-padding-x: 0.75rem;                 // padding x for pagination
$pagination-padding-y: 0.5rem;                  // padding y for pagination
$pagination-padding: 7px 10px;                  // defualt padding for pagination
$pagination-height: 30px;                       // pagination height
$pagination-line-height: 1rem;                  // pagination line height
 
$pagination-color: $font-color;                 // pagination color
$pagination-bg: $white;                         // pagination background color
$pagination-border-width: $border-solid;        // pagination border width
$pagination-border-color: $border-color;        // pagination border color
 
$pagination-hover-color: $white;                // pagination hover color
$pagination-hover-bg: $primary;                 // pagination hover background color
$pagination-hover-border: $border-solid $primary; // pagination hover border

$pagination-active-color: $white;               // pagination active color
$pagination-active-bg: $primary;                // pagination active background color
$pagination-active-border: $primary;            // pagination active border

$pagination-disabled-color: $gray;              // pagination disabled color
$pagination-disabled-bg: $white;                // pagination disabled background color
$pagination-disabled-border: $border-color;     // pagination disabled border

//--------------------------------------------//
// 36.0 Progress-Bar Variables
//--------------------------------------------//
$progress-height: 0.5rem;                       // progress bar height
$progress-font-size: .75rem;                    // progress bar font size
$progress-line-height: 1;                       // progress bar line height
$progress-bg: $default-color;                   // progress bar background color
$progress-border-radius: $border-radius;        // progress bar border radius
$progress-box-shadow: inset 0 .1rem .1rem rgba($black,.1); // progress bar box shadow
$progress-bar-color: $white;                    // progress bar color
$progress-bar-bg: $darken-gray;                 // second progress bar background color
$progress-bar-animation-timing: 1s linear infinite; // progress bar animation

$progress-bar-danger: $danger-color;            // progress bar danger
$progress-bar-default: $default-color;          // progress bar default
$progress-bar-info: $info-color;                // progress bar info
$progress-bar-inverse: $inverse-color;          // progress bar inverse
$progress-bar-primary: $primary;                // progress bar primary
$progress-bar-success: $success-color;          // progress bar success
$progress-bar-warning: $warning-color;          // progress bar warning

$progess-bar-xs: 0.25rem;                       // progress bar xs size
$progess-bar-sm: 0.5rem;                        // progress bar sm size
$progess-bar-md: 0.75rem;                       // progress bar md size
$progess-bar-lg: 1rem;                          // progress bar lg size
$progess-bar-xl: 1.25rem;                       // progress bar xl size

//--------------------------------------------//
// 37.0 Popover Variables
//--------------------------------------------//
$popover-inner-padding: 1px;                    // popover padding
$popover-bg: $white;                            // popover background color
$popover-max-width: 276px;                      // popover max width
$popover-border-width: $border-width;           // popover border width
$popover-border-color: rgba($black,.2);         // popover border color
$popover-box-shadow:  0 5px 10px rgba($black,.2); // popover box shadow

$popover-title-bg: darken($popover-bg, 3%);     // popover title background color
$popover-title-padding-x: 14px;                 // popover padding x in title
$popover-title-padding-y: 8px;                  // popover padding y in tilte

$popover-content-padding-x: 14px;               // popover padding x in content
$popover-content-padding-y: 9px;                // popover padding y in content

$popover-arrow-width: 10px;                     // popover arrow width
$popover-arrow-color: $popover-bg;              // popover arrow color

$popover-arrow-outer-width: ($popover-arrow-width + 1px); // popover arrow outer width
$popover-arrow-outer-color: fade-in($popover-border-color, .05); // popover arrow outer color

//--------------------------------------------//
// 38.0 State Variables
//--------------------------------------------//
$state-success-text: #3c763d;                   // success text color
$state-success-bg: #dff0d8;                     // success background color
$state-success-border: darken($state-success-bg, 5%); // success border color

$state-info-text: #31708f;                      // info text color
$state-info-bg:  #d9edf7;                       // info background color
$state-info-border: darken($state-info-bg, 7%); // info border color

$state-warning-text: #8a6d3b;                   // warning text color
$state-warning-bg: #fcf8e3;                     // warning background color
$mark-bg: $primary;                             // mark background color
$state-warning-border: darken($state-warning-bg, 5%); // warning border color

$state-danger-text: #a94442;                    // danger text color
$state-danger-bg: #f2dede;                      // danger background color
$state-danger-border: darken($state-danger-bg, 5%); // danger border color

//--------------------------------------------//
// 39.0 Sidebar Variables
//--------------------------------------------//
$sidebar-bg: $white;                            // sidebar left and sidebar right background color
$default-sidebar-width: 220px;                  // default sidebar width
$left-sidebar-width: $default-sidebar-width;    // left sidebar width
$right-sidebar-width: $default-sidebar-width;   // right sidebar width
$sidebar-minus-margin: -220px;                  // margin right "-220px" for hidden sidebar
$sidebar-header-margin: 15px 0px 10px 10px;     // sidebar header margin
$sidebar-header-icon-size: 13px;                // sidebar header icon font size
$sidebar-hover-bg: #f2f2f2;                     // sidebar hover and dropdown background color
$sidebar-link-height: 40px;                     // sidebar link height
$sidebar-link-size: 14px;                       // sidebar font size
$sidebar-padding: 0 1rem;                       // sidebar li a padding
$sidebar-border: $border-solid $border-color;   // border for all sidebars
$collapse-width: 60px;                          // width for collapse sidebar
$collapse-link-width: $collapse-width - 1px;    // link width for collapse sidebar
$collapse-link-height: 40px;                    // collapse height 
$collapse-drop-width: 155px;                    // collapse dropdown width 
$collapse-icon-size: 16px;                      // collapse icon font size

//--------------------------------------------//
// 40.0 Spinners Variables
//--------------------------------------------//
$spinner-width: 3rem;                           // spinner width
$spinner-height: 3rem;                          // spinner height
$spinner-border-radius: 50%;                    // spinner border radius

$spinner-xs-width: 1.15rem;                     // spinner xs width
$spinner-xs-height: 1.15rem;                    // spinner xs height

$spinner-sm-width: 1.5rem;                      // spinner sm width
$spinner-sm-height: 1.5rem;                     // spinner sm height

$spinner-md-width: 2.25rem;                     // spinner md width
$spinner-md-height: 2.25rem;                    // spinner md height

$spinner-lg-width: 3rem;                        // spinner lg width
$spinner-lg-height: 3rem;                       // spinner lg height

$spinner-xl-width: 4rem;                        // spinner xl width
$spinner-xl-height: 4rem;                       // spinner xl height

$spinner-before-width: 50%;                     // spinner before width
$spinner-before-height: 50%;                    // spinner before height
$spinner-before-radius: 100% 0 0 0;             // spinner before radius

$spinner-after-width: 75%;                      // spinner after width
$spinner-after-height: 75%;                     // spinner after height
$spinner-after-radius: 50%;                     // spinner after radius

$custom1-width: 3rem;                           // custom spinner 1 width
$custom1-height: 3rem;                          // custom spinner 1 height
$custom1-border-radius: 50%;                    // custom spinner 1 border radius

$custom1-after-width: 3rem;                     // custom spinner 1 after width
$custom1-after-height: 3rem;                    // custom spinner 1 after height
$custom1-after-radius: 50%;                     // custom spinner 1 after radius

$custom1-border-top: 0.5rem solid rgba(169,169,169, 0.2);    // custom spinner 1 border top
$custom1-border-bottom: 0.5rem solid rgba(169,169,169, 0.2); // custom spinner 1 border bottom
$custom1-border-left: 0.5rem solid;                          // custom spinner 1 border left
$custom1-border-right: 0.5rem solid rgba(169,169,169, 0.2);  // custom spinner 1 border right

$custom1-xs-border-top: 0.2rem solid rgba(169,169,169, 0.2);    // xs custom spinner 1 border top
$custom1-xs-border-bottom: 0.2rem solid rgba(169,169,169, 0.2); // xs custom spinner 1 border bottom
$custom1-xs-border-left: 0.2rem solid;                          // xs custom spinner 1 border left
$custom1-xs-border-right: 0.2rem solid rgba(169,169,169, 0.2);  // xs custom spinner 1 border right

$custom2-width: 3rem;                           // custom spinner 2 width
$custom2-height: 3rem;                          // custom spinner 2 height
$custom2-border-radius: 50%;                    // custom spinner 2 border radius
$custom2-font-size: 8px;                        // custom spinner 2 font size

$custom2-before-width: 50%;                     // custom spinner 2 before width 
$custom2-before-height: 50%;                    // custom spinner 2 before height
$custom2-before-border-radius: 100% 0 0 0;      // custom spinner 2 before border radius

$custom2-after-width: 75%;                      // custom spinner 2 after width
$custom2-after-height: 75%;                     // custom spinner 2 after height
$custom2-after-border-radius: 50%;              // custom spinner 2 after border radius

//--------------------------------------------//
// 41.0 Table
//--------------------------------------------//
$table-cell-padding: 0.5rem;                    // table cell padding
$table-sm-cell-padding: 0.25rem 0.5rem;         // table sm device cell padding
$table-bg: $white;                              // table background color
$table-font-color: $font-color;                 // table font color
$table-border: $border-solid $border-color;     // table border
$table-thead-font-size: 15px;                   // table thead font size
$table-font-size: $font-size;                   // table font size

$table-inverse-bg: $darken-grey;                // table inverse background color
$table-inverse-color: $white;                   // table inverse color
$table-inverse-bg-hover: lighten($table-inverse-bg,10%); // table inverse background color hover

$table-bg-accent: rgba($black,.05);             // table background color accent
$table-bg-hover: rgba($black,.075);             // table background color hover
$table-bg-active: $table-bg-hover;              // table background color active

$table-head-bg: $gray;                          // table head background color
$table-head-color: $font-color;                 // table head color

$table-border-width: 1px;                       // table border width
$table-border-color: $border-color;             // table border color

//--------------------------------------------//
// 42.0 Tooltips Variables
//--------------------------------------------//
$tooltip-max-width: 200px;                      // max width for tooltips
$tooltip-color: $white;                         // font color in tooltips
$tooltip-bg: $black;                            // arrow bg color
$tooltip-opacity: .9;                           // opacity for tooltip
$tooltip-padding-y: 3px;                        // padding y in tooltip
$tooltip-padding-x: 8px;                        // padding x in tooltip
$tooltip-margin: 3px;                           // tooltips margin
$tooltip-arrow-width: 5px;                      // arrow width in tooltip
$tooltip-arrow-color: $tooltip-bg;              // arrow color in tooltip

//--------------------------------------------//
// 43.0 Widget Weather
//--------------------------------------------//
$weather-img-size-style-1: 323px;               // img width in weather style 1
$weather-img-size-style-2: 420px;               // img width in weather style 2
$weather-img-size-style-3: 420px;               // img width in weather style 3
$weather-content-color: $white;                 // font color for conent in weather
$weather-info-padding: 10px 0px;                // padding for weather info style 1, 2
$weather-info-padding-3: 15px;                  // padding for weather info style 3
$weather-text-align: center;                    // text align in weather style 1, 2
$weather-text-align-3: right;                   // text align in weather style 3
$weather-content-font-size: 36px;               // font size for weather content
$weather-type-font-size: 18px;                  // font size for type weather
$weather-info-font-color-1: lighten($font-color, 20%);// font color for weather info style 1
$weather-info-font-color-2: $white;             // font color for weather info style 2
$weather-info-font-color-3: $white;             // font color for weather info style 3
$weather-time-icon-size: 17px;                  // font size for icons in info 
$weather-time-font-size: 13px;                  // font size in info

//--------------------------------------------//
// 44.0 Material Desgin Variables
//--------------------------------------------//
$md-default-color: $white;                      // material design default color 
$md-default-hover-color: $default-color;        // material design default hover color 
$md-default-disabled-color: #f0f0f0;            // material design default disable color 
$md-default-focus-color: #e0e0e0;               // material design default focus color 
$md-default-active-color: #e0e0e0;              // material design default active color 

$md-danger-color: #ff5252;                      // material design danger color 
$md-danger-hover-color: #ff3939;                // material design danger hover color 
$md-danger-disabled-color: #ff6363;             // material design danger disable color 
$md-danger-focus-color: #ff1f1f;                // material design danger focus color 
$md-danger-active-color: #ff1f1f;               // material design danger active color 

$md-info-color: #039be5;                        // material design info color 
$md-info-hover-color: #038acc;                  // material design info hover color 
$md-info-disabled-color: #1ca5e7;               // material design info disable color 
$md-info-focus-color: #0279b3;                  // material design info focus color 
$md-info-active-color: #0279b3;                 // material design info active color 

$md-primary-color: #4965fe;                     // material design primary color 
$md-primary-hover-color: #304ffe;               // material design primary hover color 
$md-primary-disabled-color: #5972fe;            // material design primary disabled color 
$md-primary-focus-color: #1739fe;               // material design primary focus color 
$md-primary-active-color: #1739fe;              // material design primary active color 

$md-success-color: #00c853;                     // material design success color 
$md-success-hover-color: #00b44b;               // material design success hover color 
$md-success-disabled-color: #00dc5b;            // material design success disabled color 
$md-success-focus-color: #00a143;               // material design success focus color 
$md-success-active-color: #00a143;              // material design success active color 

$md-warning-color: #fdd835;                     // material design warning color 
$md-warning-hover-color: #fdd31c;               // material design warning hover color 
$md-warning-disabled-color: #00dc5b;            // material design warning disabled color 
$md-warning-focus-color: darken($md-warning-color, 12%);// material design warning focus color 
$md-warning-active-color: darken($md-warning-color, 12%);// material design warning active color 

$md-btn-padding-xs: 2px 5px;                    // padding for xs size material design button
$md-btn-padding-sm: 5px 8px;                    // padding for sm size material design button
$md-btn-padding: 9px 13px;                      // padding for default material design button
$md-btn-padding-lg: 13px 16px;                  // padding for lg size material design button
$md-btn-padding-xl: 15px 17px;                  // padding for xl size material design button

$md-btn-default-bg: $default-color;             // background color for default material design button

$md-btn-circle-padding: 0px;                    // padding for material design cirlce button

$md-btn-circle-width-xs: 20px;                  // xs size for material design btn cirlce
$md-btn-circle-height-xs: 20px;                 // xs size for material design btn cirlce
$md-btn-circle-font-size-xs: 10px;              // xs size for material design btn cirlce

$md-btn-circle-width-sm: 28px;                  // sm size for material design btn cirlce
$md-btn-circle-height-sm: 28px;                 // sm size for material design btn cirlce
$md-btn-circle-font-size-sm: 12px;              // sm size for material design btn cirlce

$md-btn-circle-width: 35px;                     // material design btn cirlce width
$md-btn-circle-height: 35px;                    // material design btn cirlce height
$md-btn-circle-font-size: 13px;                 // font size for material design btn circle

$md-btn-circle-width-lg: 45px;                  // lg size for material design btn cirlce
$md-btn-circle-height-lg: 45px;                 // lg size for material design btn cirlce
$md-btn-circle-font-size-lg: 16px;              // lg size for material design btn cirlce

$md-btn-circle-width-xl: 55px;                  // xl size for material design btn cirlce
$md-btn-circle-height-xl: 55px;                 // xl size for material design btn cirlce
$md-btn-circle-font-size-xl: 19px;              // xl size for material design btn cirlce

$md-btn-primary-bg: $primary;                   // background color for primary material design button
$md-btn-primary-darken-bg: darken($primary, 7%);// darken background color for primary material design button
$md-btn-primary-color: $primary;                // color for primary material design button

$md-btn-success-bg: $success-color;             // background color for success material design button
$md-btn-success-color: $success-color;          // color for success material design button

$md-btn-danger-bg: $danger-color;               // background color for danger material design button
$md-btn-danger-color: $danger-color;            // color for danger material design button

$md-btn-info-bg: $info-color;                   // background color for info material design button
$md-btn-info-color: $info-color;                // color for info material design button

$md-btn-warning-bg: $warning-color;             // background color for warning material design button
$md-btn-warning-color: $warning-color;          // color for warning material design button

$md-form-border-bottom: $border-solid $border-color; // border bottom for material design forms
$md-form-disabled-border-bottom: $border-dashed $border-color; // border bottom for disabled material design forms

$md-progress-bar-height: 4px;                   // material design progress bar height
$md-progress-bar-width: 100%;                   // material design progress bar width
$md-progress-bar-radius: 2px;                   // material design progress bar radius

$md-progress-bar-danger: $danger-color;         // material design progress bar danger
$md-progress-bar-default: $default-color;       // material design progress bar default
$md-progress-bar-info: $info-color;             // material design progress bar info
$md-progress-bar-inverse: $inverse-color;       // material design progress bar inverse
$md-progress-bar-primary: $primary;             // material design progress bar primary
$md-progress-bar-success: $success-color;       // material design progress bar success
$md-progress-bar-warning: $warning-color;       // material design progress bar warning

$off-switch-color: $gray;                       // off color for switch
$off-switch-background-color: rgba(0,0,0,.2);   // off background color for switch
$on-switch-color: $primary;                     // on color for switch 
$on-switch-background-color: rgba($on-switch-color, .50); // on background color for switch

$md-xs-progress-bar-size: 2px;                  // material design xs size progress bar 
$md-sm-progress-bar-size: 4px;                  // material design sm size progress bar 
$md-m-progress-bar-size: 7px;                   // material design md size progress bar 
$md-lg-progress-bar-size: 10px;                 // material design lg size progress bar 
$md-xl-progress-bar-size: 12px;                 // material design xl size progress bar 

//--------------------------------------------//
// 45.0 Stats Widget
//--------------------------------------------//
$stats2-danger-rgba: rgba(204,65,65, 0.7);      // rgba color for danger stats 2
$stats2-info-rgba: rgba(2,124,183, 0.7);        // rgba color for info stats 2
$stats2-primary-rgba: rgba(33,55,177, 0.7);     // rgba color for primary stats 2
$stats2-success-rgba: rgba(0,140,58, 0.7);      // rgba color for success stats 2
$stats2-warning-rgba: rgba(227,194,47, 0.7);    // rgba color for warning stats 2