// List Group
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 List Group / .list-group 
// 2.0 List Group Item Action / .list-group-item-action
// 3.0 List Group Item / .list-group-item

//--------------------------------------------//
// 1.0 List Group / .list-group 
//--------------------------------------------//
.list-group {
display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
}//list group

//--------------------------------------------//
// 2.0 List Group Item Action / .list-group-item-action
//--------------------------------------------//
.list-group-item-action {
width: 100%;
color: $font-color;
text-align: inherit;
  &:focus {
  background-color: $list-group-focus-bg;
  border: $border-solid $list-group-border-color;
  color: $font-color;
  }//focus
  &:hover {
  background-color: $list-group-hover-bg;
  border: $border-solid $list-group-border-color;
  color: $font-color;
  }//hover
}//list-group-item-action

//--------------------------------------------//
// 3.0 List Group Item / .list-group-item
//--------------------------------------------//
.list-group-item {
position: relative;
display: flex;
flex-flow: row wrap;
align-items: center;
padding: $list-group-item-padding-y $list-group-item-padding-x;
margin-bottom: -$list-group-border-width;
background-color: $list-group-bg;
border: $border-solid $list-group-border-color;
@include transition($fast);
  &.icon-left i {
  margin-right: 1rem;
  }//icon-left  
  &.icon-right {
  justify-content: space-between;
  }//icon-left
  &.disabled,
  &:disabled {
  color: $grey;
  cursor: $cursor-disabled;
  background-color: $list-group-disabled-bg;
    &:focus {
    color: $grey;
    cursor: $cursor-disabled;
    background-color: $list-group-disabled-bg;
    }//focus
    &:hover {
    color: $grey;
    cursor: $cursor-disabled;
    background-color: $list-group-disabled-bg;  
    }//hover
  }//disabled
  &.active {
  color: $list-group-link-active-color;
  background-color: $list-group-link-active-bg;
  border: $border-solid $list-group-active-border;
    &:focus {
    background-color: $primary; 
    border: $border-solid $primary;
    color: $white;
    }//focus  
    &:hover {
    background-color: $list-group-hover-active-border;
    border: $border-solid $list-group-hover-active-border;
    }//hover
  }//active
}//list-group-item