// Labels
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Label / .label
	// 1.1 Label Round / .label-round
	// 1.2 Label Danger / .label-danger
	// 1.3 Label Default / .label-default
	// 1.4 Label Info / .label-info
	// 1.5 Label Inverse / .label-inverse
	// 1.6 Label Primary / .label-primary
	// 1.7 Label Success / .label-success
	// 1.8 Label Warning / .label-warnin
	
//--------------------------------------------//
// 1.0 Label / .label
//--------------------------------------------//
.label {
padding: $label-padding;
font-size: $label-font-size;
line-height: $label-line-height;
	
	//--------------------------------------------//
	// 1.1 Label Round / .label-round
	//--------------------------------------------//
	&.label-round {
	border-radius: $default-radius;
	}//label-round

	//--------------------------------------------//
	// 1.2 Label Danger / .label-danger
	//--------------------------------------------//
	&.label-danger {
	background-color: $danger-color;
	color: $white;
	}//label-danger	
	
	//--------------------------------------------//
	// 1.3 Label Default / .label-default
	//--------------------------------------------//
	&.label-default {
	background-color: $default-color;
	color: $font-color;
	}//label-default
	
	//--------------------------------------------//
	// 1.4 Label Info / .label-info
	//--------------------------------------------//	
	&.label-info {
	background-color: $info-color;
	color: $white;
	}//label-info	
	
	//--------------------------------------------//
	// 1.5 Label Inverse / .label-inverse
	//--------------------------------------------//
	&.label-inverse {
	background-color: $inverse-color;
	color: $white;
	}//label-inverse
	
	//--------------------------------------------//
	// 1.6 Label Primary / .label-primary
	//--------------------------------------------//	
	&.label-primary {
	background-color: $primary;
	color: $white;
	}//label-primary	
	
	//--------------------------------------------//
	// 1.7 Label Success / .label-success
	//--------------------------------------------//
	&.label-success {
	background-color: $success-color;
	color: $white;
	}//label-success
	
	//--------------------------------------------//
	// 1.8 Label Warning / .label-warnin
	//--------------------------------------------//	
	&.label-warning {
	background-color: $warning-color;
	color: $white;
	}//label-warning

}//label