// Material Design Buttons
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Material Design Btn / .md-btn
	// 1.1 Default Material Design Btn / .md-btn-default
	// 1.2 Primary Material Design Btn / .md-btn-primary
	// 1.4 Danger Material Design Btn / .md-btn-danger
	// 1.5 Info Material Design Btn / .md-btn-info
	// 1.6 Warning Material Design Btn / .md-btn-warning
	// 1.7 Raised Material Design Btn / .md-btn-raised
	// 1.8 Material Design Circle Btn / .md-btn-circle
// 2.0 Ripple Animation / .md-ripple, .ripple

//--------------------------------------------//
// 1.0 Material Design Btn / .md-btn
//--------------------------------------------//
.md-btn {
padding: $md-btn-padding;
line-height: $btn-line-height;
outline: none;
border: 0;
border-radius: 2px;
font-size: 13px;
font-weight: 400;
cursor: pointer;
color: rgba(255,255,255, 0.85);
text-transform: uppercase;
@include transition($very-fast);
	&:focus, &:hover, &:active {
	outline: none;
	}//focus, hover, active
	
	&:disabled, &.disabled {
	cursor: $cursor-disabled;
	opacity: 0.75;
	}//disabled

	@mixin md-colors($bg-color, $bg-hover, $bg-focus) {
	background-color: $bg-color;
		&:hover {
		background-color: $bg-hover;
		}//hover
		&:focus {
		background-color: $bg-focus;
		}//focus	
	}//md-colors

	//--------------------------------------------//
	// 1.1 Default Material Design Btn / .md-btn-default
	//--------------------------------------------//
	&-default {
	@include md-colors($md-default-color, $md-default-hover-color, $md-default-focus-color);
	color: $font-color;
		.ripple {
		background-color: $md-default-focus-color;
		}//ink
		&.active, &:active {
		background-color: $md-default-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-default-disabled-color;
		}//disabled
	}//md-btn-default	

	//--------------------------------------------//
	// 1.2 Primary Material Design Btn / .md-btn-primary
	//--------------------------------------------//
	&-primary {
	@include md-colors($md-primary-color, $md-primary-hover-color, $md-primary-focus-color);
		&.md-btn-flat {
		background-color: transparent;
		color: $md-btn-primary-color;
			&:focus {
			background-color: darken($md-btn-default-bg, 5%);
			}//focus
			&:hover {
			background-color: $md-btn-default-bg;
			}//hover
		}//md-btn-flat
		.ripple {
		background-color: $md-primary-focus-color;
		}//ink
		&.active, &:active {
		background-color: $md-primary-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-primary-disabled-color;
		}//disabled
	}//md-btn-primary	

	//--------------------------------------------//
	// 1.3 Success Material Design Btn / .md-btn-success
	//--------------------------------------------//
	&-success {
	@include md-colors($md-success-color, $md-success-hover-color, $md-success-focus-color);
		&.md-btn-flat {
		background-color: transparent;
		color: $md-btn-success-color;
			&:focus {
			background-color: darken($md-btn-default-bg, 5%);
			}//focus
			&:hover {
			background-color: $md-btn-default-bg;
			}//hover
		}//md-btn-flat
		.ripple {
		background-color: $md-success-focus-color;
		}//ink
		&.active, &:active {
		background-color: $md-success-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-success-disabled-color;
		}//disabled
	}//md-btn-success	

	//--------------------------------------------//
	// 1.4 Danger Material Design Btn / .md-btn-danger
	//--------------------------------------------//
	&-danger {
	@include md-colors($md-danger-color, $md-danger-hover-color, $md-danger-focus-color);
		&.md-btn-flat {
		background-color: transparent;
		color: $md-btn-danger-color;
			&:focus {
			background-color: darken($md-btn-default-bg, 5%);
			}//focus
			&:hover {
			background-color: $md-btn-default-bg;
			}//hover
		}//md-btn-flat
		.ripple {
		background-color: $md-danger-focus-color;	
		}//ink
		&.active, &:active {
		background-color: $md-danger-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-danger-disabled-color;
		}//disabled
	}//md-btn-danger	

	//--------------------------------------------//
	// 1.5 Info Material Design Btn / .md-btn-info
	//--------------------------------------------//
	&-info {
	@include md-colors($md-info-color, $md-info-hover-color, $md-info-focus-color);
		&.md-btn-flat {
		background-color: transparent;
		color: $md-btn-info-color;
			&:focus {
			background-color: darken($md-btn-default-bg, 5%);
			}//focus
			&:hover {
			background-color: $md-btn-default-bg;
			}//hover
		}//md-btn-flat
		.ripple {
		background-color: $md-info-focus-color;
		}//ink
		&.active, &:active {
		background-color: $md-info-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-info-disabled-color;
		}//disabled
	}//md-btn-info	

	//--------------------------------------------//
	// 1.6 Warning Material Design Btn / .md-btn-warning
	//--------------------------------------------//
	&-warning {
	@include md-colors($md-warning-color, $md-warning-hover-color, $md-warning-focus-color);
		&.md-btn-flat {
		background-color: transparent;
		color: $md-btn-warning-color;
			&:focus {
			background-color: darken($md-btn-default-bg, 5%);
			}//focus
			&:hover {
			background-color: $md-btn-default-bg;
			}//hover
		}//md-btn-flat
		.ripple {
		background-color: $md-warning-focus-color;
		}//ink
		&.active, &:active {
		background-color: $md-warning-active-color;
		}//active
		&.disabled, &:disabled {
		background-color: $md-warning-disabled-color;
		}//disabled
	}//md-btn-warning	
	
	//--------------------------------------------//
	// 1.7 Raised Material Design Btn / .md-btn-raised
	//--------------------------------------------//
	&-raised {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
	0 1px 2px 0 rgba(0, 0, 0, .24); 
		&:active, &.active, &:active:focus, &.active:focus {
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
		0 3px 6px rgba(0, 0, 0, .23);
		}//active, active:focus
		&:focus {
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
		0 3px 6px rgba(0, 0, 0, .23);
		}//focus
	}//md-btn-raised

	//--------------------------------------------//
	// 1.8 Material Design Circle Btn / .md-btn-circle
	//--------------------------------------------//
	&-circle {
	width: $md-btn-circle-width;
	height: $md-btn-circle-height;
	padding: $md-btn-circle-padding;
	font-size: $md-btn-circle-font-size;
	border-radius: 50%;
	}//circle
	
	//--------------------------------------------//
	// 1.9 Material Design Btn xs / .md-btn-xs
	//--------------------------------------------//	
	&-xs {
	padding: $md-btn-padding-xs;
		&.md-btn-circle {
		width: $md-btn-circle-width-xs;
		height: $md-btn-circle-height-xs;
		font-size: $md-btn-circle-font-size-xs;
		padding: 0;
		}//md-btn-circle		
	}//md-btn-xs		

	//--------------------------------------------//
	// 1.10 Material Design Btn sm / .md-btn-sm
	//--------------------------------------------//	
	&-sm {
	padding: $md-btn-padding-sm;
		&.md-btn-circle {
		width: $md-btn-circle-width-sm;
		height: $md-btn-circle-height-sm;
		font-size: $md-btn-circle-font-size-sm;
		padding: 0;
		}//md-btn-circle
	}//md-btn-sm		

	//--------------------------------------------//
	// 1.11 Material Design Btn md / .md-btn-md
	//--------------------------------------------//	
	&-md {
	padding: $md-btn-padding;
		&.md-btn-circle {
		width: $md-btn-circle-width;
		height: $md-btn-circle-height;
		font-size: $md-btn-circle-font-size;
		padding: 0;
		}//md-btn-circle
	}//md-btn-md		

	//--------------------------------------------//
	// 1.12 Material Design Btn lg / .md-btn-lg
	//--------------------------------------------//	
	&-lg {
	padding: $md-btn-padding-lg;
		&.md-btn-circle {
		width: $md-btn-circle-width-lg;
		height: $md-btn-circle-height-lg;
		font-size: $md-btn-circle-font-size-lg;
		padding: 0;
		}//md-btn-circle
	}//md-btn-lg		

	//--------------------------------------------//
	// 1.12 Material Design Btn xl / .md-btn-xl
	//--------------------------------------------//	
	&-xl {
	padding: $md-btn-padding-xl;
		&.md-btn-circle {
		width: $md-btn-circle-width-xl;
		height: $md-btn-circle-height-xl;
		font-size: $md-btn-circle-font-size-xl;
		padding: 0;
		}//md-btn-circle
	}//md-btn-xl	

}//md-btn

//--------------------------------------------//
// 2.0 Ripple Animation / .md-ripple, .ripple
//--------------------------------------------//
.md-ripple {
position: relative;
overflow: hidden;
-webkit-transform: translate3d(0,0,0);
}//md-ripple

.ripple {
display: block;
position: absolute;
pointer-events: none;
border-radius: 50%;
transform: scale(0);
opacity: 1;
background-color: $white;
	&.animate {
	animation: ripple .5s linear;
	}//animate
}//ripple

@keyframes ripple {
	100% {
	opacity: 0;
	transform: scale(2.5);
	}
}//ripple
