// Material Design Forms Validation
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Has Danger / .has-danger
// 2.0 Has Success / .has-success
// 3.0 Has Warning / .has-warning

//--------------------------------------------//
// 1.0 Has Danger / .has-danger
//--------------------------------------------//
.has-danger {
	.md-form-control {
	border-bottom: $border-solid $danger-color;
		&:focus {
	        & ~ .md-control-label,
	        & ~ .md-icon {
	        color: $danger-color;
	        }//focus md-control-label, md-icon
		}//focus
	}//md-form-control
	.md-animation {
		&:before, &:after{ 
		background: $danger-color;
		}//before, after
	}//md-animation
	.md-control-label, .md-icon  {
	color: $danger-color;
	}//md-control-label, md-icon
}//has-danger

//--------------------------------------------//
// 2.0 Has Success / .has-success
//--------------------------------------------//
.has-success {
	.md-form-control {
	border-bottom: $border-solid $success-color;
		&:focus {
	        & ~ .md-control-label,
	        & ~ .md-icon {
	        color: $success-color;
	        }//focus md-control-label, md-icon
		}//focus
	}//md-form-control
	.md-animation {
		&:before, &:after{ 
		background: $success-color;
		}//before, after
	}//md-animation
	.md-control-label, .md-icon {
	color: $success-color;
	}//md-control-label, md-icon
}//has-success

//--------------------------------------------//
// 3.0 Has Warning / .has-warning
//--------------------------------------------//
.has-warning {
	.md-form-control {
	border-bottom: $border-solid $warning-color;
		&:focus {
	        & ~ .md-control-label,
	        & ~ .md-icon {
	        color: $warning-color;
	        }//focus md-control-label, md-icon
		}//focus
	}//md-form-control
	.md-animation {
		&:before, &:after{ 
		background: $warning-color;
		}//before, after
	}//md-animation
	.md-control-label, .md-icon {
	color: $warning-color;
	}//md-control-label, md-icon
}//has-warning