// Material Design Forms
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Material Design Form / .md-form
// 2.0 Material Design Form Group / .md-form-group
// 3.0 Material Design Form Control / .md-form-control
// 4.0 Material Design Label / .md-control-label
// 5.0 Material Design Animation / .md-animation
// 6.0 Material Design Form Check / .md-form-check
// 7.0 Material Design Form Floating / .md-form-floating
// 8.0 Material Design Form Size / .md-form-sm, md-form-lg

//--------------------------------------------//
// 1.0 Material Design Form / .md-form
//--------------------------------------------//
.md-form {

    .md-control-label {
    top: -15px;
    color: $font-color; 
    }//md-control-label

    .md-form-group, .form-group { 
    position: relative; 
    margin-bottom: 30px; 
    }//md-form-group

}//md-form

//--------------------------------------------//
// 2.0 Material Design Form Group / .md-form-group
//--------------------------------------------//
.md-form-group, {  

}//md-form-group

//--------------------------------------------//
// 3.0 Material Design Form Control / .md-form-control
//--------------------------------------------//
.md-form-control {
font-size: 14px;
padding: 10px 0px;
background-color: transparent;
display: block;
width: 100%;
border: none;
color: $font-color;
border-bottom: $md-form-border-bottom;
    &:focus { 
    outline: none; 
        & ~ .md-control-label   {
        color: $primary;
        }//focus md-control-label
        ~ .md-animation {
            &:before, &:after {
            width: 50%;
            }//before, after
        }//md-animation
    }//focus
    &:disabled {
    cursor: $cursor-disabled;
    border-bottom: $md-form-disabled-border-bottom;
    }//disabled
}//md-form-control

//--------------------------------------------//
// 4.0 Material Design Label / .md-control-label
//--------------------------------------------//
.md-control-label {
font-size: 14px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 0px;
transition: 0.2s ease all; 
}//md-control-label

//--------------------------------------------//
// 5.0 Material Design Animation / .md-animation
//--------------------------------------------//
.md-animation  { 
position: relative;
display: block; 
width: 100%; 
    &:before, &:after {
    content: '';
    height: 2px; 
    width: 0;
    position: absolute;
    bottom: 0px; 
    background: $primary; 
    transition: 0.2s ease all;      
    }//before, after
    &:before {
    left: 50%;
    }//before
    &:after {
    right: 50%; 
    }//after
}//md-animation

//--------------------------------------------//
// 6.0 Material Design Form Check / .md-form-check
//--------------------------------------------//
.md-form-check, .md-form-group {
    label {
    font-size: $font-size;  
    }//label    
}//md-form-check, md-form-group 

.md-form-check {
position: relative;
display: block;
margin-bottom: $form-check-margin-bottom;
    &.disabled {
        .md-form-check-label {
        color: $text-muted;
        cursor: $cursor-disabled;
        }//md-form-check-label
    }//disabled
}//md-form-check

.md-form-check-label {
padding-left: $form-check-input-gutter;
margin-bottom: 0;
cursor: pointer;
}//md-form-check-label

.md-form-check-input {
position: absolute;
margin-top: $form-check-input-margin-y;
margin-left: -$form-check-input-gutter;
    &:only-child {
    position: static;
    }//only-child
}//md-form-check-input

.md-form-check-inline {
display: inline-block;
    .md-form-check-label {
    vertical-align: middle;
    }//md-form-check-label
    + .md-form-check-inline {
    margin-left: $form-check-inline-margin-x;
    }//md-form-check-inline
}//md-form-check-inline

//--------------------------------------------//
// 7.0 Material Design Form Floating / .md-form-floating
//--------------------------------------------//
.md-form-floating {

    .md-form-group, .form-group { 
    position: relative; 
    margin-bottom: 30px;
    }//md-form-group

    .md-control-label {
    top: 15px;
    color: darken($gray, 30%);
    }//md-control-label

    .md-form-control:focus ~ .md-control-label, 
    .md-form-control:valid ~ .md-control-label {
    top:-13px;
    font-size: 12px;
    }//md-form-control:focus ~ md-control-label, md-form-control:valid ~ md-control-label   

    .md-form-control:focus ~ .md-control-label, 
    .md-form-control:valid ~ .md-control-label,
    .md-form-control:focus ~ .md-icon, 
    .md-form-control:valid ~ .md-icon {
    color: $primary;
    }//md-form-control ~ md-control-label,  md-form-control ~ md-icon
    
    .md-icon {
    position: absolute;
    right: 0px;
    left: auto;
    top: 15px;
    color: darken($gray, 30%);
    font-size: 16px;
    }//md-icon

}//md-form-floating

//--------------------------------------------//
// 8.0 Material Design Form Size / .md-form-sm, md-form-lg
//--------------------------------------------//
.md-form-floating {

    .md-form-sm {
        .md-form-control {
        padding: 8px 0px;
            &:focus { 
                & ~ .md-control-label   {
                font-size: 10px;
                }//focus md-control-label
            }//focus
        }//md-form-control
        .md-control-label, .md-form-control {
        font-size: 12px;
        }//md-control-label, md-form-control
        .md-control-label {
        top: 15px;
        }//md-control-label
    }//md-form-sm

    .md-form-lg {
        .md-form-control {
            &:focus { 
                & ~ .md-control-label   {
                font-size: 15px;
                }//focus md-control-label
            }//focus
        }//md-form-control
        .md-control-label, .md-form-control {
        font-size: 18px;
        }//md-control-label, md-form-control
    }//mod-form-lg

}//md-form-floating

.md-form {

    .md-form-sm {
        .md-form-control {
        padding: 8px 0px;
            &:focus { 
                & ~ .md-control-label   {
                font-size: 10px;
                }//focus md-control-label
            }//focus
        }//md-form-control
        .md-control-label, .md-form-control {
        font-size: 12px;
        }//md-control-label, md-form-control
        .md-control-label {
        top: -15px;
        }//md-control-label
    }//md-form-sm

    .md-form-lg {
        .md-form-control {
            &:focus { 
                & ~ .md-control-label   {
                font-size: 15px;
                }//focus md-control-label
            }//focus
        }//md-form-control
        .md-control-label, .md-form-control {
        font-size: 18px;
        }//md-control-label, md-form-control
    }//mod-form-lg

}//md-form-floating