// Material Design Progress Bar
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0  Material Design Progress Bar / .md-progress-bar
// 2.0  Progress Bar Animations / animation, animation-short

//--------------------------------------------//
// 1.0  Material Design Progress Bar / .md-progress-bar
//--------------------------------------------//
.md-progress-bar {
position: relative;
height: $md-progress-bar-height;
display: block;
width: $md-progress-bar-width;
background-color: $md-progress-bar-default;
border-radius: $md-progress-bar-radius;
background-clip: padding-box;
overflow: hidden;
	
	.md-progress-style-1 {
	position: absolute;
	background-color: inherit;
	top: 0;
	bottom: 0;
	width: 70%;
	height: 4px;
	}//md-progress-style-1 

	.md-progress-style-2 {
		&:before {
		content: '';
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		animation: animation 2.1s cubic-bezier(0.655, 0.814, 0.734, 0.394) infinite;	
		}//before
		&:after {
      	content: '';
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		animation: animation-short 2.1s cubic-bezier(0.164, 0.83, 0.43, 1) infinite;
		animation-delay: 1.15s; 
		}//after
	}//md-progress-style-2
	
	&.md-success-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-success;
		}//md-progress-style-1, md-progress-style-2
	}//md-success-progress-bar	

	&.md-info-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-info;
		}//md-progress-style-1, md-progress-style-2
	}//md-info-progress-bar	

	&.md-danger-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-danger;
		}//md-progress-style-1, md-progress-style-2
	}//md-danger-progress-bar	

	&.md-warning-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-warning;
		}//md-progress-style-1, md-progress-style-2
	}//md-warning-progress-bar	

	&.md-primary-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-primary;
		}//md-progress-style-1, md-progress-style-2
	}//md-primary-progress-bar	

	&.md-inverse-progress-bar {
		.md-progress-style-1, .md-progress-style-2 {
		background-color: $md-progress-bar-inverse;
		}//md-progress-style-1, md-progress-style-2
	}//md-inverse-progress-bar
	
	&.md-xs-progress-bar {
	height: $md-xs-progress-bar-size;
		.md-progress-style-1, .md-progress-style-2 {
		height: $md-xs-progress-bar-size;
		}//md-progress-style-1, md-progress-style-2
	}//md-xs-progress-bar	

	&.md-sm-progress-bar {
	height: $md-sm-progress-bar-size;
		.md-progress-style-1, .md-progress-style-2 {
		height: $md-sm-progress-bar-size;
		}//md-progress-style-1, md-progress-style-2
	}//md-sm-progress-bar	

	&.md-m-progress-bar {
	height: $md-m-progress-bar-size;
		.md-progress-style-1, .md-progress-style-2 {
		height: $md-m-progress-bar-size;
		}//md-progress-style-1, md-progress-style-2
	}//md-md-progress-bar	

	&.md-lg-progress-bar {
	height: $md-lg-progress-bar-size;
		.md-progress-style-1, .md-progress-style-2 {
		height: $md-lg-progress-bar-size;
		}//md-progress-style-1, md-progress-style-2
	}//md-lg-progress-bar	

	&.md-xl-progress-bar {
	height: $md-xl-progress-bar-size;
		.md-progress-style-1, .md-progress-style-2 {
		height: $md-xl-progress-bar-size;
		}//md-progress-style-1, md-progress-style-2
	}//md-xl-progress-bar

}//md-progress-bar

//--------------------------------------------//
// 2.0  Progress Bar Animations / animation, animation-short
//--------------------------------------------//
@keyframes animation {
	0% {
	left: -35%;
	right: 100%; 
	}
	60% {
	left: 100%;
	right: -90%; 
	}
	100% {
	left: 100%;
	right: -90%; 
	} 
}//animation

@keyframes animation-short {
	0% {
	left: -200%;
	right: 100%; 
	}
	60% {
	left: 107%;
	right: -8%; 
	}
	100% {
	left: 107%;
	right: -8%; 
	} 
}//animation-short