// Material Design Switch
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Material Design Switch Label / .md-switch-label
// 2.0 Material Design Switch / .md-switch

//--------------------------------------------//
// 1.0 Material Design Switch Label / .md-switch-label
//--------------------------------------------//
.md-switch-label {
display: inline-block;
position: relative;
border-radius: 8px;
width: 40px;
height: 9px;
margin-top: 10px;
background-color: $off-switch-background-color;
@include transition($fast);
	&:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 0em;
	width: 15px;
	height: 15px;
	background-color: $off-switch-color;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.095), 0 1px 5px 0 rgba(0, 0, 0, 0.085);
	@include transition($fast);
	}//before
}//md-switch-label

//--------------------------------------------//
// 2.0 Material Design Switch / .md-switch
//--------------------------------------------//
.md-switch {
display: none;
	&:checked + .md-switch-label {
	background: $on-switch-background-color;
	}//checked
	&:checked + .md-switch-label::before {
	transform: translateX(26px);
	background-color: $on-switch-color;
	}//checked
}//md-switch