// Alerts Box
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Alerts / .alert-box

//--------------------------------------------//
// 1.0 Alerts / .alert-box
//--------------------------------------------//
.alert-box{
padding: 0rem;
position: relative;

	&.alert-success {
	border: 1px solid $alert-success-color;
		.alert-icon {
		background-color: $alert-success-color;	
		}//alert-icon
	}//alert-success		
	&.alert-info {
	border: 1px solid $alert-info-color;	
		.alert-icon {
		background-color: $alert-info-color;	
		}//alert-icon
	}//alert-info		
	&.alert-warning {
	border: 1px solid $alert-warning-color;	
		.alert-icon {
		background-color: $alert-warning-color;	
		}//alert-icon
	}//alert-warning		
	&.alert-danger {
	border: 1px solid $alert-danger-color;	
		.alert-icon {
		background-color: $alert-danger-color;	
		}//alert-icon
	}//alert-danger

	.alert-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $alert-icon-width;
	height: 100%;	
	text-align: center;
	color: $alert-icon-box-color;
		i {
		margin-right: 0px;	
		}//i
	}//alert-icon

	.alert-content {
	position: relative;
	margin: $alert-content-margin;
	padding: $alert-content-padding;
	}//alert-content

	&.alert-success,
	&.alert-info,
	&.alert-warning,
	&.alert-danger {
	color: $alert-box-font-color;	
	background-color: $alert-box-bg-color;
	}//

}//alert-box