// Alert Style
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Alerts / .alert

//--------------------------------------------//
// 1.0 Alerts / .alert
//--------------------------------------------//
.alert {
border-radius: $alert-border-radius;
padding: $alert-padding;
margin-bottom: 1rem;
font-size: $alert-font-size;
	
	.close {
	text-shadow: none;
	opacity: 0.4;
	margin-top: -1px;
	@include transition($fast);
		&:hover {
		opacity: 0.6;
		}//hover
	}//close
	
	.alert-icon {
	float: left;
	height: 100%;
		i {
		font-size: $alert-icon-size;
		margin-right: 5px;
		}//i
	}//alert-icon

	&.alert-success,
	&.alert-info,
	&.alert-warning,
	&.alert-danger {
	color: $alert-font-color;
	}//alert-success, alert-info, alert-warning, alert-danger
	
	&.alert-success {
	background-color: $alert-success-color;
		.alert-link {
		color: $alert-success-link-color;
		font-weight: $alert-font-weight;
		@include transition($fast);
			&:hover {
			color: $alert-font-color-hover;
			}//hover
		}//alert-link
	}//alert-success	

	&.alert-info {
	background-color: $alert-info-color;
		.alert-link {
		color: $alert-info-link-color;
		font-weight: $alert-font-weight;
		@include transition($fast);
			&:hover {
			color: $alert-font-color-hover;
			}//hover
		}//alert-link
	}//alert-info	

	&.alert-warning {
	background-color: $alert-warning-color;
		.alert-link {
		color: $alert-warning-link-color;
		font-weight: $alert-font-weight;
		@include transition($fast);
			&:hover {
			color: $alert-font-color-hover;
			}//hover
		}//alert-link
	}//alert-warning

	&.alert-danger {
	background-color: $alert-danger-color;
		.alert-link {
		color: $alert-danger-link-color;
		font-weight: $alert-font-weight;
		@include transition($fast);
			&:hover {
			color: $alert-font-color-hover;
			}//hover
		}//alert-link
	}//alert-danger

}//alert