// Card
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Card / .card
	// 1.1 Card Heading / .card-heading
	// 1.2 Card Body / .card-body
	// 1.3 Card Shadow / .card-shadow
	// 1.4 Card No Border / .card-no-border
	// 1.5 Card Style 1 / .card-style-1
	// 1.6 Card Thumbnail & 2 / .card-thumbnail,  .card-thumbnail-2
	// 1.7 Card Thumbnail  / .card-thumbnail
	// 1.8 Card Thumbnail 2  / .card-thumbnail-2
	// 1.9 Card Footer / .card-footer
	
//--------------------------------------------//
// 1.0 Card / .card
//--------------------------------------------//
.card {
position: relative;
background-color: $card-bg;
border: $card-border;
display: flex;
flex-direction: column;
border-radius: $border-radius;

	//--------------------------------------------//
	// 1.1 Card Heading / .card-heading
	//--------------------------------------------//
	&-heading {
	padding: $card-heading-padding;
		p {
		color: $card-second-color;
		font-size: $font-size;
		}//p
		&.card-divider {
		border-bottom: 1px solid $lighten-gray;
		}//card-divider
	}//card-heading

	//--------------------------------------------//
	// 1.2 Card Body / .card-body
	//--------------------------------------------//
	&-body {
	padding: $card-body-padding;
	}//card-body
	
	//--------------------------------------------//
	// 1.3 Card Shadow / .card-shadow
	//--------------------------------------------//
	&-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}//card-shadow
	
	//--------------------------------------------//
	// 1.4 Card No Border / .card-no-border
	//--------------------------------------------//
	&-no-border {
	border: 0px;
	}//card-no-border

	//--------------------------------------------//
	// 1.5 Card Style 1 / .card-style-1
	//--------------------------------------------//
	&-style-1 {
	border-radius: 0px;
		.card-heading {
		padding-bottom: 10px;
		border-bottom: $card-border;
		}//card-heading
		.card-body {
		padding: 15px;
		}//card-body
	}//card-style-1
	
	//--------------------------------------------//
	// 1.6 Card Thumbnail & 2 / .card-thumbnail,  .card-thumbnail-2
	//--------------------------------------------//
	&-thumbnail, 
	&-thumbnail-2 {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
		.content-desc {	
			p {
			margin-top: 2px;
			color: #636c72;
			}//p
		}//content-desc
		.list-social {
			.btn-social {
			width: 25px;
			height: 25px;
			line-height: 25px;		
			}//btn-social
		}//list-social
		.card-body {
		color: #636c72;
		}//content-body
	}//card-thumbnail, card-thumbnail-2

	//--------------------------------------------//
	// 1.7 Card Thumbnail  / .card-thumbnail
	//--------------------------------------------//
	&-thumbnail {

		.card-content {
		margin-top: -65px;
		margin-left: 15px;
		display: flex;
		align-items: center;
			
			.content-avatar {
				img {
				border-radius: 0px;
				}//img
			}//card-avatar

			.content-desc {
			margin-left: 10px;
				
				.desc-first {
				color: $white;
				margin-top: 35px;
				}//desc-first
				
				.list-social {
				margin-top: 10px;
				}//list-social

			}//content-desc

		}//card-content

	}//card-thumbnail
	
	//--------------------------------------------//
	// 1.8 Card Thumbnail 2  / .card-thumbnail-2
	//--------------------------------------------//
	&-thumbnail-2 {
	text-align: center;
		
		.card-content {
		margin-top: -50px;
			
			.content-desc {	
			margin-top: 10px;
			}//content-desc
			
		}//card-content
		
		.list-social {
		margin-bottom: 0px;
		}//list-social
		
		.card-body {
		margin-top: 10px;
			.btn {
			margin-top: 15px;
			}//btn
		}//card-body

	}//card-thumbnail-2
	
	//--------------------------------------------//
	// 1.9 Card Footer / .card-footer
	//--------------------------------------------//
	&-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $card-body-padding;
	}//card--footer

}//card