// Carousel
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Carousel / .carousel 
// 2.0 Carousel Item Next & Prev / .carousel-item-next, .carousel-item-prev 

//--------------------------------------------//
// 1.0 Carousel / .carousel 
//--------------------------------------------//
.carousel {
position: relative;
    &-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    }//carousel--inner
    &-item {
    position: relative;
    display: none;
    width: 100%;
        @include if-supports-3d-transforms() {
        @include transition($carousel-transition);
        backface-visibility: hidden;
        perspective: 1000px;
        }//if
    }//carousel-item
}//carousel

//--------------------------------------------//
// 2.0 Carousel Item Next & Prev / .carousel-item-next, .carousel-item-prev 
//--------------------------------------------//
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
display: flex;
}//carousel-item active, carousel-item-next, carousel-item-prev 

.carousel-item-next,
.carousel-item-prev {
position: absolute;
top: 0;
}//carousel-item-next, carousel-item-prev 

@include if-supports-3d-transforms() {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
    transform: translate3d(0, 0, 0);
    }//
    .carousel-item-next,
    .active.carousel-item-right {
    transform: translate3d(100%, 0, 0);
    }//
    .carousel-item-prev,
    .active.carousel-item-left {
    transform: translate3d(-100%, 0, 0);
    }//
}//if supports