// Badge
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Badge / .badge
	// 1.1 Badge / .badge
	// 1.2 Badge Pill / .badge-pill
	// 1.3 Badge Circle / .badge-circle
	// 1.4 Badge Danger / .badge-danger
	// 1.5 Badge Default / .badge-default
	// 1.6 Badge Info / .badge-info
	// 1.7 Badge Primary / .badge-primary
	// 1.8 Badge Success / .badge-success
	// 1.9 Badge Warning / .badge-warning
// 2.0 Btn Badge / .btn .badge

//--------------------------------------------//
// 1.0 Badge / .badge
//--------------------------------------------//	
.badge {
display: inline-block;	
line-height: 1;
border-radius: $default-radius;
padding: $badge-padding;	
font-size: $badge-font-size;
font-weight: $bold-weight;
color: $white;
text-align: center;
white-space: nowrap;
vertical-align: baseline;

	//--------------------------------------------//
	// 1.1 Badge / .badge
	//--------------------------------------------//
	&:empty {
	display: none;
	}//empty

	//--------------------------------------------//
	// 1.2 Badge Pill / .badge-pill
	//--------------------------------------------//
	&.badge-pill {
	padding: $badge-padding;
	border-radius: $badge-pill-radius;
	}//badge-pill

	//--------------------------------------------//
	// 1.3 Badge Circle / .badge-circle
	//--------------------------------------------//
	&.badge-circle {
	padding: $badge-circle-padding;
	border-radius: 50%;
	}//badge-circle

	//--------------------------------------------//
	// 1.4 Badge Danger / .badge-danger
	//--------------------------------------------//
	&.badge-danger {
	background-color: $badge-danger;
	}//badge-danger

	//--------------------------------------------//
	// 1.5 Badge Default / .badge-default
	//--------------------------------------------//
	&.badge-default {
	background-color: $badge-default;
	color: $white;
	}//badge-default

	//--------------------------------------------//
	// 1.6 Badge Info / .badge-info
	//--------------------------------------------//
	&.badge-info {
	background-color: $badge-info;
	}//badge-info

	//--------------------------------------------//
	// 1.7 Badge Primary / .badge-primary
	//--------------------------------------------//		
	&.badge-primary {
	background-color: $badge-primary;
	}//badge-primary	

	//--------------------------------------------//
	// 1.8 Badge Success / .badge-success
	//--------------------------------------------//
	&.badge-success {
	background-color: $badge-success;
	}//badge-success

	//--------------------------------------------//
	// 1.9 Badge Warning / .badge-warning
	//--------------------------------------------//
	&.badge-warning {
	background-color: $badge-warning;
	}//badge-warning

}//badge

//--------------------------------------------//
// 2.0 Btn Badge / .btn .badge
//--------------------------------------------//
.btn .badge {
position: relative;
top: -1px;
left: 5px;
}//btn badge