// Outline badges
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Badges Danger Outline / .badge-danger-o
// 2.0 Badges Default Outline / .badge-default-o
// 3.0 Badges Info Outline / .badge-info-o
// 4.0 Badges Primary Outline / .badge-primary-o
// 5.0 Badges Success Outline / .badge-success-o
// 6.0 Badges Warning Outline / .badge-warning-o

//--------------------------------------------//
// 1.0 Badges Danger Outline / .badge-danger-o
//--------------------------------------------//
.badge-danger-o {
border: $border-solid $badge-danger;
color: $badge-danger;	
}//badge-danger-o

//--------------------------------------------//
// 2.0 Badges Default Outline / .badge-default-o
//--------------------------------------------//
.badge-default-o {
border: $border-solid $badge-default;
color: $badge-default;	
}//badge-default-o

//--------------------------------------------//
// 3.0 Badges Info Outline / .badge-info-o
//--------------------------------------------//
.badge-info-o {
border: $border-solid $badge-info;
color: $badge-info;
}//badge-info-o	

//--------------------------------------------//
// 4.0 Badges Primary Outline / .badge-primary-o
//--------------------------------------------//
.badge-primary-o {
border: $border-solid $badge-primary;
color: $badge-primary;
}//badge-primary-o	

//--------------------------------------------//
// 5.0 Badges Success Outline / .badge-success-o
//--------------------------------------------//
.badge-success-o {
border: $border-solid $badge-success;
color: $badge-success;
}//badge-success-o

//--------------------------------------------//
// 6.0 Badges Warning Outline / .badge-warning-o
//--------------------------------------------//
.badge-warning-o {
border: $border-solid $badge-warning;
color: $badge-warning;
}//badge-warning-o

