// Badge link
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Badges Links / .badge-link
	// 1.1 Badge Danger / .badge-danger
	// 1.2 Badge Default / .badge-default
	// 1.3 Badge Info / .badge-info
	// 1.4 Badge Success / .badge-success
	// 1.5 Badge Primary / .badge-primary
	// 1.6 Badge Warning / .badge-warning
	
//--------------------------------------------//
// 1.0 Badges Links / .badge-link
//--------------------------------------------//
.badge-link {
@include transition($fast);

	//--------------------------------------------//
	// 1.1 Badge Danger / .badge-danger
	//--------------------------------------------//
	&.badge-danger {
		&:hover {
		background-color: $badge-danger-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-danger		

	//--------------------------------------------//
	// 1.2 Badge Default / .badge-default
	//--------------------------------------------//
	&.badge-default {
		&:hover {
		background-color: $badge-default-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-default	

	//--------------------------------------------//
	// 1.3 Badge Info / .badge-info
	//--------------------------------------------//	
	&.badge-info {
		&:hover {
		background-color: $badge-info-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-info	

	//--------------------------------------------//
	// 1.4 Badge Success / .badge-success
	//--------------------------------------------//
	&.badge-success {
		&:hover {
		background-color: $badge-success-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-susccess	

	//--------------------------------------------//
	// 1.5 Badge Primary / .badge-primary
	//--------------------------------------------//	
	&.badge-primary {
		&:hover {
		background-color: $badge-primary-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-primary	

	//--------------------------------------------//
	// 1.6 Badge Warning / .badge-warning
	//--------------------------------------------//		
	&.badge-warning {
		&:hover {
		background-color: $badge-warning-hover;
		color: $badge-font-color;
		}//hover
		&:focus {
		color: $badge-font-color;	
		}//focus
	}//badge-warning

}//badge-link