// Inbox
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Inbox / .inbox-bg 
// 2.0 Checkbox Primary / .checkbox-primary
// 3.0 Inbox Sidebar Header / .inbox-sidebar-header
// 4.0 Inbox Sidebar Nav & Buddy / .inbox-sidebar-nav, .inbox-sidebar-buddy
// 5.0 Inbox Sidebar Buddy / .inbox-sidebar-buddy
// 6.0 Inbox Toggle / .inbox-toggle
// 7.0 Inbox Wrapper / .inbox-wrapper
// 8.0 Inbox Nav / .inbox-nav
// 9.0 Inbox Bar / .inbox-bar
// 10.0 Inbox New Message / .inbox-new-message

//--------------------------------------------//
// 1.0 Inbox / .inbox-bg 
//--------------------------------------------//
.inbox-bg {
width: $inbox-width;
height: $inbox-height;
max-height: $inbox-height;
display: block;
background-color: $inbox-bg;
border-right: 1px solid $border-color;
position: fixed;
z-index: -1;
top: 0;
	@include media-breakpoint-between(xs, md) {
	display: none;
	}//xs, sm
}//inbox-bg

//--------------------------------------------//
// 2.0 Inbox Sidebar / .inbox-sidebar 
//--------------------------------------------//
.inbox-sidebar {
width: $inbox-width;
height: $inbox-height;
background-color: $inbox-bg;
border-right: $border-solid $border-color;
position: relative;
	@include media-breakpoint-between(xs, md) {
	width: 100%;
	border:0px;
	padding: 0;
	}//xs, sm
}//inbox-sidebar

//--------------------------------------------//
// 3.0 Inbox Sidebar Header / .inbox-sidebar-header
//--------------------------------------------//
.inbox-sidebar-header {
display: flex;
flex-direction: column;
padding: $inbox-sidebar-header-padding;	
	.inbox-title {
	margin-bottom: 15px;
	@include media-breakpoint-between(xs, md) {
	width: 100%;
	}//xs, sm
	@include media-breakpoint-up(lg) { 
	display: none
	}//up-md
	}//h5
	.btn-compose {
	width: 100%;
	padding: 0.85rem;
	}//btn
}//inbox-sidebar-header

//--------------------------------------------//
// 4.0 Inbox Sidebar Nav & Buddy / .inbox-sidebar-nav, .inbox-sidebar-buddy
//--------------------------------------------//
.inbox-sidebar-nav,
.inbox-sidebar-buddy  {
list-style: none;
padding-left: 0;
margin-top: 1rem;
	.sidebar-heading {
	padding-left: 1rem;
	margin-bottom: 0.5rem;
	}//sidebar-heading
	.sidebar-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@include transition ($fast);
		&.active {
		background-color: $gray;
			.sidebar-link {
			color: $primary;	
			}//sidebar-link active
		}//active
		.sidebar-link {
		width: 100%;
		padding: 0.6rem 1rem;
		font-size: $font-size;
			i {
			margin-right: 5px;
			}//i
		}//sidebar-link
		&:hover {
		background-color: $gray;
		}//hover
		p {
		color: $grey;
		font-size: 12px;
		margin-top: -5px;
		text-transform: capitalize;
		}//p
	}//sidebar-item
}//inbox-sidebar-nav 

//--------------------------------------------//
// 5.0 Inbox Sidebar Buddy / .inbox-sidebar-buddy
//--------------------------------------------//
.inbox-sidebar-buddy {
	.badge {
	margin-right: 5px;	
	}//badge
}//inbox-sidebar-buddy

#content.inbox {
padding: 0rem;
}//inbox

//--------------------------------------------//
// 6.0 Inbox Toggle / .inbox-toggle
//--------------------------------------------//
.inbox-toggle {
float: left;
width: $inbox-width;
	@include media-breakpoint-between(xs, md) {
	float: none;
	width: 100%;
	}//xs, sm	
	.inbox-sidebar {
		@include media-breakpoint-between(lg, xl) {
		display: block !important;
		}//md	
		@include media-breakpoint-between(xs, md) {
		display: none;
		}//xs, sm			
	}//inbox-sidebar
	.mobile-inbox-view {
	background-color: $inbox-bg;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	height: 45px;
	border-bottom: $border-solid $border-color;
	@include transition($fast);
	@include media-breakpoint-up(lg) { 
	display: none
	}//up-md
		.btn {
		padding: 0;	
		width: 30px;
		height: 45px;
		position: relative;
		@include transition($fast);
			&:hover {
			color: $primary;
			}//hover
			&:after {
			font-family: FontAwesome;
			content: "\f105";
			position: absolute;
			font-size: 24px;
			color: $font-color;
			bottom: 0;
			line-height: 45px;
			transform: rotate(90deg);
			@include transition($fast);
			}//after
		}//btn
	}//mobile-inbox-view
	&.open {
		.mobile-inbox-view .btn {
			&:after {
			color: $primary;
			transform: rotate(270deg);  
			}//after
		}//btn
	}//open
}//inbox-toggle

//--------------------------------------------//
// 7.0 Inbox Wrapper / .inbox-wrapper
//--------------------------------------------//
.inbox-wrapper {
position: relative;
margin-left: 260px;
	@include media-breakpoint-between(xs, md) {
	margin-left: 0px;
	}//xs, sm
	.inbox-content-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $inbox-bg;
	border-bottom: $border-solid $border-color;
	height: 80px;
		@include media-breakpoint-between(xs, md) {
			.dropdown-menu {
			right: inherit;
			}//dropdown-menu
		}//xs, sm
		h5 {
			@include media-breakpoint-between(xs, md) {
			display: none;
			}//xs, sm	
		}//h5
		.input-group {
		width: 250px;	
		@include media-breakpoint-between(xs, md) {
		width: 100%;
		}//xs, sm
			i {
			margin-right: 0px;	
			}//i
			.input-group-btn, .btn {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			}//btn
		}//input-group
		.inbox-contact {
			p {
			margin-top: 0rem;
			}//p
			.person {
			margin-top: 2px;
			}//person
			.address {
			margin-top: -2px;
			}//address
		}//inbox-contact
	}//inbox-content-header
	.inbox-content-header,
	.inbox-bar {
	padding: 0rem 1rem;	
	}//inbox-content-header, inbox-bar
	
	.inbox-content {
		.form-check {	
		margin-bottom: 0px;
			.checkbox label {
			padding-left: 10px;
				&:before {
				top: 3px;
				}//before
			}//checkbox label
		}//form-check
		.table-inbox {
			td {
			cursor: pointer;
				&:first-child {
				padding: 0.5rem 0rem 0.5rem 1rem;	
				}//first-child
				&:nth-child(4) {
					@include media-breakpoint-between(xs, md) {
					display: none;
					}//xs, sm
				}//child 3
				&:last-child {
				padding: 0.5rem 1rem 0.5rem 0rem;
				}//last child
				.label {
				margin-right: 10px;	
				text-transform: capitalize;
				}//label
				.fa {
				color: darken($darken-gray, 10%);	
				@include transition($fast);
					&:hover {
					color: $yellow;
					}//hover
				}//fa
			}//td
			.favorite {
				.fa {
				color: $yellow;	
				}//fa
			}//favorite
		}//table-inbox
		.editor {
		margin-top: 15px;
		}//editor
	}//inbox-content

	.inbox-content-message {
	background-color: $inbox-bg;
	border-bottom: $border-solid $border-color;
	padding: 1rem 1rem 2rem 1rem;

		.content {
		margin-top: 1rem;	
		}//content

	}//inbox-content-message
	
	.inbox-content-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: $inbox-bg;
	border-bottom: $border-solid $border-color;
	padding: 1rem;
		.buttons {
			.btn {
				&:first-child {
				margin: 0px 5px;
				}//first-child
			}//btn
		}//buttons
	}//inbox-content-footer

	.inbox-links, .attachment {
	font-size: $font-size;
		i {
		margin-right: 5px;	
		}//i
	}//inbox-links
	
	.attachment {
	display: flex;
		.btn {
		margin-left: 0.5rem;
		}//btn
	}//attachment

}//inbox-wrapper

//--------------------------------------------//
// 8.0 Inbox Nav / .inbox-nav
//--------------------------------------------//
.inbox-nav {
font-size: $font-size;
display: flex;
align-items: center;
	.pagination {
	margin-left: 10px;	
	}//pagination
}//inbox-nav

//--------------------------------------------//
// 9.0 Inbox Bar / .inbox-bar
//--------------------------------------------//
.inbox-bar {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
	.inbox-tools {
	display: flex;
	align-items: center;
		i {
		margin-right: 0px;	
		}//i
		.dropdown {
		margin-left: 10px;
		}//dropdown
		.btn {
		padding: 0.35rem 0.5rem;
		}//btn
	}//inbox-tools
}//inbox-bar

//--------------------------------------------//
// 10.0 Inbox New Message / .inbox-new-message
//--------------------------------------------//
.inbox-new-message {
background-color: $inbox-bg;
padding: 1.5rem 1rem;
border-bottom: $border-solid $border-color; 
	.form-group {
		&:last-child {
		margin-bottom: 0;	
		}//last-child
	}//form-group
}//inbox-new-message