// Custom DataTables Pagination Style
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 DataTables Paginate / .dataTables_paginate

//--------------------------------------------//
// 1.0 DataTables Paginate / .dataTables_paginate
//--------------------------------------------//
.dataTables_paginate {
float: right;
margin-top: 1.25rem;
margin-bottom: 0.5rem;
	.paginate_button {
	background-color: $data-tables-paginate-bg;
	padding: $data-tables-paginate-padding;
	font-size: $data-tables-font-size;
	cursor: pointer;
		&.previous {
		}//previous
		&.current {
		background-color: $data-tables-paginate-current-bg;
		color: $data-tables-second-color;
		}//current
		&:hover {
		background-color: $data-tables-paginate-hover-bg;
		color: $data-tables-second-color;
		}//hover
	}//paginate_button
}//dataTables_paginate