// Custom DataTables Style
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 DataTables Info / .dataTables_info
// 2.0 DataTables Top / .dataTable_top
// 3.0 DataTables Wrapper / .dataTables_wrapper .dataTables_info 
// 4.0 Table DataTable / table.dataTable

//--------------------------------------------//
// 1.0 DataTables Info / .dataTables_info
//--------------------------------------------//
.dataTables_info {
font-size: $data-tables-font-size;
line-height: 25px;
}//dataTables_info 

//--------------------------------------------//
// 2.0 DataTables Top / .dataTable_top
//--------------------------------------------//
.dataTable_top {
	&.left {
	float: left;	
	}//left
	&.right {
	float: right;	
		.dataTables_filter {
		float: right;	
			label {
			font-size: $data-tables-font-size;
				&:after {
				font-family: FontAwesome;
				content: "\f002";
				position: absolute;
				left: auto;
				right: 10px;
				top: 3px;
				}//after
				input {
				height: 25px;
				border: $data-tables-border;
				border-radius: $border-radius;
				}//input
			}//label
		}//dataTables_filter
	}//right
}//dataTables_top

//--------------------------------------------//
// 3.0 DataTables Wrapper / .dataTables_wrapper .dataTables_info 
//--------------------------------------------//
.dataTables_wrapper .dataTables_info {
font-size: $data-tables-font-size;
color: $font-color;
}//dataTables_wrapper dataTables_info

//--------------------------------------------//
// 4.0 Table DataTable / table.dataTable
//--------------------------------------------//
table.dataTable {
margin-top: 1rem;
	thead th {
	border-bottom: 2px solid $border-color;
	}//thead th
	tfoot th {
	border-top: $data-tables-border
	}//tfoot th
	thead th, tfoot th {
	font-size: $data-tables-font-size-head-footer;
	font-weight: $default-weight;	
	padding-left: 10px;
	}//thead th, tfoot th
	&.table tbody {
		.odd {
			&:first-of-type {
				td {
				border-top: 0px;	
				}//td
			}//first-of-type
		}//odd
	}//table tbody
	&.table-bordered {
		thead tr th {
		border-right: 0px;
		}//thead th
		tr td {
		border-top: 0px;	
		border-right: 0px;
		}//tr td
		tfoot {
			tr th {
			border-top: 0px;	
			border-right: 0px;
			}//tr th
		}//tfoot
	}//table-bordered 
	.sorting_asc, .sorting_desc {
	border-bottom: $data-tables-sorting-border;
	}//sorting_asc
}//table dataTable