// Status
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Status / .status
	// 1.1 Status Away / .status-away
	// 1.2 Status Busy / .status-busy
	// 1.3 Status Offline / .status-offline
	// 1.4 Status Online / .status-online
	// 1.5 Status Pulse / .status-pulse
	// 1.6 Status Primary / .status-primary
	
//--------------------------------------------//
// 1.0 Status / .status
//--------------------------------------------//
.status {
width: 7px;
height: 7px;
border-radius: 7px;
position: absolute;

	//--------------------------------------------//
	// 1.1 Status Away / .status-away
	//--------------------------------------------//
	&.status-away {
	background-color: $yellow;
	}//away

	//--------------------------------------------//
	// 1.2 Status Busy / .status-busy
	//--------------------------------------------//
	&.status-busy {
	background-color: $red;
	}//busy

	//--------------------------------------------//
	// 1.3 Status Offline / .status-offline
	//--------------------------------------------//
	&.status-offline {
	background-color: gray;
	}//offline	

	//--------------------------------------------//
	// 1.4 Status Online / .status-online
	//--------------------------------------------//
	&.status-online {
	background-color: $green;
	}//online	

	//--------------------------------------------//
	// 1.5 Status Pulse / .status-pulse
	//--------------------------------------------//
	&.status-pulse {
 	width: 5px;
	height: 5px;
	border: 3px solid $primary;
	border-radius: 10px;
	background-color: $white;
	top: 15px;
	left: 27px;
		&:before {
		content: '';
	  	border: 5px solid lighten($primary, 5%);
		background: transparent;
		border-radius: 50px;
		height: 20px;
		width: 20px;
		animation: pulse 1.5s ease-out;
		animation-iteration-count: infinite;
		position: absolute;
		top: -10px;
		left: -10px;
		z-index: -1;
		opacity: 0;
		}//before
		@keyframes pulse {
			0% {
			transform: scale(0);
			opacity: 0.0;
			}
			25% {
			transform: scale(0);
			opacity: 0.1;
			}
			50% {
			transform: scale(0.1);
			opacity: 0.3;
			}
			75% {
			transform: scale(0.5);
			opacity: 0.5;
			}
			100% {
			transform: scale(1);
			opacity: 0.0;
			}
		}//pulse
	}//status-pulse	

	//--------------------------------------------//
	// 1.6 Status Primary / .status-primary
	//--------------------------------------------//
	&.status-primary {
	background-color: $primary;
	}//status-primary

}//status