// Progress Bar Sizes
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Progress Bar Xs / .progress-bar-xs
// 2.0 Progress Bar Sm / .progress-bar-sm
// 3.0 Progress Bar Md / .progress-bar-md
// 4.0 Progress Bar Lg / .progress-bar-lg
// 5.0 Progress Bar Xl / .progress-bar-xl

//--------------------------------------------//
// 1.0 Progress Bar Xs / .progress-bar-xs
//--------------------------------------------//
.progress-bar-xs {
height: $progess-bar-xs;
}//progress-bar-xs

//--------------------------------------------//
// 2.0 Progress Bar Sm / .progress-bar-sm
//--------------------------------------------//
.progress-bar-sm {
height: $progess-bar-sm;
}//progress-bar-sm

//--------------------------------------------//
// 3.0 Progress Bar Md / .progress-bar-md
//--------------------------------------------//
.progress-bar-md {
height: $progess-bar-md;
}//progress-bar-md

//--------------------------------------------//
// 4.0 Progress Bar Lg / .progress-bar-lg
//--------------------------------------------//
.progress-bar-lg {
height: $progess-bar-lg;
}//progress-bar-lg

//--------------------------------------------//
// 5.0 Progress Bar Xl / .progress-bar-xl
//--------------------------------------------//
.progress-bar-xl {
height: $progess-bar-xl;
}//progress-bar-xl