// Progress Bar Striped
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Progress Bar Stripes / .progress-bar-striped

//--------------------------------------------//
// 1.0 Progress Bar Stripes / .progress-bar-striped
//--------------------------------------------//
@keyframes progress-bar-stripes {
	from { background-position: $progress-height 0; }
	to { background-position: 0 0; }
}//progress-bar-stripes

.progress-bar-striped {
@include gradient-striped();
background-size: $progress-height $progress-height;
}//progress-bar-striped