// Progress Bar
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Progress Bar / .progress
// 2.0 Progress Bar / .progress-bar
	// 2.1 Progress Bar Danger / .progress-bar-danger
	// 2.2 Progress Bar Default / .progress-bar-default
	// 2.3 Progress Bar Info / .progress-bar-info
	// 2.4 Progress Bar Inverse / .progress-bar-inverse 
	// 2.5 Progress Bar Primary / .progress-bar-primary 
	// 2.6 Progress Bar Success / .progress-bar-success
	// 2.7 Progress Bar Warning / .progress-bar-warning
	
//--------------------------------------------//
// 1.0 Progress / .progress
//--------------------------------------------//
.progress {
display: flex;
overflow: hidden; 
font-size: $progress-font-size;
line-height: $progress-line-height;
text-align: center;
background-color: $progress-bg;
@include border-radius($progress-border-radius);
}//progress

//--------------------------------------------//
// 2.0 Progress Bar / .progress-bar
//--------------------------------------------//
.progress-bar {
height: $progress-height;
color: $progress-bar-color;
background-color: $progress-bar-bg;

	//--------------------------------------------//
	// 2.1 Progress Bar Danger / .progress-bar-danger
	//--------------------------------------------//
	&.progress-bar-danger {
	background-color: $progress-bar-danger;
	}//danger-progress-bar	

	//--------------------------------------------//
	// 2.2 Progress Bar Default / .progress-bar-default
	//--------------------------------------------//
	&.progress-bar-default {
	background-color: $progress-bar-default;
	}//default-progress-bar

	//--------------------------------------------//
	// 2.3 Progress Bar Info / .progress-bar-info
	//--------------------------------------------//	
	&.progress-bar-info {
	background-color: $progress-bar-info;
	}//info-progress-bar	

	//--------------------------------------------//
	// 2.4 Progress Bar Inverse / .progress-bar-inverse 
	//--------------------------------------------//
	&.progress-bar-inverse {
	background-color: $progress-bar-inverse;
	}//inverse-progress-bar

	//--------------------------------------------//
	// 2.5 Progress Bar Primary / .progress-bar-primary 
	//--------------------------------------------//
	&.progress-bar-primary {
	background-color: $progress-bar-primary;
	}//primary-progress-bar	

	//--------------------------------------------//
	// 2.6 Progress Bar Success / .progress-bar-success
	//--------------------------------------------//
	&.progress-bar-success {
	background-color: $progress-bar-success;
	}//success-progress-bar		

	//--------------------------------------------//
	// 2.7 Progress Bar Warning / .progress-bar-warning
	//--------------------------------------------//
	&.progress-bar-warning {
	background-color: $progress-bar-warning;
	}//warning-progress-bar	

}//progress-bar
