// Profile Widget
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Profile Widget / profile-widget 

//--------------------------------------------//
// 1.0 Profile Widget / profile-widget 
//--------------------------------------------//
.profile-widget {
background-color: $white;
border: $border-solid $border-color;
border-bottom-left-radius: $border-radius;
border-bottom-right-radius: $border-radius;
padding: 15px;
width: 100%;
margin-top: 30px;
	.top-info {
	text-align: center;
	margin: 0 auto;
		img {
		border-radius: 50%;
		box-shadow: 0 1px 3px rgba(0,0,0,0.25);
		}//img
		.name {
		margin-top: 10px;
		}//name
		.rank {
		margin-top: 0px;
		color: $text-muted;
		}//rank
	}//top-info
	.middle-info {
	border-top: $border-solid $border-color;
	margin-top: 15px;
		h5 {
		margin-top: 15px;
		}//h5
		i {
		width: 16px;
		margin-right: 10px;
		}//i
		ul {
			li {
			margin-top: 10px;
			font-size: 14px;
				a {
				word-break: break-all;
				}//a
			}//li
		}//ul
	}//middle-info
	.bottom-info {
	border-top: $border-solid $border-color;
	margin-top: 15px;	
		h5 {
		margin-top: 15px;
		}//h5
		h6 {
		margin-top: 10px;
		margin-bottom: 5px;
		}//h6
	}//bottom-info
}//profile-widget