// Server Widget
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Server Widget / .server-widget

//--------------------------------------------//
// 1.0 Server Widget / .server-widget
//--------------------------------------------//
.server-widget {
	.card-body {
		h5 {
		margin-bottom: 10px;
		}//h5
		.progress {
		margin-bottom: 15px;
		}//progress
	}//card-body
}//server-stats