// Stats Widget
//--------------------------------------------//
// Theme Settings 
//--------------------------------------------//
// 1.0 Stats Widget / .stats-widget
// 2.0 Stats Container / .stats-container
// 3.0 Stats Chart / .stats-chart
// 4.0 Stats Style 1 / .stats-style-1 
// 5.0 Stats Style 2 / .stats-style-2

//--------------------------------------------//
// 1.0 Stats Widget / .stats-widget
//--------------------------------------------//
.stats-widget {
border-radius: $border-radius;
	.stats-header {
	padding: 1rem;
	}//stats-header
	.stats-body {
	height: 100%;
	}//stats-body
}//stats-widget

//--------------------------------------------//
// 2.0 Stats Container / .stats-container
//--------------------------------------------//
.stats-container {
height: 100%;
overflow: hidden;
border-radius: $border-radius;
}//stats-container

//--------------------------------------------//
// 3.0 Stats Chart / .stats-chart
//--------------------------------------------//
.stats-chart {
height: 75px;
width: 100%;
}//stats-chart

//--------------------------------------------//
// 4.0 Stats Style 1 / .stats-style-1 
//--------------------------------------------//
.stats-style-1 {
	.stats-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
		.stats-text {
		font-size: 1.10rem;
		}//stats-text
	}//stats-header
	&.bg-danger, &.bg-info, &.bg-success, &.bg-primary, &.bg-warning {
	color: $white;
	}//&.bg-danger, &.bg-info, &.bg-success, &.bg-primary, &.bg-warning 	
}//stats-style-1

//--------------------------------------------//
// 5.0 Stats Style 2 / .stats-style-2
//--------------------------------------------//
.stats-style-2 {
	.stats-header {
	display: flex;
	align-items: center;
	justify-content: space-between;	
		.stats-text, .stats-title {
		font-size: 17px;
		}//stats-text
		i {
		font-size: 38px;
		color: $font-color;
		}//i
		.right {
		text-align: right;	
		}//right
	}//stats-header
	.stats-body {
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $default-color;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
		.date {
		color: $font-color;
		display: flex;
		align-items: center;
			i {
			margin-right: 5px;
			}//i
			p, i {
			font-size: 13px;	
			}//p
		}//date
		.label {
		font-size: 11px;
		}//label
	}//stats-body
	&.bg-danger, &.bg-info, &.bg-success, &.bg-primary, &.bg-warning {
	color: $white;
		i, .date {
		color: $white;	
		}//i
		.right {
		color: $white;
		}//right
	}//&.bg-danger, &.bg-info, &.bg-success, &.bg-primary, &.bg-warning 	
	&.bg-danger {
		.stats-body {
		background-color: $stats2-danger-rgba;	 
		}//stats-body
	}//bg-danger		
	&.bg-info {
		.stats-body {
		background-color: $stats2-info-rgba;	
		}//stats-body
	}//bg-info	
	&.bg-primary {
		.stats-body {
		background-color: $stats2-primary-rgba;	
		}//stats-body
	}//bg-primary	
	&.bg-success {
		.stats-body {
		background-color: $stats2-success-rgba;	
		}//stats-body
	}//bg-success	
	&.bg-warning {
		.stats-body {
		background-color: $stats2-warning-rgba;	
		}//stats-body
	}//bg-warning
}//stats-style-2