// Theme Button
//--------------------------------------------//
// Theme Settings 
//--------------------------------------------//
// 1.0 Buttons Settings / #button-settings
// 2.0 Theme Settings / #theme-settings

//--------------------------------------------//
// 1.0 Buttons Settings / #button-settings
//--------------------------------------------//
#button-settings {
width: 40px;
height: 40px;
background-color: $primary;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
right: 0px;
top: 200px;
cursor: pointer;
z-index: 1;
@include transition($fast);
	@include media-breakpoint-between(xs, sm) {
	display: none;
	}//xs, sm
    i {
    font-size: 24px;
    color:$white;
    }//i
}//button-settings

#button-settings.active {
right: 182px;
}//button-settings active

//--------------------------------------------//
// 2.0 Theme Settings / #theme-settings
//--------------------------------------------//
#theme-settings {
width: 182px;
height: 100%;
max-height: 95px;
position: fixed;
background-color: $primary;
right: -184px;
top: 200px;
z-index: 990;   
@include transition($fast);  
	@include media-breakpoint-between(xs, sm) {
	display: none;
	}//xs, sm
    .header {
    height: 40px;   
        h4 {
        color:$white;
        text-align: center;
        line-height: 40px;
        }//h4
    }//header
    
    .theme-content {
    display: flex;
    justify-content: center;
        .bg-item {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $white;
        z-index: 1002;
        padding:5px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        color:$white;
        margin-top: 10px;
            .item {
            display: block; 
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-bottom: 10px;
            @include transition($fast);  
                &.bg-blue {
                background-color: #304ffe;
                }//bg-blue                
                &.bg-purple {
                background-color: #663ab8;
                }//bg-purple                
                &.bg-red {
                background-color: #EE0000;
                }//bg-red
            }//item
            &:hover {
                .item {
                transform: scale(1.1);
                }//item             
            }//hover
        }//bg
    }//content
}//theme-settings

#theme-settings.active {
right: 0px;
}//theme-settings active