// Weather Widgets 2
//--------------------------------------------//
// Theme Settings 
//--------------------------------------------//
// 1.0 Weather Widget 2 / .weather-style-2

//--------------------------------------------//
// 1.0 Weather Widget 2 / .weather-style-2
//--------------------------------------------//
.weather-style-2 {
position: relative;
display: block;

	.weather-img {
	overflow: hidden;	
		img {
		@include transition($fast);
		}//img
	}//weather-img

	.weather-img img, .weather-overlay {
	min-height: $weather-img-size-style-2;
	max-height: $weather-img-size-style-2;
	width: 100%;
	}//weather-img img

	.weather-overlay {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	}//weather-overlay

	.weather-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	}//weather-wrapper

	.weather-content {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	color: $weather-content-color;
	text-align: $weather-text-align;
	transform: translate(-50%, -50%);

		.location, .temp {
		font-size: $weather-content-font-size;
		}//location
		
		.type {
		margin-top: -5px;
		font-size: $weather-type-font-size;
		}//type

	}//weather-content

	.weather-info {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, 0.4);
	position: absolute;
	bottom: 0;
	margin-bottom: 0px;
	padding: $weather-info-padding;
	text-align: $weather-text-align;
	text-transform: uppercase;
	list-style: none;
		.time {
		color: $weather-info-font-color-2;
			i {
			margin-top: 10px;
			font-size: $weather-time-icon-size;
			}//i
			p {
			font-size: $weather-time-font-size;
			margin-top: 5px;
			}//p
			p, i {
			color: $weather-info-font-color-2;
			}//p, i
		}//time
	}//weather-info

	// Optional Scale Effect
	// &:hover {
	// 	img {
	// 	transform: scale(1.05);
	// 	}//img
	// }//hover

}//weather-style-2