// Input Groups
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Input Group / .input-group
// 2.0 Input Group Addon, Btn, Form, Control / .input-group, .input-group-btn, .input-group .form-control
// 3.0 Input Group Btn / .input-group-btn

//--------------------------------------------//
// 1.0 Input Group / .input-group
//--------------------------------------------//
.input-group {
position: relative;
display: flex;
width: 100%;
	.form-control {
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
		@include hover-focus-active {
		z-index: 3;
		}//hover, focus, active
	}//form-control
}//input-group

//--------------------------------------------//
// 2.0 Input Group Addon, Btn, Form, Control / .input-group, .input-group-btn, .input-group .form-control
//--------------------------------------------//
.input-group-addon,
.input-group-btn,
.input-group .form-control {
display: flex;
flex-direction: column;
justify-content: center;
	&:not(:first-child):not(:last-child) {
	@include border-radius(0);
	}//
}//input-group-addon, input-group-btn, input-group form-control

.input-group-addon,
.input-group-btn {
white-space: nowrap;
vertical-align: middle; 
}//input-group-addon, input-group-btn,

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
@extend .form-control-lg;
}//size for input-group

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
@extend .form-control-sm;
}//size for input-group

.input-group-addon {
padding: $input-padding-y $input-padding-x;
margin-bottom: 0;
font-size: $font-size-base;
font-weight: $font-weight-normal;
line-height: $input-line-height;
color: $input-color;
text-align: center;
background-color: $input-group-addon-bg;
border: $input-btn-border-width solid $input-group-addon-border-color;
@include border-radius($input-border-radius);
	&.form-control-sm {
	padding: $input-padding-y-sm $input-padding-x-sm;
	font-size: $font-size-sm;
	@include border-radius($input-border-radius-sm);
	}//form-control-sm
	&.form-control-lg {
	padding: $input-padding-y-lg $input-padding-x-lg;
	font-size: $font-size-lg;
	@include border-radius($input-border-radius-lg);
	}//form-control-lg
	input[type="radio"],
	input[type="checkbox"] {
	margin-top: 0;
	}//input
	i {
	font-size: $font-size;
	}//i
}//input-group-addon

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
@include border-right-radius(0);
}//input-group-btn, input-group-addon, input-group form-control

.input-group-addon:not(:last-child) {
border-right: 0;
}//input-group-addon:not(:last-child)

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
@include border-left-radius(0);
}//input-group-btn, input-group-addon, input-group form-control

.form-control + .input-group-addon:not(:first-child) {
border-left: 0;
}//form-control + .input-group-addon:not(:first-child)

//--------------------------------------------//
// 3.0 Input Group Btn / .input-group-btn
//--------------------------------------------//
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;

	> .btn {
	position: relative;
	flex: 1;
	border-radius: $border-radius;
		+ .btn {
		margin-left: (-$input-btn-border-width);
		}//btn
		@include hover-focus-active {
		z-index: 3;
		}//hover, focus, active
	}//btn
	&:not(:last-child) {
		> .btn,
		> .btn-group {
		}//btn
	}//not first child
	&:not(:first-child) {
		> .btn,
		> .btn-group {
		z-index: 2;
		margin-left: (-$input-btn-border-width);
			@include hover-focus-active {
			z-index: 3;
			}//hover, focus, active
		}//btn
	}//not first child	
}//input-group-btn