// Btn Close
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Tools / .tools
// 2.0 Top Heading / .top-heading 
// 3.0 Btn Tools / .btn-tools

//--------------------------------------------//
// 1.0 Tools / .tools
//--------------------------------------------//
.tools {
float: right;
}//tools

//--------------------------------------------//
// 2.0 Top Heading / .top-heading 
//--------------------------------------------//
.top-heading {
display: flex;
justify-content: space-between;
align-items: center;
}//top-heading

//--------------------------------------------//
// 3.0 Btn Tools / .btn-tools
//--------------------------------------------//
.btn-tools {
background-color: transparent;
border: 0px;
padding: 0rem;
margin-left: 0.5rem;
font-size: $font-size - 1px;	
color: $font-color;
cursor: pointer;
@include transition($fast);
	&:hover {
	color: $primary;
	}//hover
}//btn-tools