// Btn Social 
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Social  / .btn-social
	// 1.1 Btn Facebook / .btn-facebook
	// 1.2 Btn Google Plus / .btn-googlep
	// 1.3 Btn Instagram / .btn-instagram
	// 1.4 Btn Linkedin / .btn-linkedin
	// 1.5 Btn Pinterset / .btn-pinterest
	// 1.6 Btn Snapchat / .btn-snapchat
	// 1.7 Btn Vk / .btn-vk
	// 1.8 Btn Twitter / .btn-twitter
	// 1.9 Btn Youtube / .btn-youtube
	// 1.11 Btn Vimeo / .btn-vimeo

//--------------------------------------------//
// 1.0 Btn Social  / .btn-social
//--------------------------------------------//
.btn-social {
width: $btn-social-width;
height: $btn-social-height;
text-align: center;
@include transition($fast);
	&.btn {
	padding: 0;
	}//btn
	i {
	color: $white;
	margin-right: 0px;
	padding: 0;
	}//i

	//--------------------------------------------//
	// 1.1 Btn Facebook / .btn-facebook
	//--------------------------------------------//
	&.btn-facebook {
	background-color: $btn-facebook-bg;
		&:hover {
		background-color: $btn-facebook-bg-hover;
		}//hover
	}//btn-facebook	

	//--------------------------------------------//
	// 1.2 Btn Google Plus / .btn-googlep
	//--------------------------------------------//
	&.btn-googlep {
	background-color: $btn-googlep-bg;
		&:hover {
		background-color: $btn-googlep-bg-hover;
		}//hover
	}//btn-googlep	

	//--------------------------------------------//
	// 1.3 Btn Instagram / .btn-instagram
	//--------------------------------------------//	
	&.btn-instagram {
	background: $btn-instagram-bg;
		&:hover {
		opacity: $btn-instagram-opacity-hover;
		}//hover
	}//btn-instagram	

	//--------------------------------------------//
	// 1.4 Btn Linkedin / .btn-linkedin
	//--------------------------------------------//
	&.btn-linkedin {
	background-color: $btn-linkedin-bg;
		&:hover {
		background-color: $btn-linkedin-bg-hover;
		}//hover
	}//btn-linkedin	

	//--------------------------------------------//
	// 1.5 Btn Pinterset / .btn-pinterest
	//--------------------------------------------//
	&.btn-pinterest {
	background-color: $btn-pinterest-bg;
		&:hover {
		background-color: $btn-pinterest-bg-hover;
		}//hover
	}//btn-pinterest

	//--------------------------------------------//
	// 1.6 Btn Snapchat / .btn-snapchat
	//--------------------------------------------//
	&.btn-snapchat {
	background-color: $btn-snapchat-bg;
		&:hover {
		background-color: $btn-snapchat-bg-hover;
		}//hover
	}//btn-snapchat	

	//--------------------------------------------//
	// 1.7 Btn Vk / .btn-vk
	//--------------------------------------------//
	&.btn-vk {
	background-color: $btn-vk-bg;
		&:hover {
		background-color: $btn-vk-bg-hover;
		}//hover
	}//btn-vk	

	//--------------------------------------------//
	// 1.8 Btn Twitter / .btn-twitter
	//--------------------------------------------//
	&.btn-twitter {
	background-color: $btn-twitter-bg;
		&:hover {
		background-color: $btn-twitter-bg-hover;
		}//hover
	}//btn-twitter	

	//--------------------------------------------//
	// 1.9 Btn Youtube / .btn-youtube
	//--------------------------------------------//
	&.btn-youtube {
	background-color: $btn-youtube-bg;
		&:hover {
		background-color: $btn-youtube-bg-hover;
		}//hover
	}//btn-youtube	

	//--------------------------------------------//
	// 1.11 Btn Vimeo / .btn-vimeo
	//--------------------------------------------//
	&.btn-vimeo {
	background-color: $btn-vimeo-bg;
		&:hover {
		background-color: $btn-vimeo-bg-hover;
		}//hover
	}//btn-vimeo

}//btn-social

a {
	&.btn-social {
	display: block;
	line-height: $btn-social-height;
	}//btn-social
}//a