// Btn Size
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Xl / .btn-xl
// 2.0 Btn Lg / .btn-lg
// 3.0 Btn Md / .btn-md
// 4.0 Btn Sm / .btn-sm
// 5.0 Btn Xs / .btn-xs

//--------------------------------------------//
// 1.0 Btn Xl / .btn-xl
//--------------------------------------------//
.btn-xl {
padding: $btn-xl;
font-size: $btn-xl-font-size;
}//btn-xl

//--------------------------------------------//
// 2.0 Btn Lg / .btn-lg
//--------------------------------------------//
.btn-lg {
padding: $btn-lg;
font-size: $btn-lg-font-size;
}//btn-lg

//--------------------------------------------//
// 3.0 Btn Md / .btn-md
//--------------------------------------------//
.btn-md {
padding: $btn-md;
font-size: $btn-md-font-size;
}//btn-md

//--------------------------------------------//
// 4.0 Btn Sm / .btn-sm
//--------------------------------------------//
.btn-sm {
padding: $btn-sm;
font-size: $btn-sm-font-size;
}//btn-sm

//--------------------------------------------//
// 5.0 Btn Xs / .btn-xs
//--------------------------------------------//
.btn-xs {
padding: $btn-xs;
font-size: $btn-xs-font-size;
}//btn-xs