// Btn Outline
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Outline / .btn-outline
	// 1.1 Btn Round Outline / .btn-round
	// 1.2 Btn Pill Outline / .btn-pill
	// 1.3 Btn Circle Outline / .btn-circle
	// 1.4 Btn Disabled Outline / .btn-disabled
	// 1.5 Btn Default Outline / .btn-default
	// 1.6 Btn Danger Outline / .btn-danger
	// 1.7 Btn Info Outline / .btn-info
	// 1.8 Btn Inverse Outline / .btn-inverse
	// 1.9 Btn Primary Outline / .btn-primary
	// 1.10 Btn Success Outline / .btn-success
	// 1.11 Btn Warning Outline / .btn-warning

//--------------------------------------------//
// 1.0 Btn Outline / .btn-outline
//--------------------------------------------//
.btn-outline {
position: relative;
background-color: $btn-o-bg;
border: $btn-o-border;
border-radius: $border-zero;
padding: $btn-padding;
line-height: $btn-line-height;
font-size: $btn-font-size;
cursor: pointer;
box-shadow: none;
outline: 0;
@include transition($fast);
	&:focus, &:hover, &:active {
	box-shadow: none;
	}//btn:focus

	//--------------------------------------------//
	// 1.1 Btn Round Outline / .btn-round
	//--------------------------------------------//
	&.btn-round {
	border-radius: $border-radius;
	}//btn-round

	//--------------------------------------------//
	// 1.2 Btn Pill Outline / .btn-pill
	//--------------------------------------------//
	&.btn-pill {
	border-radius: 20px;
	}//btn-pill

	//--------------------------------------------//
	// 1.3 Btn Circle Outline / .btn-circle
	//--------------------------------------------//
	&.btn-circle {
	border-radius: 50%;
	}//btn-circle

	//--------------------------------------------//
	// 1.4 Btn Disabled Outline / .btn-disabled
	//--------------------------------------------//
	&.disabled {
	opacity: 0.7;
	cursor: $cursor-disabled;
	}//disabled

	i {
	margin-right: 5px;
	}//i

	//--------------------------------------------//
	// 1.5 Btn Default Outline / .btn-default
	//--------------------------------------------//
	&.btn-default {
	border: $border-solid;
	@include button-variant($btn-default-font-color, $btn-o-bg, $btn-default-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $gray;
		border-color: $gray;
		}//hover
	}//btn-default

	//--------------------------------------------//
	// 1.6 Btn Danger Outline / .btn-danger
	//--------------------------------------------//	
	&.btn-danger {
	border: $border-solid;
	@include button-variant($btn-danger-font-color, $btn-o-bg, $btn-danger-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $red;
		border-color: $red;
		}//hover
	}//btn-danger	

	//--------------------------------------------//
	// 1.7 Btn Info Outline / .btn-info
	//--------------------------------------------//
	&.btn-info {
	border: $border-solid;
	@include button-variant($btn-info-font-color, $btn-o-bg, $btn-info-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $blue;
		border-color: $blue;
		}//hover
	}//btn-info	

	//--------------------------------------------//
	// 1.8 Btn Inverse Outline / .btn-inverse
	//--------------------------------------------//
	&.btn-inverse {
	border: $border-solid;
	@include button-variant($btn-inverse-font-color, $btn-o-bg, $btn-inverse-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $btn-inverse-bg;
		border-color: $btn-inverse-bg;
		}//hover
	}//btn-inverse

	//--------------------------------------------//
	// 1.9 Btn Primary Outline / .btn-primary
	//--------------------------------------------//
	&.btn-primary {
	border: $border-solid;
	@include button-variant($btn-primary-font-color, $btn-o-bg, $btn-primary-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $primary;
		border-color: $primary;
		}//hover
	}//btn-primary	

	//--------------------------------------------//
	// 1.10 Btn Success Outline / .btn-success
	//--------------------------------------------//
	&.btn-success {
	border: $border-solid;
	@include button-variant($btn-success-font-color, $btn-o-bg, $btn-success-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;	
		}//focus
		&:hover {
		background-color: $green;
		border-color: $green;
		}//hover
	}//btn-success	

	//--------------------------------------------//
	// 1.11 Btn Warning Outline / .btn-warning
	//--------------------------------------------//
	&.btn-warning {
	border: $border-solid;
	@include button-variant($btn-warning-font-color, $btn-o-bg, $btn-warning-border);
		&:focus {
		box-shadow: none;
		background-color: $btn-bg;
		}//focus
		&:hover {
		background-color: $yellow;
		border-color: $yellow;
		}//hover
	}//btn-warning	

	&.btn-danger, &.btn-info,
	&.btn-inverse, &.btn-primary,
	&.btn-success, &.btn-warning {
		&:hover {
		color: $white;
		}//hover
	}//hover color for btn-o

}//btn-outline