// Btn Social Outline
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Social Outline / .btn-outline-social
	// 1.1 Btn Facebook Outline / .btn-facebook
	// 1.2 Btn Google Plus Outline / .btn-googlep
	// 1.3 Btn Instagram Outline / .btn-instagram
	// 1.4 Btn Linkedin Outline / .btn-linkedin
	// 1.5 Btn Pinterset Outline / .btn-pinterest
	// 1.6 Btn Snapchat Outline / .btn-snapchat
	// 1.7 Btn Twitter Outline / .btn-twitter
	// 1.8 Btn Vk Outline / .btn-vk
	// 1.9 Btn Vimeo Outline / .btn-vimeo
	// 1.10 Btn Youtube Outline / .btn-youtube

//--------------------------------------------//
// 1.0 Btn Social Outline / .btn-outline-social
//--------------------------------------------//
.btn-outline-social {
width: $btn-social-width;
height: $btn-social-height;
background-color: $btn-o-bg;
padding: 0rem;
text-align: center;
@include transition($fast);
	i {
	margin-right: 0px;
	}//i

	//--------------------------------------------//
	// 1.1 Btn Facebook Outline / .btn-facebook
	//--------------------------------------------//
	&.btn-facebook {
	border: $btn-facebook-border;
	color: $facebook;
		&:hover {
		background-color: $btn-facebook-bg;
		border: $btn-facebook-border;
		color: $white;
		}//hover
	}//btn-facebook	

	//--------------------------------------------//
	// 1.2 Btn Google Plus Outline / .btn-googlep
	//--------------------------------------------//	
	&.btn-googlep {
	border: $btn-googlep-border;
	color: $googlep;
		&:hover {
		background-color: $btn-googlep-bg;
		border: $btn-googlep-border;
		color: $white;
		}//hover
	}//btn-googlep	

	//--------------------------------------------//
	// 1.3 Btn Instagram Outline / .btn-instagram
	//--------------------------------------------//		
	&.btn-instagram {
	border: $border-solid $font-color;
	color: $font-color;
		&:hover {
		background: $btn-instagram-bg;
		border: $border-zero;
		color: $white;
		}//hover
	}//btn-instagram	

	//--------------------------------------------//
	// 1.4 Btn Linkedin Outline / .btn-linkedin
	//--------------------------------------------//
	&.btn-linkedin {
	border: $btn-linkedin-border;
	color: $linkedin;
		&:hover {
		background-color: $btn-linkedin-bg;
		border: $btn-linkedin-border;
		color: $white;
		}//hover
	}//btn-linkedin	

	//--------------------------------------------//
	// 1.5 Btn Pinterset Outline / .btn-pinterest
	//--------------------------------------------//	
	&.btn-pinterest {
	border: $btn-pinterest-border;
	color: $pinterest;
		&:hover {
		background-color: $btn-pinterest-bg;
		border: $btn-pinterest-border;
		color: $white;
		}//hover
	}//btn-pinterest	

	//--------------------------------------------//
	// 1.6 Btn Snapchat Outline / .btn-snapchat
	//--------------------------------------------//
	&.btn-snapchat {
	border: $btn-snapchat-border;
	color: $snapchat;
		&:hover {
		background-color: $btn-snapchat-bg;
		border: $btn-snapchat-border;
		color: $white;
		}//hover
	}//btn-snapchat	

	//--------------------------------------------//
	// 1.7 Btn Twitter Outline / .btn-twitter
	//--------------------------------------------//	
	&.btn-twitter {
	border: $btn-twitter-border;
	color: $twitter;
		&:hover {
		background-color: $btn-twitter-bg;
		border: $btn-twitter-border;
		color: $white;
		}//hover
	}//btn-twitter	

	//--------------------------------------------//
	// 1.8 Btn Vk Outline / .btn-vk
	//--------------------------------------------//		
	&.btn-vk {
	border: $btn-vk-border;
	color: $vk;
		&:hover {
		background-color: $btn-vk-bg;
		border: $btn-vk-border;
		color: $white;
		}//hover
	}//btn-vk	

	//--------------------------------------------//
	// 1.9 Btn Vimeo Outline / .btn-vimeo
	//--------------------------------------------//			
	&.btn-vimeo {
	border: $btn-vimeo-border;
	color: $vimeo;
		&:hover {
		background-color: $btn-vimeo-bg;
		border: $btn-vimeo-border;
		color: $white;
		}//hover
	}//btn-vimeo	

	//--------------------------------------------//
	// 1.10 Btn Youtube Outline / .btn-youtube
	//--------------------------------------------//	
	&.btn-youtube {
	border: $btn-youtube-border;
	color: $youtube;
		&:hover {
		background-color: $btn-youtube-bg;
		border: $btn-youtube-border;
		color: $white;
		}//hover
	}//btn-youtube
		
}//btn-outline-social