// Btn Group & Btn Group Vertical
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Group & Btn Group Vertical / .btn-group, .btn-group-vertical
// 2.0 Btn Toolbar / .btn-toolbar
// 3.0 Btn Group / .btn-group
// 4.0 Btn Dropdown Toggle / .btn + .dropdown-toggle-split
// 5.0 Btn Group Open Drodpown / .btn-group.open .dropdown-toggle
// 6.0 Btn Group Vertical / .btn-group-vertical

//--------------------------------------------//
// 1.0 Btn Group & Btn Group Vertical / .btn-group, .btn-group-vertical
//--------------------------------------------//
.btn-group,
.btn-group-vertical {
position: relative;
display: inline-flex;
vertical-align: middle; 
	> .btn {
	position: relative;
	flex: 0 1 auto;
		@include hover {
		z-index: 2;
		}// hover
		&:focus,
		&:active,
		&.active {
		z-index: 2;
		}//focus, active
	}//> btn
	&.btn-xl {
		.btn {
		padding: $btn-xl;
		font-size: $btn-xl-font-size;
		}//btn
	}//btn-xl
	&.btn-lg {
		.btn {
		padding: $btn-lg;
		font-size: $btn-lg-font-size;
		}//btn
	}//btn-lg
	&.btn-md {
		.btn {
		padding: $btn-md;
		font-size: $btn-md-font-size;
		}//btn
	}//btn-md
	&.btn-sm {
		.btn {
		padding: $btn-sm;
		font-size: $btn-sm-font-size;
		}//btn
	}//btn-sm
	&.btn-xs {
		.btn {
		padding: $btn-xs;
		font-size: $btn-xs-font-size;
		}//btn
	}//btn-xs
	.btn + .btn,
	.btn + .btn-group,
	.btn-group + .btn,
	.btn-group + .btn-group {
	margin-left: -$input-btn-border-width;
	}//btn + btn, btn + btn-group
}//btn-group


//--------------------------------------------//
// 2.0 Btn Toolbar / .btn-toolbar
//--------------------------------------------//
.btn-toolbar {
display: flex;
justify-content: flex-start;
  .input-group {
    width: auto;
  }//input-group
}//btn-toolbar

//--------------------------------------------//
// 3.0 Btn Group / .btn-group
//--------------------------------------------//
.btn-group {
	> .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
	}//btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
	> .btn:first-child {
	margin-left: 0;
		&:not(:last-child):not(.dropdown-toggle) {
		@include border-right-radius(0);
		}//not
	}//btn:first-child
	> .btn:last-child:not(:first-child),
	> .dropdown-toggle:not(:first-child) {
	@include border-left-radius(0);
	}//btn-group > .btn:last-child:not(:first-child)
	> .btn-group {
	float: left;
		&:not(:first-child):not(:last-child) > .btn {
		border-radius: 0;
		}//not(:first-child):not(:last-child) > .btn
	}//btn-group > .btn-group
	> .btn-group:first-child:not(:last-child) {
	> .btn:last-child,
		> .dropdown-toggle {
		@include border-right-radius(0);
		}//btn-group:first-child:not(:last-child), btn:last-child, dropdown-toggle
	 	> .btn-group:last-child:not(:first-child) > .btn:first-child {
		@include border-left-radius(0);
		}//btn-group:last-child:not(:first-child) > btn:first-child
		.dropdown-toggle:active,
		&.open .dropdown-toggle {
		outline: 0;
		}//&.open .dropdown-toggle
	} //btn-group:first-child:not(:last-child)
} //btn-group

//--------------------------------------------//
// 4.0 Btn Dropdown Toggle / .btn + .dropdown-toggle-split
//--------------------------------------------//
.btn + .dropdown-toggle-split {
padding-right: $btn-padding-x * .75;
padding-left: $btn-padding-x * .75;
	&::after {
	margin-left: 0;
	}//after
	&.btn-danger {
	background-color: darken($btn-danger-bg, 3%); 
	}//btn-danger	
	&.btn-default {
	background-color: darken($btn-default-bg, 3%); 
	}//btn-default	
	&.btn-info {
	background-color: darken($btn-info-bg, 3%); 
	}//btn-info	
	&.btn-inverse {
	background-color: lighten($btn-inverse-bg, 4%); 
	}//btn-inverse
	&.btn-primary {
	background-color: darken($btn-primary-bg, 3%); 
	}//btn-primary		
	&.btn-success {
	background-color: darken($btn-success-bg, 3%); 
	}//btn-success	
	&.btn-warning {
	background-color: darken($btn-warning-bg, 3%); 
	}//btn-warning	
}//btn + dropdown-toggle-split

//--------------------------------------------//
// 5.0 Btn Group Open Drodpown / .btn-group.open .dropdown-toggle
//--------------------------------------------//
.btn-group.open .dropdown-toggle {
@include box-shadow($btn-active-box-shadow);	
	&.btn-link {
	@include box-shadow(none);
	}//btn-link
}//btn-group.open dropdown-toggle

//--------------------------------------------//
// 6.0 Btn Group Vertical / .btn-group-vertical
//--------------------------------------------//
.btn-group-vertical {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
	.btn,
	.btn-group {
	width: 100%;
	}//btn, btn-group
	> .btn + .btn,
	> .btn + .btn-group,
	> .btn-group + .btn,
	> .btn-group + .btn-group {
	margin-left: 0;
	margin-top: 0;
	}//btn
	> .btn {
		&:not(:first-child):not(:last-child) {
		border-radius: 0;
		}// not(:first-child):not(:last-child)
		&:first-child:not(:last-child) {
		@include border-bottom-radius(0);
		}// first-child:not(:last-child)
		&:last-child:not(:first-child) {
		@include border-top-radius(0);
		}// last-child:not(:first-child)
	}// > btn
 	> .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0;
	}//btn-group:not(:first-child):not(:last-child) > btn
	> .btn-group:first-child:not(:last-child) {
	> .btn:last-child,
		> .dropdown-toggle {
		@include border-bottom-radius(0);
		}//dropdown-toggle
	}//btn-group:first-child:not(:last-child)
	.btn-group:last-child:not(:first-child) > .btn:first-child {
	@include border-top-radius(0);
	}//btn-group:last-child:not(:first-child) > btn:first-child
}//btn-group-vertical

[data-toggle="buttons"] {
	> .btn,
	> .btn-group > .btn {
		input[type="radio"],
		input[type="checkbox"] {
		position: absolute;
		clip: rect(0,0,0,0);
		pointer-events: none;
		}//input type
	}// btn-group > btn
}//data-toggle=buttons







