// Btn Social Size
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn Social Xl / .btn-social-xl
// 2.0 Btn Social Lg / .btn-social-lg
// 3.0 Btn Social Md / .btn-social-md
// 4.0 Btn Social Sm / .btn-social-sm
// 5.0 Btn Social Xs / .btn-social-xs

//--------------------------------------------//
// 1.0 Btn Social Xl / .btn-social-xl
//--------------------------------------------//
.btn-social-xl {
width: $btn-social-xl-width;
height: $btn-social-xl-height;
font-size: $btn-social-xl-size;
	i {
	font-size: $btn-social-xl-size;		
	}//i
}//btn-social-xl

//--------------------------------------------//
// 2.0 Btn Social Lg / .btn-social-lg
//--------------------------------------------//
.btn-social-lg {
width: $btn-social-lg-width;
height: $btn-social-lg-height;
font-size: $btn-social-lg-size;
	i {
	font-size: $btn-social-lg-size;		
	}//i
}//btn-social-lg

//--------------------------------------------//
// 3.0 Btn Social Md / .btn-social-md
//--------------------------------------------//
.btn-social-md {
width: $btn-social-md-width;
height: $btn-social-md-height;
font-size: $btn-social-md-size;
	i {
	font-size: $btn-social-md-size;		
	}//i
}//btn-social-md

//--------------------------------------------//
// 4.0 Btn Social Sm / .btn-social-sm
//--------------------------------------------//
.btn-social-sm {
width: $btn-social-sm-width;
height: $btn-social-sm-height;
font-size: $btn-social-sm-size;
	i {
	font-size: $btn-social-sm-size;		
	}//i
}//btn-social-sm

//--------------------------------------------//
// 5.0 Btn Social Xs / .btn-social-xs
//--------------------------------------------//
.btn-social-xs {
width: $btn-social-xs-width;
height: $btn-social-xs-height;
font-size: $btn-social-xs-size;
	i {
	font-size: $btn-social-xs-size;		
	}//i
}//btn-social-xs
