// Btn
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Btn / .btn
	// 1.1 Btn Round / .btn-round
	// 1.2 Btn Pill / .btn-pill
	// 1.3 Btn Circle / .btn-circle
	// 1.4 Btn Disabled / .btn-disabled
	// 1.5 Btn Default / .btn-default
	// 1.6 Btn Danger / .btn-danger
	// 1.7 Btn Info / .btn-info
	// 1.8 Btn Inverse / .btn-inverse
	// 1.9 Btn Primary / .btn-primary
	// 1.10 Btn Success / .btn-success
	// 1.11 Btn Warning / .btn-warning
	// 1.12 Btn White / .btn-white
	// 1.13 Btn Link / .btn-link
	
//--------------------------------------------//
// 1.0 Btn / .btn
//--------------------------------------------//
.btn {
position: relative;
background-color: $btn-bg;
border: $border-zero;
border-radius: $border-zero;
padding: $btn-padding;
line-height: $btn-line-height;
font-size: $btn-font-size;
cursor: pointer;
box-shadow: none;
outline: 0;
@include transition($fast);
	&:focus, &:hover, &:active {
	box-shadow: none;
	}//btn:focus

	//--------------------------------------------//
	// 1.1 Btn Round / .btn-round
	//--------------------------------------------//
	&.btn-round {
	border-radius: $border-radius;
	}//btn-round

	//--------------------------------------------//
	// 1.2 Btn Pill / .btn-pill
	//--------------------------------------------//
	&.btn-pill {
	border-radius: 20px;
	}//btn-pill

	//--------------------------------------------//
	// 1.3 Btn Circle / .btn-circle
	//--------------------------------------------//
	&.btn-circle {
	border-radius: 50%;
	}//btn-circle

	//--------------------------------------------//
	// 1.4 Btn Disabled / .btn-disabled
	//--------------------------------------------//
	&.disabled {
	opacity: 0.7;
	cursor: $cursor-disabled;
	}//disabled

	i {
	margin-right: 5px;
	}//i

	//--------------------------------------------//
	// 1.5 Btn Default / .btn-default
	//--------------------------------------------//
	&.btn-default {
	@include button-variant($font-color, $btn-default-bg, $btn-default-border);
	border: 1px solid $btn-default-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $darken-gray;
		border-color: $darken-gray;
		}//hover
	}//btn-default	

	//--------------------------------------------//
	// 1.6 Btn Danger / .btn-danger
	//--------------------------------------------//
	&.btn-danger {
	@include button-variant($btn-font-color, $btn-danger-bg, $btn-danger-border);
	border: 1px solid $btn-danger-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $darken-red;
		border-color: $darken-red;
		}//hover
	}//btn-danger

	//--------------------------------------------//
	// 1.7 Btn Info / .btn-info
	//--------------------------------------------//	
	&.btn-info {
	@include button-variant($btn-font-color, $btn-info-bg, $btn-info-border);
	border: 1px solid $btn-info-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $darken-blue;
		border-color: $darken-blue;
		}//hover
	}//btn-info	

	//--------------------------------------------//
	// 1.8 Btn Inverse / .btn-inverse
	//--------------------------------------------//
	&.btn-inverse {
	@include button-variant($btn-font-color, $btn-inverse-bg, $btn-inverse-border);
	border: 1px solid $btn-inverse-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $black;
		border-color: $black;
		}//hover
	}//btn-inverse

	//--------------------------------------------//
	// 1.9 Btn Primary / .btn-primary
	//--------------------------------------------//
	&.btn-primary {
	@include button-variant($btn-font-color, $btn-primary-bg, $btn-primary-border);
	border: 1px solid $btn-primary-border;
		&:hover, &.active, &.disabled {
		background-color: $darken-primary;
		border-color: $darken-primary;
		}//hover
		&:focus {
		box-shadow: none;	
		}//focus
	}//btn-primary

	//--------------------------------------------//
	// 1.10 Btn Success / .btn-success
	//--------------------------------------------//	
	&.btn-success {
	@include button-variant($btn-font-color, $btn-success-bg, $btn-success-border);
	border: 1px solid $btn-success-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $darken-green;
		border-color: $darken-green;
		}//hover
	}//btn-success	

	//--------------------------------------------//
	// 1.11 Btn Warning / .btn-warning
	//--------------------------------------------//
	&.btn-warning {
	@include button-variant($btn-font-color, $btn-warning-bg, $btn-warning-border);
	border: 1px solid $btn-warning-border;
		&:focus {
		box-shadow: none;	
		}//focus
		&:hover, &.active, &.disabled {
		background-color: $darken-yellow;
		border-color: $darken-yellow;
		}//hover
	}//btn-warning	

	//--------------------------------------------//
	// 1.12 Btn White / .btn-white
	//--------------------------------------------//
	&.btn-white {
	background-color: $white;
	border: $border-solid $white;
	color: $font-color;
		&:focus, &:active, &.active {
		background-color: $white;
		border: $border-solid $white;
		color: $font-color;
		}//&:focus, &:active, &.active
		&:hover {
		background-color: darken($white, 5%);
		border: $border-solid darken($white, 5%);
		color: $font-color;
		}//hover
	}//btn-white

	//--------------------------------------------//
	// 1.13 Btn Link / .btn-link
	//--------------------------------------------//
	&.btn-link {
	padding: 5px;
	color: $font-color;
	}//btn-link

}//btn

