// Table 
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Table / .table
// 2.0 Table Sm / .table-sm
// 3.0 Table Bordered / .table-bordered
// 4.0 Table Striped / .table-striped
// 5.0 Table Hover / .table-hover 
// 6.0 Table Default / .thead-default 
// 7.0 Table Responsive / .table-responsive 

//--------------------------------------------//
// 1.0 Table / .table
//--------------------------------------------//

.table {
width: 100%;
max-width: 100%;
margin-bottom: 0rem;
color: $font-color;
	th, td {
	padding: $table-cell-padding;
	vertical-align: top;
	border-top: $table-border;
	font-size: $table-font-size;
	}//th td
	thead th {
	vertical-align: bottom;
	border-bottom: $table-border;
	font-size: $table-thead-font-size;
	font-weight: $default-weight;
	}//thead th
	tbody + tbody {
	border-top: $table-border;
	}//tbody + tbody
}//table

//--------------------------------------------//
// 2.0 Table Sm / .table-sm
//--------------------------------------------//
.table-sm {
	th, td {
	padding: $table-sm-cell-padding;
	}//th, td
}//table-sm

//--------------------------------------------//
// 3.0 Table Bordered / .table-bordered
//--------------------------------------------//
.table-bordered {
border: $table-border;
	th, td {
	border: $table-border;
	}//th, td
	thead {
		th, td {
		border-bottom-width:$table-border;
		}//th, td
	}//thead
}//table-bordered

//--------------------------------------------//
// 4.0 Table Striped / .table-striped
//--------------------------------------------//
.table-striped {
	tbody tr:nth-of-type(odd) {
	background-color: $table-bg-accent;
	}//tbody tr
}//table-striped

//--------------------------------------------//
// 5.0 Table Hover / .table-hover 
//--------------------------------------------//
.table-hover {
	tbody tr {
	@include transition($fast);
		@include hover {
		background-color: $table-bg-hover;
		}//hover
	}//tbody tr
}//table-hover

//--------------------------------------------//
// 6.0 Table Default / .thead-default 
//--------------------------------------------//
.thead-default {
	th {
	background-color: $table-head-bg;
	}//th
}//thead-default

//--------------------------------------------//
// 7.0 Table Responsive / .table-responsive 
//--------------------------------------------//
.table-responsive {
width: 100%;
overflow-x: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
	@include media-breakpoint-only(xs) {
	display: block;
	}//xs, sm
	&.table-bordered {
	border: 0;
	}//table-bordered
}//table-responsive
