// Table Inverse
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Thead Inverse / .thead-inverse
// 2.0 Table Inverse / .table-inverse 
	
//--------------------------------------------//
// 1.0 Thead Inverse / .thead-inverse
//--------------------------------------------//
.thead-inverse {
	th {
	color: $table-inverse-color;
	background-color: $table-inverse-bg;
	}//th
}//thead-inverse

//--------------------------------------------//
// 2.0 Table Inverse / .table-inverse 
//--------------------------------------------//
.table-inverse {
color: $table-inverse-color;
background-color: $table-inverse-bg;
	th, td, thead th {
	border-color: $border-inverse-color;
	}//th, td, thead th
	&.table-bordered {
	border: 0;
	}//table-bordered
	&.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: lighten($table-inverse-bg, 5%);
	}//table-striped
	&.table-hover {
		tbody tr {
			@include hover {
			background-color: $table-inverse-bg-hover;
			}//hover
		}//tbody tr
	}//table-hover
}//table-inverse