// Dropdown
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Dropup, Dropdown / .dropup, .dropdown
// 2.0 Dropdown Toggle / .dropdown-toggle
// 3.0 Dropup / .dropup
// 4.0 Dropdown Menu / .dropdown-menu
// 5.0 Dropdown Divider / .dropdown-divider
// 6.0 Dropdown Item / .dropdown-item
// 7.0 Show Dropdown / .show
// 8.0 Dropdown Menu Right / .dropdown-menu-right
// 9.0 Dropdown Menu Left  / .dropdown-menu-left
// 10.0 Dropdown Backdrop / .dropdown-backdrop

//--------------------------------------------//
// 1.0 Dropup, Dropdown / .dropup, .dropdown
//--------------------------------------------//
.dropup,
.dropdown {
position: relative;
margin-bottom: 0;
}//dropup, dropdown

//--------------------------------------------//
// 2.0 Dropdown Toggle / .dropdown-toggle
//--------------------------------------------//
.dropdown-toggle {
	&::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: $caret-width;
	vertical-align: middle;
	content: "";
	border-top: $caret-width solid;
	border-right: $caret-width solid transparent;
	border-left: $caret-width solid transparent;
	}//after
	&:focus {
	outline: 0;
	}//focus
}//dropdown-toggle

//--------------------------------------------//
// 3.0 Dropup / .dropup
//--------------------------------------------//
.dropup {
	.dropdown-toggle {
		&::after {
		border-top: 0;
		border-bottom: $caret-width solid;
		}//after
	}//dropdown-toggle
	.dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 0;
	}//dropdown-menu
}//dropup

//--------------------------------------------//
// 4.0 Dropdown Menu / .dropdown-menu
//--------------------------------------------//
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
padding: 0;
background-color: $dropdown-bg;
background-clip: padding-box;
border-radius: 0px;
border: $border-solid $border-color;
display: none; 
float: left;
margin: 0;
min-width: $dropdown-min-width;
font-size: 14px;
color: $font-color;
text-align: left;
list-style: none;
z-index: $zindex-dropdown;
}//dropdown-menu

//--------------------------------------------//
// 5.0 Dropdown Divider / .dropdown-divider
//--------------------------------------------//
.dropdown-divider {
background-color: $border-color;
margin: 0;
}//dropdown divider

//--------------------------------------------//
// 6.0 Dropdown Item / .dropdown-item
//--------------------------------------------//
.dropdown-item {
display: block;
width: 100%;
clear: both;
text-align: inherit; 
white-space: nowrap;
background: none; 
padding: $drop-padding;
color: $font-color;
border: 0; 
@include transition($fast);	
	&.active,
	&:active {
	color: $font-color;
	text-decoration: none;
	background-color: transparent;
	}//active
	&:focus {
	background-color: transparent;
	}//focus
	&:hover {
	background-color: $bg;
	text-decoration: none;
	color: $primary;
	}//hover
	&.disabled,
	&:disabled {
	color: $font-color;
	cursor: $cursor-disabled;
	background-color: $white;
	// Remove CSS gradients if they're enabled
		@if $enable-gradients {
		background-image: none;
		}//if
	}//disabled
}//dropdown-item

//--------------------------------------------//
// 7.0 Show Dropdown / .show
//--------------------------------------------//
.show {
	> .dropdown-menu {
	display: block;
	}//dropdown-menu
	// Remove the outline when :focus is triggered
	> a {
	outline: 0;
	}//a
}//show

//--------------------------------------------//
// 8.0 Dropdown Menu Right / .dropdown-menu-right
//--------------------------------------------//
.dropdown-menu-right {
right: 0;
left: auto;
}//dropdown-menu-right

//--------------------------------------------//
// 9.0 Dropdown Menu Left  / .dropdown-menu-left
//--------------------------------------------//
.dropdown-menu-left {
right: auto;
left: 0;
}//dropdown-menu-left

//--------------------------------------------//
// 10.0 Dropdown Backdrop / .dropdown-backdrop
//--------------------------------------------//
.dropdown-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: $zindex-dropdown-backdrop;
}//dropdown-backdrop
