// Authentication
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Authentication / .authentication

//--------------------------------------------//
// 1.0 Authentication / .authentication
//--------------------------------------------//
.authentication {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;	
	.authentication-header {
	background-color: $primary;
	padding: $authentication-header-padding;
	color: $white;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
		p {
		font-size: $authentication-header-font-size;	
		}//p
	}//authentication-header
	.authentication-wrapper {
	background-color: $white;
	max-width: $authentication-wrapper-max-width;
	width: 100%;
	border: $border-solid $border-color;
	border-radius: $border-radius;
	}//authentication-wrapper
	.authentication-content {
	padding: 1rem;	
	}//authentication-content
}//authentication