// Authentication Material Design
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Authentication Material Design / .md-authentication

//--------------------------------------------//
// 1.0 Authentication Material Design / .md-authentication
//--------------------------------------------//
.md-authentication {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;	
	&-bg {
	background-image: url($md-authentication-img-bg);
	width: 100%;
	max-height: 100%;
	}//bg
	.md-authentication-header {
	color: $primary;
	background-color: $white;
	border-bottom: $border-solid $border-color;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	padding: $md-authentication-header-padding;
	text-align: center;
		p {
		font-size: $authentication-header-font-size;	
		}//p
	}//authentication-header
	.md-authentication-wrapper {
	background-color: $md-authentication-wrapper-bg;
	max-width: $authentication-wrapper-max-width;
	width: 100%;
	}//md-authentication-wrapper
	.md-authentication-content {
	padding: 20px 10px;
		.checkbox label::before {
		background-color: $bg;
		}//checkbox label::before
		.form-group {
		margin-bottom: 20px;
		}//form-group
		.form-check {
		margin-bottom: 0px;
		}//form-check
		.form-footer {
		margin-top: 10px;
		}//form-footer
	}//md-authentication-content
}//md-authentication