// Modal Background
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Modal Background / .modal-bg 
	// 1.1 Modal Header / .modal-header
	// 1.2 Modal Content / .modal-content
	// 1.3 Modal Footer / .modal-footer 
	// 1.4 Modal Background Danger / .modal-bg-danger 
	// 1.5 Modal Background Info / .modal-bg-info
	// 1.6 Modal Background Success / .modal-bg-succes
	// 1.7 Modal Background Warning / .modal-bg-warning 
	// 1.8 Modal Danger / .modal-danger 
	// 1.9 Modal Info / .modal-info
	// 1.10 Modal Success / .modal-success
	// 1.11 Modal Warning/ .modal-warning
	
//--------------------------------------------//
// 1.0 Modal Background / .modal-bg
//--------------------------------------------// 
.modal-bg {

	//--------------------------------------------//
	// 1.1 Modal Header / .modal-header
	//--------------------------------------------// 
	.modal-header {
	justify-content: flex-end;
	border: $border-zero;
	background-color: transparent;
	}//modal-header

	//--------------------------------------------//
	// 1.2 Modal Content / .modal-content
	//--------------------------------------------// 
	.modal-content {
	text-align: center;
		.modal-body {
		padding: 0rem 5rem;
			i {
			font-size: 5rem;	
			padding: 0rem;
			}//icon
			.title {
			padding: 1rem;
			}//title
		}//modal-body
	}//modal-content

	//--------------------------------------------//
	// 1.3 Modal Footer / .modal-footer 
	//--------------------------------------------// 
	.modal-footer {
	padding: 1.5rem 0rem;
	justify-content: center;
	border: $border-zero;
	background-color: transparent;
	}//modal-footer

	//--------------------------------------------//
	// 1.4 Modal Background Danger / .modal-bg-danger 
	//--------------------------------------------// 
	&.modal-bg-danger {
		.modal-content {
		background-color: $modal-danger-color;
		border-color: $modal-danger-color;
		color: $white;
		}//modal-content
	}//modal-bg-danger		

	//--------------------------------------------//
	// 1.5 Modal Background Info / .modal-bg-info
	//--------------------------------------------// 	
	&.modal-bg-info {
		.modal-content {
		background-color: $modal-info-color;
		border-color: $modal-info-color;
		color: $white;
		}//modal-content
	}//modal-bg-info	

	//--------------------------------------------//
	// 1.6 Modal Background Success / .modal-bg-succes
	//--------------------------------------------// 
	&.modal-bg-success {
		.modal-content {
		background-color: $modal-success-color;
		border-color: $modal-success-color;
		color: $white;
		}//modal-content
	}//modal-bg-success

	//--------------------------------------------//
	// 1.7 Modal Background Warning / .modal-bg-warning 
	//--------------------------------------------// 		
	&.modal-bg-warning {
		.modal-content {
		background-color: $modal-warning-color;
		border-color: $modal-warning-color;
		color: $white;
		}//modal-content
	}//modal-bg-warning

	//--------------------------------------------//
	// 1.8 Modal Danger / .modal-danger 
	//--------------------------------------------// 
	&.modal-danger {
		.modal-content .modal-body {
			i, .title {
			color: $modal-danger-color;
			}//icon
		}//modal-body
	}//modal-danger	

	//--------------------------------------------//
	// 1.9 Modal Info / .modal-info
	//--------------------------------------------// 
	&.modal-info {
		.modal-content .modal-body {
			i, .title {
			color: $modal-info-color;
			}//icon
		}//modal-body
	}//modal-info	

	//--------------------------------------------//
	// 1.10 Modal Success / .modal-success
	//--------------------------------------------// 
	&.modal-success {
		.modal-content .modal-body {
			i, .title {
			color: $modal-success-color;
			}//icon
		}//modal-body
	}//modal-success

	//--------------------------------------------//
	// 1.11 Modal Warning/ .modal-warning
	//--------------------------------------------// 
	&.modal-warning {
		.modal-content .modal-body {
			i, .title {
			color: $modal-warning-color;
			}//icon
		}//modal-body
	}//modal-warning

}//modal-bg