// Modals
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Modal Open / .modal-open
// 2.0 Modal / .modal
// 3.0 Modal Open Modal / .modal-open .modal
// 4.0 Modal Dialog / .modal-dialog
// 5.0 Modal Content / .modal-content
// 6.0 Modal Backdrop / .modal-backdrop
// 7.0 Modal Header / .modal-header
// 8.0 Modal Title / .modal-title
// 9.0 Modal Body / .modal-body
// 10.0 Modal Footer / .modal-footer
// 11.0 Modal Scrollbar / .modal-scrollbar-measure
// 12.0 Modal Size / .modal-sm, .modal-lg

//--------------------------------------------//
// 1.0 Modal Open / .modal-open
//--------------------------------------------//
.modal-open {
overflow: hidden;
}//modal-open

//--------------------------------------------//
// 2.0 Modal / .modal
//--------------------------------------------//
.modal {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: $zindex-modal;
display: none;
overflow: hidden;
outline: 0;

	&.modal-bg-header {
		.modal-header {
		justify-content: flex-end;
		border: $border-zero;
		}//modal-header
		.modal-content {
		text-align: center;
			.modal-body {
			padding: 0rem 5rem;
				i {
				font-size: 5rem;	
				padding: 0rem;
				}//icon
				.title {
				padding: 1rem;
				font-weight: 300;
				}//title
			}//modal-body
		}//modal-content
		.modal-footer {
		padding: 1.5rem 0rem;
		justify-content: center;
		border: $border-zero;
		}//modal-footer
		&.modal-bg-warning {
	
		}//modal-bg-warning
	}//modal-bg-header

	&.fade .modal-dialog {
	@include transition($modal-transition);
	transform: translate(0, -25%);
	}//fade modal-dialog

	&.show .modal-dialog { transform: translate(0, 0); }

}//modal

//--------------------------------------------//
// 3.0 Modal Open Modal / .modal-open .modal
//--------------------------------------------//
.modal-open .modal {
overflow-x: hidden;
overflow-y: auto;
}//modal-open modal

//--------------------------------------------//
// 4.0 Modal Dialog / .modal-dialog
//--------------------------------------------//
.modal-dialog {
position: relative;
width: auto;
margin: $modal-dialog-margin;
}//modal-dialog

//--------------------------------------------//
// 5.0 Modal Content / .modal-content
//--------------------------------------------//
.modal-content {
position: relative;
display: flex;
flex-direction: column;
background-color: $modal-content-bg;
background-clip: padding-box;
border: $modal-border;
border-radius: $modal-border-radius;
@include box-shadow($modal-content-xs-box-shadow);
outline: 0;
}//modal-content

//--------------------------------------------//
// 6.0 Modal Backdrop / .modal-backdrop
//--------------------------------------------//
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: $zindex-modal-backdrop;
background-color: $modal-backdrop-bg;
&.fade { opacity: 0; }
&.show { opacity: $modal-backdrop-opacity; }
}//modal-backgdrop

//--------------------------------------------//
// 7.0 Modal Header / .modal-header
//--------------------------------------------//
.modal-header {
display: flex;
align-items: center; 
justify-content: space-between;
padding: $modal-header-padding;
background-color: $primary;
	h3 {
	color: $white;	
	}//h3
	.close {
	font-size: 14px;
	text-shadow: none;
	@include transition($fast);
	}//close
}//modal-header

//--------------------------------------------//
// 8.0 Modal Title / .modal-title
//--------------------------------------------//
.modal-title {
margin-bottom: 0;
line-height: $modal-title-line-height;
}//modal-title

//--------------------------------------------//
// 9.0 Modal Body / .modal-body
//--------------------------------------------//
.modal-body {
position: relative;
flex: 1 1 auto;
padding: $modal-inner-padding;
	.input-group-addon {
		i {
		color: $font-color;	
		}//i	
	}//input-group-addon
}//modal-body

//--------------------------------------------//
// 10.0 Modal Footer / .modal-footer
//--------------------------------------------//
.modal-footer {
display: flex;
align-items: center;
justify-content: flex-end;
padding: $modal-inner-padding;
background-color: $modal-footer-bg;
border-top: $modal-footer-border;
> :not(:first-child) { margin-left: .25rem; }
> :not(:last-child) { margin-right: .25rem; }
}//modal-footer

//--------------------------------------------//
// 11.0 Modal Scrollbar / .modal-scrollbar-measure
//--------------------------------------------//
.modal-scrollbar-measure {
position: absolute;
top: -9999px;
width: 50px;
height: 50px;
overflow: scroll;
}//modal-scrollbar-measure

//--------------------------------------------//
// 12.0 Modal Size / .modal-sm, .modal-lg
//--------------------------------------------//
@include media-breakpoint-up(sm) {
	.modal-dialog {
	max-width: $modal-md;
	margin: $modal-dialog-sm-up-margin-y auto;
	}//modal-dialog

	.modal-content {
	@include box-shadow($modal-content-sm-up-box-shadow);
	}//modal-content

	.modal-sm { max-width: $modal-sm; }
}//modal-sm

@include media-breakpoint-up(lg) {
.modal-lg { max-width: $modal-lg; }
}//modal-lg
