// Error
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Error / .error

//--------------------------------------------//
// 1.0 Error / .error
//--------------------------------------------//
.error {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
	.error-content {
	text-align: center;
		p {
		margin-top: 0.75rem;
		margin-bottom: 1.25rem;
		font-size: 15px;
		}//p
	}//errror
}//error