// Loader 1 styles for preloader
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Loader 1 / .loader1

//--------------------------------------------//
// 1.0 Loader 1 / .loader1
//--------------------------------------------//
.loader1 {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
	@mixin background($x, $y, $spread, $size, $colorA, $colorB, $duration) {
		&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		transform: scale($size);
		filter: blur($spread);
		background: linear-gradient(270deg, $colorA, $colorB);
		background-size: 200% 200%;
		border-radius: 50%;
		animation: glow-effect $duration ease infinite;
			@keyframes glow-effect {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
			}//glow-effect
		}//after
	}//background
	.loader-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	background-color: $white;
	border: 2px solid $primary_rgba;
	border-radius: 50%;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	color: $primary;
	text-transform: uppercase;
 	animation: color-animation 2.25s ease infinite;
	@include background(0, 40px, 40px, 0.9, $white, $primary,2.25s);
		@keyframes color-animation {
			0%, 100% {
			color: $primary;
			}//1%, 100%
			50% {
			color: $lighten-primary;
			}//50%
		}//color-animation
	}//loader-content
}//loader1