// Custom Spinner 2
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Custom Spinner 2 / .custom-spinner2

//--------------------------------------------//
// 1.0 Custom Spinner 2 / .custom-spinner2
//--------------------------------------------//
.custom-spinner2 {
width: $custom2-width;
height: $custom2-height;
border-radius: $custom2-border-radius;
background: $darken-gray;
background: -moz-linear-gradient(left, $darken-gray 10%, rgba(255, 255, 255, 0) 42%);
background: -webkit-linear-gradient(left, $darken-gray 10%, rgba(255, 255, 255, 0) 42%);
background: -o-linear-gradient(left, $darken-gray 10%, rgba(255, 255, 255, 0) 42%);
background: -ms-linear-gradient(left, $darken-gray 10%, rgba(255, 255, 255, 0) 42%);
background: linear-gradient(to right, $darken-gray 10%, rgba(255, 255, 255, 0) 42%);
position: relative;
-webkit-animation: custom-spinner2 1.4s infinite linear;
animation: custom-spinner2 1.4s infinite linear;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
	&:before {
	width: $custom2-before-width;
	height: $custom2-before-height;
	background: $darken-gray;
	border-radius: $custom2-before-border-radius;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	}//before
	&:after {
	background: $white;
	width: $custom2-after-width;
	height: $custom2-after-height;
	border-radius: $custom2-after-border-radius;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	}//after
	&.danger-spinner {
	background: $danger-color;
	background: -moz-linear-gradient(left, $danger-color 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $danger-color 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $danger-color 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $danger-color 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $danger-color 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $danger-color;
		}//before
	}//danger-spinner	
	&.info-spinner {
	background: $info-color;
	background: -moz-linear-gradient(left, $info-color 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $info-color 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $info-color 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $info-color 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $info-color 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $info-color;
		}//before
	}//info-spinner	
	&.inverse-spinner {
	background: $inverse-color;
	background: -moz-linear-gradient(left, $inverse-color 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $inverse-color 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $inverse-color 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $inverse-color 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $inverse-color 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $inverse-color;
		}//before
	}//inverse-spinner	
	&.primary-spinner {
	background: $primary;
	background: -moz-linear-gradient(left, $primary 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $primary 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $primary 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $primary 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $primary 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $primary;
		}//before
	}//primary-spinner	
	&.success-spinner {
	background: $success-color;
	background: -moz-linear-gradient(left, $success-color 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $success-color 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $success-color 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $success-color 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $success-color 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $success-color;
		}//before
	}//success-spinner	
	&.warning-spinner {
	background: $warning-color;
	background: -moz-linear-gradient(left, $warning-color 10%, rgba(0,0,0,0) 42%);
	background: -webkit-linear-gradient(left, $warning-color 10%, rgba(0,0,0,0) 42%);
	background: -o-linear-gradient(left, $warning-color 10%, rgba(0,0,0,0) 42%);
	background: -ms-linear-gradient(left, $warning-color 10%, rgba(0,0,0,0) 42%);
	background: linear-gradient(to right, $warning-color 10%, rgba(0,0,0,0) 42%);
		&:before {
		background: $warning-color;
		}//before
	}//warning-spinner
}//custom-spinner2

@keyframes custom-spinner2 {
	0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}//custom-spinner2