// Custom Spinner 1
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Custom Spinner 1 / .custom-spinner1

//--------------------------------------------//
// 1.0 Custom Spinner 1 / .custom-spinner1
//--------------------------------------------//
.custom-spinner1 {
width: $custom1-width;
height: $custom1-height;
border-radius: $custom1-border-radius;
position: relative;
border-top: $custom1-border-top;
border-right: $custom1-border-right;
border-bottom: $custom1-border-bottom;
border-left: $custom1-border-left;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: custom-spinner1 1.1s infinite linear;
animation: custom-spinner1 1.1s infinite linear;  
  &.spinner-xs {
  width: $spinner-xs-width;
  height: $spinner-xs-height;
  border-top: $custom1-xs-border-top;
  border-right: $custom1-xs-border-right;
  border-bottom: $custom1-xs-border-bottom;
  border-left: $custom1-xs-border-left;
  }//spinner-xs
  &:after {
  border-radius: $custom1-border-radius;
  width: $custom1-after-width;
  height: $custom1-after-height;
  }//after
  &.danger-spinner {
  border-left-color: $danger-color;
  }//danger-spinner    
  &.info-spinner {
  border-left-color: $info-color;
  }//info-spinner    
  &.inverse-spinner {
  border-left-color: $inverse-color;
  }//inverse-spinner
  &.primary-spinner {
  border-left-color: $primary;
  }//primary-spinner      
  &.success-spinner {
  border-left-color: $success-color;
  }//success-spinner      
  &.warning-spinner {
  border-left-color: $warning-color;
  }//warning-spinner    
}//custom-spinner

@keyframes custom-spinner1 {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}//custom-spinner1