// Spinner Size
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Spinenr Xs / .spinner-xs
// 2.0 Spinenr Sm / .spinner-sm
// 3.0 Spinenr Md / .spinner-md
// 4.0 Spinenr Lg / .spinner-lg
// 5.0 Spinenr Xl / .spinner-xl

//--------------------------------------------//
// 1.0 Spinenr Xs / .spinner-xs
//--------------------------------------------//
.spinner-xs {
width: $spinner-xs-width;
height: $spinner-xs-height;
}//spinner-xs

//--------------------------------------------//
// 2.0 Spinenr Sm / .spinner-sm
//--------------------------------------------//
.spinner-sm {
width: $spinner-sm-width;
height: $spinner-sm-height;
}//spinner-sm

//--------------------------------------------//
// 3.0 Spinenr Md / .spinner-md
//--------------------------------------------//
.spinner-md {
width: $spinner-md-width;
height: $spinner-md-height;
}//spinner-md

//--------------------------------------------//
// 4.0 Spinenr Lg / .spinner-lg
//--------------------------------------------//
.spinner-lg {
width: $spinner-lg-width;
height: $spinner-lg-height;
}//spinner-lg

//--------------------------------------------//
// 5.0 Spinenr Xl / .spinner-xl
//--------------------------------------------//
.spinner-xl {
width: $spinner-xl-width;
height: $spinner-xl-height;
}//spinner-xl