// Spinner
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Spinenr / .spinner

//--------------------------------------------//
// 1.0 Spinenr / .spinner
//--------------------------------------------//
.spinner {
width: $spinner-width;
height: $spinner-height;
border-radius: $spinner-border-radius;
position: relative;
-webkit-animation: spinner 1.4s infinite linear;
animation: spinner 1.4s infinite linear;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
    &:before {
    width: $spinner-before-width;
    height: $spinner-before-height;
    background: $darken-gray;
    border-radius: $spinner-before-radius;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    }//before
    &:after {
    background: $white;
    width: $spinner-after-width;
    height: $spinner-after-height;
    border-radius: $spinner-after-radius;
    margin: auto;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }//after
    &.danger-spinner {
    &:before {
    background: $danger-color;  
    }//before
    }//danger-spinner    
    &.info-spinner {
    &:before {
    background: $info-color;  
    }//before
    }//info-spinner    
    &.inverse-spinner {
    &:before {
    background: $inverse-color; 
    }//before
    }//inverse-spinner
    &.primary-spinner {
    &:before {
    background: $primary; 
    }//before
    }//primary-spinner      
    &.success-spinner {
    &:before {
    background: $success-color; 
    }//before
    }//success-spinner      
    &.warning-spinner {
    &:before {
    background: $warning-color; 
    }//before
    }//warning-spinner    
}//spiner
@keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}//spinner