.media {
display: flex;
align-items: center;
	
	.media {
	margin-top: 15px;
	}//media

}//media

.media-body {
flex: 1;
margin-left: 15px;
	p {
	margin-top: -2px;
	color: $text-muted;
	font-size: 13px;
	}//p
}//media-body

.media-left {
	img {
	border-radius: 50%;	
	}//img
}//media-left
