// Content
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Content / #content

//--------------------------------------------//
// 1.0 Content / #content
//--------------------------------------------//
#content {
margin-left: $default-sidebar-width;	
padding: 15px 25px 25px;
@include transition($fast);
	
	&.active-bg {
		@include media-breakpoint-between(xs, sm) {
		height: calc(100%);
		position: relative;
			&:after {
		    background-color: rgba(0,0,0,0.3);
		    content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 1;
			}//after
		}//xs, sm
	}//active-bg

	&.full-width {
	margin-left: 0px;	
	}//full-width

	&.collapse-width {
	margin-left: $collapse-width;
	}//collapse-width
	
	.page-title {
	font-weight: 300;
	}//page-title

}//content
