// Dashboard
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Dashboard Chart / .dashboard-chart
// 2.0 Dashboard Widget / .dashboard-widget
// 3.0 Sale Chart / #sale_chart
// 4.0 Earning & Visitors Chart / #earnings_chart, #visitors_chart
// 5.0 Earnings Widget & Server Stats / .earnings-widget, .server-stats
// 6.0 Visits Widget / .visits-widget
// 7.0 Chart Options / .chart-options
	
//--------------------------------------------//
// 1.0 Dashboard Chart / .dashboard-chart
//--------------------------------------------//
.dashboard-chart {
padding: 0px 12px 10px 7px;
}//dashboard-chart

//--------------------------------------------//
// 2.0 Dashboard Widget / .dashboard-widget
//--------------------------------------------//
.dashboard-widget {
margin-top: 30px;
}//dashboard-widget

//--------------------------------------------//
// 3.0 Sale Chart / #sale_chart
//--------------------------------------------//
#sale_chart {
height: 342px;
}//sale_chart

//--------------------------------------------//
// 4.0 Earning & Visitors Chart / #earnings_chart, #visitors_chart
//--------------------------------------------//
#earnings_chart, 
#visitors_chart {
height: 183px;	
}//#earnings_chart

//--------------------------------------------//
// 5.0 Earnings Widget & Server Stats / .earnings-widget, .server-stats
//--------------------------------------------//
.earnings-widget, .server-stats {
text-align: center;
	.item {
	border-right: $border-solid $border-color;
		@include media-breakpoint-only(xs) {
		border: 0px;	
		margin-top: 10px;
			&:first-child {
			margin-top: 0px;
			}//first-child
		}//breakpoint
		p {
		font-size: 1.05rem;
		}//p
		span {
		font-size: 1.1rem;
		margin-right: 3px;
		}//span
		h6 {
		color: $text-muted;
		}//h6
		&:last-child {
		border: 0px;
		}//last-child
	}//item
}//earnings-widget

//--------------------------------------------//
// 6.0 Visits Widget / .visits-widget
//--------------------------------------------//
.visits-widget {
	.card-footer {
	margin-top: -5px;
	padding-bottom: 0.80rem;
	}//
	p {
	color: $text-muted;
	}//p
	.item {
	text-align: right;
		span {
		position: relative;
		font-size: 38px;
		}//p
		i {
		font-size: 26px;
		color: $red;
		position: absolute;
		top: 15px;
		left: -20px;
		}//i
	}//item
}//visits-widget

//--------------------------------------------//
// 7.0 Chart Options / .chart-options
//--------------------------------------------//
.chart-options {
display: flex;
margin-bottom: 0px;
	.status {
	display: block;
	float: left;
	margin-top: 6px;
	margin-right: 7px;
	position: relative;
	width: 10px;
	height: 10px;
	}//status
	li {
	margin-left: 10px;
	font-size: 14px;
	cursor: pointer;
	color: $text-muted;
	@include transition($fast);
		&:first-child {
		margin-left: 0px;
		}//first-child
		&:hover {
		color: $primary;
		}//hover
	}//li
	.option-1 .status {
	background-color: $primary;
	box-shadow: (0px 0px 2px 2px rgba(48, 79, 254, 0.25));
	}//option-1 stauts		
	.option-2 .status {
	background-color: lighten($primary, 5%);
	box-shadow: (0px 0px 2px 2px rgba(48, 79, 254, 0.25));
	}//option-2 stauts		
	.option-3 .status {
	background-color: darken($gray, 5%);
	box-shadow: (0px 0px 2px 2px rgba(48, 79, 254, 0.25));
	}//option-2 stauts
}//chart-options