// Footer
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Footer / .footer

//--------------------------------------------//
// 1.0 Footer / .footer
//--------------------------------------------//
.footer {
position: fixed;
background-color: $white;
border-top: 1px solid $border-color;
margin-left: 220px;
bottom: 0px;
left: 0;
right: 0;
color: $font-color;
height: 35px;
line-height: 35px;
padding: 0px 22px;
@include transition($fast);

	p {
	font-size: 13px;
		a {
		color: $primary;
		}//a
	}//p

	&.collapse-footer {
	margin-left: 60px;
	}//collapse-footer

	&.full-width {
	margin-left: 0px;
	}//full-width

}//footer