// Header
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Header / #header
	// 1.1 Header Fixed / .header-fixed
	// 1.2 Header Sticky / .header-sticky
	// 1.3 Header Left / .header-left
	// 1.4 Header Toggle / .header-toggle
	// 1.5 Brand / #brand
	// 1.6 Primary Header / #header.bg-primary
// 2.0 Hambureger Button / .hamburger

//--------------------------------------------//
// 1.0 Header / #header
//--------------------------------------------//
#header {
width: 100%;
min-height: $header-height;
background-color: $header-bg;
border-bottom: $border-solid $border-color;
display: flex;	
position: absolute;
top: 0;
left: 0;
z-index: 1030;

	@include media-breakpoint-between(xs, sm) {
	min-height: $mobile-height;
	background-color: $primary;
	border: 0px;
	}//xs,sm
	
	@include media-breakpoint-up(md) { 
	height: $header-height;
	}//up-md

	//--------------------------------------------//
	// 1.1 Header Fixed / .header-fixed
	//--------------------------------------------//
	&.header-fixed {
	position: fixed;
	z-index: $zindex-fixed;
	}//header-fixed

	//--------------------------------------------//
	// 1.2 Header Sticky / .header-sticky
	//--------------------------------------------//
	&.header-sticky {
	position: sticky;
	z-index: $zindex-sticky;
	}//header-sticky

	//--------------------------------------------//
	// 1.3 Header Left / .header-left
	//--------------------------------------------//
	.header-left {
	@include media-breakpoint-between(xs, sm) {  	
	width: 100%;
	display: flex;
	justify-content: space-between;
	}//xs
		#mobile-btn {
			@include media-breakpoint-between(xs, sm) {	
			display: flex;
				i {
				color: $white;
				font-size: 18px;	
				}//i
			}//xs
			@include media-breakpoint-up(md) { 
			width: 0px;
			display: none;
			}//up-sm
		}//mobile-btn
		#mobile-menu {
			@include media-breakpoint-between(xs, sm) {  		
			width: 20px;
			margin-left: 15px;	
			}//xs
			@include media-breakpoint-up(md) { 
			display: none;
			}//up-md
		}//menu_btn
		&.hidden {
			#brand {
			@include transition($fast);
			@include media-breakpoint-up(md) { 
			width: 0px;
			}//up-md
				.title {
					@include media-breakpoint-up(md) { 
					width: 0px;
					transform: translateX(-100px);
					}//up-md
				}//hidden title
				img {
					@include media-breakpoint-up(md) { 
					transform: translateX(-100px);
					}//up-md
				}//img
			}//brand
		}//hidden
	}//header-left

	//--------------------------------------------//
	// 1.4 Header Toggle / .header-toggle
	//--------------------------------------------//
	.header-toggle {
	width: 100%;
		@include media-breakpoint-between(xs, sm) {
		position: absolute;
		left: 0;
		}//xs
		.header-content {
			@include media-breakpoint-up(md) { 
			width: 100%;
			display: flex;
			}//up-md
			@include media-breakpoint-between(xs, sm) {
			position: absolute;
			width: 100%;
			top: $mobile-height;
			background-color: $white;
			border-bottom: $border-solid $border-color;
			}//xs
			&.header-hidden {
			display: none;
			}//header-hidden

			.left, .right {
			padding: 0rem 1rem;
			}//left, right

			.left {
			display: flex;
			flex-direction: row;
			align-items: center;	
			justify-content: flex-start;
			flex: 1;
			padding-left: 0;
				@include media-breakpoint-between(xs, sm) {  
				display: none;
				}//xs, sm		
				#menu-btn, #hidden-btn {
				@include media-breakpoint-between(xs, sm) {  
				display: none;
				}//xs, sm
					.hamburger-box {
						@include media-breakpoint-up(md) {
						display: flex;
						justify-content: center;
						}//xs, sm
					}//hamburger-box
				}//menu_btn
			}//left	

			.right {
				.btn i {
				margin-right: 0px;	
				}//btn-i
				@include media-breakpoint-up(md) { 
				display: flex;
				flex-direction: row;
				align-items: center;	
				justify-content: flex-end;
				}//up-md	
				@include media-breakpoint-between(xs, sm) {
				padding: 1rem;
				}//xs
				.input-group {
				height: $header-height;
					@include media-breakpoint-between(xs, sm) {
					height: $mobile-search-height;
					border-bottom: $header-border;
					}//xs
					::-webkit-input-placeholder {
				  	color: $font-color;
						@include media-breakpoint-between(xs, sm) {
						color: $font-color;
						}//xs	
					}//placeholder
					::-moz-placeholder { 
					color: $font-color;
						@include media-breakpoint-between(xs, sm) {
						color: $font-color;
						}//xs	
					}//placeholder
					#search {
						&.form-control {
						border-radius: 0px;
						width: 0px;
						padding: 0;
						background-color: transparent;
						border: 0px;
						color: $font-color;
						@include transition(width 0.3s ease-in-out);	
							@include media-breakpoint-between(xs, sm) {
							color: $font-color;
							}//xs	
						}//form-control
						&.open {
						width: $header-search-width;
						@include transition(width 0.3s ease-in-out);
						}//open
					}//search
					.btn {
					padding: 0 1rem;
					line-height: 0px;
						@include media-breakpoint-between(xs, sm) {
						padding-right: 0;
						}//xs
						i {
						color: $font-color;
						font-size: 15px;
						@include transition($fast);
							@include media-breakpoint-between(xs, sm) {
							color: $font-color;
							}//xs	
						}//i
						&:hover {
							i {
							color: $primary;
							}//i
						}//hover
					}//btn
				}//input-group

				.nav {
				@include media-breakpoint-between(xs, sm) {
				flex-direction: column;			
				}//xs
				li {
				@include media-breakpoint-between(xs, sm) {	
				border-bottom: $header-border;		
				padding: 0.65rem 0rem;
				}//xs		
					&.show {
						@include media-breakpoint-between(xs, sm) {	
						border-bottom: 0px;	
						min-height: 240px;
						max-height: 300px;	
						}//xs		
					}//show
					a, #btn-slide {
					min-width: 45px;
					display: flex;
					justify-content: center;
					align-items: center;	
					color: $font-color;
					border-radius: 0px;
					@include transition($fast);
						@include media-breakpoint-between(xs, sm) {
						justify-content: flex-start;
						color: $font-color;
						}//xs
						&:hover {
						color: $primary;
						}//hover
						&.all {
						color: $font-color;	
						display: block;
						width: 100%;
						text-align: center;
							@include media-breakpoint-between(xs, sm) {
							color: $font-color;
							}//xs, sm
						}//all
					}//a
					a.dropdown-toggle, #btn-slide {
					height: $header-height;
						@include media-breakpoint-between(xs, sm) {
						height: auto;
						}//xs	
					}//	
					#btn-slide {
					cursor: pointer;
					}//btn-slide
					.fa-cog, .fa-bell {
					font-size: 17px;	
					}//fa-cog, fa-bell
					.mobile-link {
						i {
							@include media-breakpoint-between(xs, sm) {
							margin-right: 10px;		
							}//xs	
						}//i
					}//mobile-link
				}//li
			}//nav

			.list-group-item {
			padding: 0;
			background-color: transparent;
			border-radius: 0px;
			border: 0px;
			border-bottom: $header-border;
				&:first-child {
				border-top: 0px;	
				}//
				&:last-child {
				border-bottom: 0px;
				}//last-child
			}//list-group-item

			.dropdown-title, 
			.dropdown-footer {
			display: flex;
			text-transform: capitalize;
			}//dropdown-title

			.dropdown-title {
			background-color: $white;
			border-bottom: $header-border;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			color: $font-color;	
				@include media-breakpoint-between(xs, sm) {
				padding: 0.5rem 0rem;	
				}//xs	
				.btn {
				padding: 0px;	
				color: $font-color;	
				@include transition($fast);
					&:hover {
					color: $primary;
					}//hover
				}//btn
			}//dropdown-title

			.dropdown-footer {
			background-color: $white;
			border-top: $border-solid $border-color;
			align-items: center;			
			justify-content: center;
			padding: 0.25rem;
				&:hover {
					.all {
					color: $primary;
					}//all
				}//hover
			}//dropdown-footer

			.dropdown {

				.dropdown-toggle {
					&:after {
					content: none;
					}//after
				}//dropdown-toggle

				&.alerts, &.messages {
					.dropdown-menu {
					width: 400px;
						@include media-breakpoint-between(xs, sm) {
						width: 100%;
						background-color: $white;	
						top: 0;
						border: 0px;
						position: static;
						}//xs	
					}//dropdown-menu
				}//alerts

				.dropdown-menu {
				margin-top: 0px;
				left: auto;
				right: 0;
				padding: 0;
				border-top:0px;
				border-radius: 0px;

					.dropdown-divider {
					margin: 0;
					}//dropdown-divider

					.item {
					display: flex;
					justify-content: flex-start;
					width: 100%;
					max-width: 100%;
					height: 100%;
					padding: 0.5rem;
					position: relative;
					overflow: hidden;
					color: $font-color;
						@include media-breakpoint-between(xs, sm) {
						padding: 0.5rem 0.5rem 0.5rem 0rem;	
						}//xs	
						.item-media {
							img {
							border-radius: 50%;
							}//img
							i {
							width: 45px;
							height: 45px;
							background-color: $primary;	
							border-radius: 45px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $white;
							}//i
						}//item-media

						.item-content {
						display: flex;
						flex-direction: column;
						overflow: hidden;
						margin-left: 0.5rem;
							p {
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							font-size: 14px;
							}//p
							.info {
							width: 100%;
							font-size: 12px;
							}//info
						}//item-content
						
						&.danger {
							.item-media i {
							background-color: $danger-color;
							}//item media i 
						}//danger		

						&.info {
							.item-media i {
							background-color: $info-color;
							}//item media i 
						}//info

						&.success {
							.item-media i {
							background-color: $success-color;
							}//item media i 
						}//success	

						&.warning {
							.item-media i {
							background-color: $warning-color;
							}//item media i 
						}//warning						

					}//item

				}//dropdown-menu

			}//dropdown

			.profile { 
			padding: 0rem 0rem;
			.dropdown-menu {
			width: 240px;
				a {
				@include transition($fast);
					&:hover {
					background-color: $header-hover-bg;
					color: $primary;
					}//hover
				}//a
				.single-link {
				justify-content: flex-start;
				padding: 0.4rem 0.75rem;
				font-size: 14px;
				color: $font-color;
					i {
					margin-right: 7px;
					}//i
				}//single-link
			}//dropdown-menu

			img {
			border-radius: 50%;
			}//img

			.profile-detalis {
			background-color: $header-hover-bg;
			display: flex;
			flex-direction: column;
			padding: 0.75rem 0rem;
			font-size: 15px;
			border-bottom: $header-border;
				.profile-img {
				margin-left: auto;
				margin-right: auto;
				}//profile-img
				.profile-name {
				justify-content: center;	
				color: $primary;
				}//profile-name
				.profile-links {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
					a {
					font-size: 13px;
					color: $font-color;
						&:last-child {
						margin-left: 10px;
						}//last-child
						&:hover {
						color: $primary;
						}//hover
					}//a
				}//profile-links
			}//profile-detalis

			}//profile

			}//right
		}//header-content
	}//header-toggle

	//--------------------------------------------//
	// 1.5 Brand / #brand
	//--------------------------------------------//
	#brand {
	background-color: $bg-brand;
	@include transition($fast);
		@include media-breakpoint-up(md) { 
		width: $default-sidebar-width;
		height: $header-height;
		background-color: $bg-brand;
		position: relative;
		}//up-md
		@include media-breakpoint-between(xs, sm) {
		background-color: transparent;
		display: flex;
		align-items: center;
		}//xs
		.brand-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
			img, .title {
			@include transition($fast);
			}
			img {
			margin-right: 5px;
			}//img
			.title {	
			font-size: $header-brand-font-size;
			text-transform: $brand-transform;
			color: $white;
			}//title
		}//brand-wrapper
	}//brand
	
	//--------------------------------------------//
	// 1.6 Primary Header / #header.bg-primary
	//--------------------------------------------//
	&.bg-primary {
	border-bottom: $border-solid $primary;
		.hamburger .hamburger-box .hamburger-inner {
		background-color: $white;
			&:after {	
			background-color: $white;
			}//after
		}//hamburger hamburger-box hamburger-inner
		.btn i, 
		#search.form-control,
		#notification_dropdown {
			@include media-breakpoint-up(md) {
			color: $white;
				&:hover {
				color: rgba(255,255,255,0.85);	
				}//hover
			}//breakpoint
		}//
		.status {
			&.status-pulse {
			border-color: $white;
				&:before {
				border-color: rgba(255,255,255,0.75);
				}//before
			}//status-pulse
		}//status
		.header-toggle {
			.header-content .right {	
				@include media-breakpoint-up(md) {
					.nav {
						li {
							a i {
							@include transition($fast);
							}//a i
							.btn {
								i {
								@include transition($fast);
								}//i
							}//btn
							&:hover {
								i {
								color: rgba(255,255,255,0.85);
								}//i:hover
							}//hover
						}//li
					}//nav
					.input-group {
						#search.form-control {
						color: $white;
						}//form-control
						.btn {
							i {
							color: $white;
							}//i
							&:hover {
								i {
								color: rgba(255,255,255,0.85);
								}//i:hover
							}//hover
						}//btn
					}//input-group
				}//breakpoint
			}//header-content right
			.right {
				.input-group {
					@include media-breakpoint-up(md) {
						::-webkit-input-placeholder {
						color: $white;
						}//placeholder				
						::-moz-placeholder {	
						color: $white;
						}//placeholder
					}//breakpoint
				}//input-group
			}//right
		}//header-toggle
	}//bg-primary

}//header

//--------------------------------------------//
// 2.0 Hambureger Button / .hamburger
//--------------------------------------------//
.hamburger {
padding: 0;
height: $header-height;
width: $collapse-width;
margin-top: -1px;
@include transition($fast);
	@include media-breakpoint-only(xs) {
	height: $mobile-height;
	}//xs

	.hamburger-box {
	display: flex;
	align-items: center;
	height: $header-height;
	width: $collapse-width;

		.hamburger-inner {
		top: auto;
		margin-top: 0px;
		background-color: $font-color;
		@include transition($fast);	
			@include media-breakpoint-between(xs, sm) {
			background-color: $white;
			}//xs, sm
			&:after, &:before {
			background-color: $font-color;
			@include transition($fast);
				@include media-breakpoint-between(xs, sm) {
				background-color: $white;
				}//xs, sm
			}//after, before
		}//hamburger-inner

	}//hamburger-box

	&.bg-brand {
	background-color: $primary;
		.hamburger-inner {
		background-color: $white;
			&:after, &:before {
			background-color: $white;
			}//after, before	
		}//hamburger-inner
	}//bg-brand

}//hamburger