// Left Sidebar
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Left Sidebar / #left-sidebar
	// 1.1 Sidebar Mobile / .sidebar-mobile
	// 1.2 Sidebar Fixed / .sidebar-fixed
	// 1.3 Sidebar Sticky / .sidebar-sticky
	// 1.4 Close Sidebar / .close-sidebar
	// 1.5 Collapse Sidebar / .collapse-sidebar
// 2.0 Background for Left Sidebar / .bg

//--------------------------------------------//
// 1.0 Left Sidebar / #left-sidebar
//--------------------------------------------//
#left-sidebar {
width: $left-sidebar-width;
background-color: $sidebar-bg;
border-right: $sidebar-border;
background-repeat: repeat;
display: block;
float: left;
z-index: 1000;
@include transition($fast);

	@include media-breakpoint-between(xs, sm) {
	position: absolute;
	}//xs, sm

	.sidebar-header {
	margin: $sidebar-header-margin;
	font-size: $sidebar-header-icon-size;
	}//sidebar-header

	.side-nav {
	list-style: none;
	padding: 0px 0px;
	margin-bottom: 70px;

		li {
		padding: 0;
			
			a {
			display: block;
			position: relative;
			width: 100%;
			height: $sidebar-link-height;
			line-height: $sidebar-link-height;
			padding: $sidebar-padding;
			font-size: $sidebar-link-size;
			color:$font-color;
			@include transition($fast);
			
			&.active {
			color: $primary;
			}//active

			i {
			margin-right: 10px;
			}//i

			span {
			width: 180px;
			position: absolute;
			}//span
			
			.badge {
			position: absolute;
			top: 13px;
			left: auto;
			right: 13px;
			padding: 0.2rem 0.3rem;
			}//badge

			&.chevron {	

				&:after {
				font-family: FontAwesome;
				content: "\f105";
				position: absolute;
				left: auto;
				right: 15px;
				transform: rotate(90deg);
				@include transition($fast);
				}//after

			}//chevron

			&:hover {
			background-color: $sidebar-hover-bg;
			color: $primary;
			}//hover

		}//a

		&.dropdown {

			&.active {
			background-color: $sidebar-hover-bg;
				a.chevron {
				color: $primary;
					&:after {
				    transform: rotate(270deg);  
				    right: 17px;
					}//after
				}//a chevron
			}//active

			.drop-menu {
			list-style: none;
			padding: 0;
			background-color: $sidebar-hover-bg;
			border-bottom: $sidebar-border;
			}//drop-menu

		}//dropdown

		}//li

	}//side-nav

	//--------------------------------------------//
	// 1.1 Sidebar Mobile / .sidebar-mobile
	//--------------------------------------------//
	&.sidebar-mobile {
	margin-left: $sidebar-minus-margin;
	}//sidebar-mobile

	//--------------------------------------------//
	// 1.2 Sidebar Fixed / .sidebar-fixed
	//--------------------------------------------//
	&.sidebar-fixed {
	position: fixed;
	top: $header-height;
	bottom: 0;
	left: 0;
	height: 100%;
	width: $left-sidebar-width;
	z-index: 1032;
	}//sidebar-fixed	

	//--------------------------------------------//
	// 1.3 Sidebar Sticky / .sidebar-sticky
	//--------------------------------------------//
	&.sidebar-sticky {
	position: sticky;
	top: $header-height;
	bottom: 0;
	left: 0;
	height: 100%;
	width: $left-sidebar-width;
	z-index: 1032;
	}//sidebar-sticky

	//--------------------------------------------//
	// 1.4 Close Sidebar / .close-sidebar
	//--------------------------------------------//
	&.close-sidebar {
	margin-left: $sidebar-minus-margin;
	}//close-sidebar

	//--------------------------------------------//
	// 1.5 Collapse Sidebar / .collapse-sidebar
	//--------------------------------------------//
	&.collapse-sidebar {
	width: $collapse-width;

		.sidebar-header {
		display: none;	
		}//sidebar-header

		.side-nav li {
    	position: relative;

			a {
			text-align: center;		
			width: 100%;	
			min-height: $collapse-link-height;
			height: auto;

				&.collapse {
				text-align: center;
				width: $collapse-link-width;
				padding: 0;	
				display: flex;
				align-items: center;
				justify-content: center;	
				}//a.collapse
				i {
				margin-right: 0px;
				font-size: $collapse-icon-size;	
				}//i
				span {
				display: none;	
				}//span
				&.chevron {
					&:after {
					display: none;	
					}//after
				}//chevron
				.badge {
				display: none;
				}//badge
			}//a
			.drop-header {
			position: absolute;
			left: $collapse-link-width;
			padding: 0;
			height: $collapse-link-height;
			width: $collapse-drop-width + 1px;
			top: 0;
			text-align: left;
			border: $sidebar-border;
			z-index: 9999;
			line-height: $collapse-link-height;
			padding: 0 1rem;
			background-color: $sidebar-hover-bg;
			}//drop-header
			.drop-menu {
			position: absolute;
			overflow: visible;
			width: $collapse-drop-width;
			left: $collapse-link-width + 1px;
			top: $collapse-link-height;
			border-bottom: 0px;
			z-index: 9999;	
				li {
				background-color: $sidebar-hover-bg;
				border-right: $border-solid $border-color;
				&:last-child {
				border-bottom: $border-solid $border-color;
				}//last-child
				display: block;
					a {
					text-align: left;	
					display: block;
					}//a
				}//li
			}//drop-menu
			&:hover {
			background-color: $sidebar-hover-bg;
				.collapse {
				color: $primary;	
					.second-dropdown .collapse {
					color: $font-color;	
					}//second-drop
				}//collapse
				&.dropdown .one-drop, .drop-header {
				display: block;
				}//drop-menu
				.drop-header {
				color: $primary;	
				}//drop-header
			}//hover
			&.active {
				.drop-header {
				display: block;	
				}//drop-header
			}//active
		}//li
		
		.bg {
		width: $collapse-width;	
		}//bg

	}//collapse-sidebar
	
}//left-sidebar

//--------------------------------------------//
// 2.0 Background for Left Sidebar / .bg
//--------------------------------------------//
.bg {
width: $default-sidebar-width;
height: 100%;
max-height: 100%;
display: block;
background-color: $sidebar-bg;
border-right: $sidebar-border;
position: fixed;
z-index: -1;
top: 0;
@include transition($fast);
	@include media-breakpoint-between(xs, sm) {
	top: 0;
	min-height: 100%;
	}//xs, sm
}//bg