// Profile Page
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Profile Page / .profile

//--------------------------------------------//
// 1.0 Profile Page / .profile
//--------------------------------------------//
.profile {

	&#content {
	padding: 0;
	}//content

	&-content {
	padding: 0px 10px 10px;
	}//profile-content
	
	&-wrapper {
	position: relative;
	}//profile-wrapper
	
	.top-content {
	position: relative;
	overflow: hidden;
		img {
			@include media-breakpoint-between(xs, sm) {
			height: 250px;
			}//breakpoint
		}//img
	}//top-content

	&-stats, .stats-bg {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;	
	}//profile-stats

	.stats-bg {
	background-color: rgba(0,0,0, 0.45);
	}//stats-bg
	
	&-stats {
	@include media-breakpoint-up(lg) {
	padding-left: 0px;
	}//breakpoint
		ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 70px;
			li {
			color: $white;
			padding: 0px 30px;
			&:first-child {
			padding-left: 0px;
			}//first-child
				p {
				font-size: 15px;
				}//p
				h4 {
				margin-top: -5px;
				}//h4
			}//li
		}//ul
		@include media-breakpoint-between(xs, md) {
		text-align: center;
			ul {
			justify-content: center;
			}//ul
		}//breakpoint
	}//stats

	&-sidebar {
	position: relative;
	}//profile-sidebar
	
	&-activity {
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
		@include media-breakpoint-up(lg) {
		padding-right: 10px;
		padding-left: 10px;
		}//breakpoint
		.form-group {
		margin-bottom: 0px;	
		}//form-group
		.upload-buttons {
			.btn {
				&:hover {
				color: $primary;
				}//hover
			}//btn
		}//upload-buttons
		.media-img {
		border-radius: 50%;
		}//media-img
		.card {
		margin-top: 25px;
		}//card
		
		.card-post {
			.post-content, .post-comments {
				.media {
				margin-bottom: 10px;
				}//media
				.post-action {	
				font-size: 13px;
					a, i {
					font-size: 13px;
					@include transition($fast);
						&:hover {
						color: $primary;
						}//hover
					}//a,i 
				}//post-action
			}//post-content, post-comments
			.post-content {
			padding: 15px 15px 0px 15px;
				.post-img {
				margin-top: 15px;
				}//img
				.post-info p {
				font-size: 13px;
				}//post-info
				.post-footer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 5px 0px;
				}//post-footer
			}//post-content
			.post-comments {
			padding: 10px 15px;
			background-color: lighten($gray, 5%);
			border-top: $border-solid $border-color;
				.comment-header a {
				font-size: 13px;
				color: $text-muted;
					&:hover {
					color: $primary;
					}//hover
				}//comment-header
				.post-action {
				margin-top: 0px;
				margin-bottom: 5px;
				}//post-action
				.comment {
				margin-top: 10px;
				}//comment
			}//post-comments
			.post-form {
			border-top: $border-solid $border-color;
			padding: 15px;
			background-color: lighten($gray, 5%);
			}//post-form
		}//card-post

	}//profile-activity
	
	.profile-widget {
	margin-top: 25px;
		@include media-breakpoint-up(lg) {
		position: absolute;
		top: -150px;
		}//breakpoint
	}//profile-widget

}//profile

