// Right Sidebar
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Right Sidebar / #right-sidebar
	// 1.1 Tab Header / .tab-header
	// 1.2 Chat Styles / #chat
	// 1.3 To Do Styles / #todo
	// 1.4 Tab Footer / .tab-footer
	// 1.5 Scroll Sidebar / .scroll-sidebar 

//--------------------------------------------//
// 1.0 Right Sidebar / #right-sidebar
//--------------------------------------------//
#right-sidebar {
position: fixed;
margin-right: $sidebar-minus-margin;
background-color: $white;
border-left: $sidebar-border;
width: $right-sidebar-width;
height: 100%;
top: $header-height;
right: 0;
left: auto;
z-index: 999;
@include transition($fast);
	
	.nav-tabs {
	margin-bottom: 0px;
	}//nav-tabs

	.btn i {
	margin-right: 0px;	
	}//btn-i

	&.open-sidebar {
	margin-right: 0px;	
	}//open-sidebar
	
	.nav-link {
	padding: 0.8rem 2.6rem;
	}//nav-link

	//--------------------------------------------//
	// 1.1 Tab Header / .tab-header
	//--------------------------------------------//
	.tab-header {
	border-bottom: $sidebar-border;
		.form-control {
		border: 0px;
		border-radius: 0px;
		font-size: 13px;
		color: $font-color;
		}//form-control	
		.btn {
			i {
			font-size: 13px;
			@include transition($fast);
			}//i
			&:hover, &:focus {
			background-color: transparent;
			border: 0px;
				i {
				color: $primary;	
				}//i
			}//hover, focus
		}//btn
	}//tab-header

	//--------------------------------------------//
	// 1.2 Chat Styles / #chat
	//--------------------------------------------//
	#chat, .tab-content, .chat-wrapper {
	height: calc(100% - 57px);
	}//#chat, .tab-content, .chat-wrapper

	.msg-content, .msg-wrapper {
	height: calc(100% - 81px);
	}//msg-content, msg-wrapper

	.todo-content, .todo-wrapper {
	height: calc(100% - 40px);	
	}//todo-content, todo-wrapper

	#chat, .msg-content, .todo-content, .todo-content {
	position: relative;	
	}//chat

	.chat-wrapper, .msg-wrapper, .todo-wrapper {
	position: absolute;	
	width: $default-sidebar-width;
	overflow: hidden;
	}//chat-wrapper

	.chat-scroll, .msg-scroll, .todo-item {
	padding-bottom: 50px;	
	}//chat-scroll
	
	.chat-title {
	padding: 0rem 0.5rem;
	}//chat-title

	.conversation, .contact {
	margin-top: 1rem;	
	}//conversation, .contact

	.chat-item {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-top: 1rem;
	padding: 0rem 0.5rem;	
	color: $font-color;

		&:last-child {
		margin-bottom: 0.5rem;	
		}//last-child

		.status {
		left: auto;
		right: 0.5rem;
		top: 0.7rem;	
		}//status

		.chat-message {
		margin-left: 0.5rem;
		overflow: hidden;
			.name {
			font-size: $font-size;
			}//name
			p {
			width: 100%;
			overflow: hidden;		
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 13px;
			margin-top: -5px;
			}//p
		}//chat-message

	}//chat-item
	
	.chat-msg {
	width: $right-sidebar-width;
	height: 100%;
	background-color: $white;
	border-left: $sidebar-border;
	position: fixed;
	top: $header-height;
	left: auto;
	right: 0;
	margin-right: $sidebar-minus-margin;
	z-index: 1050;
	@include transition($fast);
		&.open {
		margin-right: 0px;	
		}//open
		.contact-detalis {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
			h6 {
			font-size: $font-size;	
			}//h6
			.btn {
			padding: 0;
			font-size: 13px;
				i {
				@include transition($fast);
				}//i
				&:hover {
					i {
					color: $red;
					}//i
				}//hover
			}//btn
			p {
			font-size: 13px;	
			width: 100%;
			}//p
		}//contact-detalis
		.contact-detalis, .content {
		padding: 1rem 0.75rem;	
		border-bottom: $sidebar-border;
		}//contact-detalis, .content
		
		ul {
		padding: 0rem 1rem;	
			.quest .msg, .self .msg {
			display: inline-block;
			margin-top: 1rem;
			padding: 0.5rem;
			font-size: 13px;
			}//quest msg, self msg
			.quest {
				.msg {
				background-color: #f2f2f2;
				margin-right: 30px;
				position: relative;	
					&:before {
					content: "";	
					position: absolute;
					width: 0; 
					height: 0; 
					left: -5px;
					top: 0px;
					right: auto;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent; 
					border-right: 5px solid #f2f2f2; 
					}//before
				}//msg
			}//quest
			.self {
			text-align: right;
				.msg {
				background-color: $primary;
				margin-left: 30px;
				color: $white;
				position: relative;
					&:after {
					content: "";	
					position: absolute;
					width: 0; 
					height: 0; 
					left: auto;
					top: 0px;
					right: -5px;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent; 
					border-left: 5px solid $primary; 
					}//after
				}//msg
			}//self
			li {
				&:last-of-type {
				margin-bottom: 15px;	
				}//last-of-type
			}//li
		}//ul	
		
		.tab-footer {
		bottom: 55px;	
		}//tab-footer

	}//chat-msg

	//--------------------------------------------//
	// 1.3 To Do Styles / #todo
	//--------------------------------------------//
	#todo {
	height: 100%;
	width: 100%;
		.todo-item {
		padding: 1rem 0.75rem 0rem 0.75rem;
			h6 {
			margin-bottom: 1rem;
			}//h6
			.done {
				label {
				text-decoration: line-through;
				}//label
			    .checkbox-primary input[type="checkbox"] + label {
			        &:before {
			        background-color: $primary;
			        border-color: $primary; 
			        }//before
			        &:after {
			        color: $white;
	                font-family: 'FontAwesome';
        			content: "\f00c";
			        }//after
			    }//+ label::before 
			}//done
		}//todo-item
	}//todo

	//--------------------------------------------//
	// 1.4 Tab Footer / .tab-footer
	//--------------------------------------------//
	.tab-footer {
	background-color: $white;
	border-top: $sidebar-border;
	position: absolute;
	bottom: -10px;
	height: 35px;
	width: 100%;
	@include transition($fast);
		.wrapper {    
		display: flex;
		height: 35px;
	    align-items: center;
	    justify-content: space-between;
	    padding-left: 0.5rem;
	    	button {
	    	font-size: $font-size;	
	    		&:after {
	    		display: none;	
	    		}//after
	    	}//button
			h6 {
			font-size: $font-size;
			margin-top: 0px;
			}//h6
			.btn {
				i {
				@include transition($fast);
				}//i
				&:focus, &:hover {
				background-color: transparent;	
				}//btn:focus, btn:hover
				&:hover {
					i {
					color: $primary;	
					}
				}//hover
			}//btn
			.dropdown-menu {
			font-size: $font-size;
			left: auto;
			right: 0;
			min-width: 6rem;
			border-bottom: 0px;
			margin-bottom: 1px;
				.status {
				top: inherit;
				margin-top: 7px;
				left: 10px;
				}//status
				.dropdown-item {
				padding-left: 25px;
				}//dropdown-item
			}//dropup
			.status {
			top: 14px;
			left: 3px;
			}//status
		}//wrapper
		.form-control {
		border: 0px;
		border-radius: 0px;
		padding-left: 0px;
		font-size: 14px;
		color: $font-color;
		}//form-control	
	}//tab-footer

	//--------------------------------------------//
	// 1.5 Scroll Sidebar / .scroll-sidebar 
	//--------------------------------------------//
	&.scroll-sidebar {
	top: 0px;
		.chat-msg {
		top: 0px;
			.tab-footer {
			bottom: 0px;
			}//tab-footer
		}//chat-msg
		.chat-wrapper, .todo-wrapper {
		height: calc(100% - 5px);
		}//chat-wrapper, todo-wrapper
		.msg-wrapper {
		height: calc(100% - 28px);	
		}//msg-wrapper
		.tab-footer {
		bottom: -65px;
		}//tab-footer
	}//scroll-sidebar

}//right-sidebar