//--------------------------------------------//
// Template Name: Vega
// Version: 1.0
// Author: Zwolek
// Author e-mail: zwoweb@gmail.com
// Last change: 11/04/2017
//--------------------------------------------//

//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Reset / h element, p element, a element, button
// 2.0 General / body
// 3.0 Styles For Example Pages 
// 4.0 Page Styles 
//--------------------------------------------//

//--------------------------------------------//
// 1.0 Reset / h element, p element, a element, button
//--------------------------------------------//
h1, h2, h3, h4, h5, h6, a, p {
padding: 0px;
margin: 0px;	
}//h1, h2, h3, h4, h5, h6, a, p

a, area, button, [role="button"], input, label, select, summary, textarea button, input, optgroup, select, textarea {
font-family: $font;
}//a, area, button, [role="button"], input, label, select, summary, textarea button, input, optgroup, select, textarea 

a, button {
text-decoration: none;
outline: 0;
    &:hover, &:focus, &:active, &.active {
    text-decoration: none;
    outline: 0;
    border: 0;
		&:-moz-focusring {
		outline: 0;
		}//moz
		&:-moz-focus-inner {
		outline: 0;
		}//moz
    }//a:hover, button:hover, a:focus, button:focus, a:active, button:active
	&:-moz-focusring {
	outline: 0;
	}//moz
}//a, button

//--------------------------------------------//
// 2.0 General / body
//--------------------------------------------//
body {
min-height: 100%;
height: 100%;
max-height: 100%;
background-color: $body-bg;
font-family: $font;
color: $font-color;
	&.style {
	padding-top: 55px;	
	}//style
	&.style-sticky {
	padding-top: 0px;
	}//style
}//body

//--------------------------------------------//
// 3.0 Styles For Example Pages 
//--------------------------------------------//
.grid-preview {
padding: 0rem 1rem;	
	&.flex-preview {
	min-height: 8rem;	
	}//flex-preview
	> [class^="col-"],
	.col {
	padding: 0.5rem 0.25rem;
	background-color: $gray;
	border: $border-solid $darken-gray;
	}//> [class^="col-"]
}//grid-preview

.example-popover {
position: relative;
padding: 0rem;
margin: 0rem -1rem;
	.popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	margin-top: 0.25rem;
	margin-left: 1rem;
		&.popover-bottom,
		&.popover-top {
		margin-top: 0.25rem;
		}//popover-bottom
	}//popover
}//example-popover

.example-tooltip {
position: relative;
padding: 0rem;
margin: 0rem -1rem;

	.tooltip {
	position: relative;
	display: inline-block;
	margin: 10px 20px;
	opacity: 1;
		.tooltip-inner {
		max-width: 200px;
		padding: 3px 8px;
		color: #fff;
		text-align: center;
		background-color: #000;
		border-radius: .25rem;	
		}//tooltip-inner
	}//tooltip
}//example-tooltip

.example-form {
	.checkbox-example {
	margin-top: 0.5rem;	
	}//checkbox-example
}//example-form

.fontawesome-icon-list {
	.fa-hover {
	margin-top: 1rem;	
	}//fa-hover
}//fontawesome-icon-list

.example-ionicons {
	li {
	position: relative;
	display: inline-block;
	padding: 22px 0px;
	width: 42px;
	list-style: none;
	font-size: 24px;
	cursor: pointer;
	@include transition($fast);
		&:hover {
		color: $primary;
		}//hover
	}//li
}//example-ionicons

.example-weather-icons,
.example-mdi {
	li {
	margin-top: 1rem;
	@include transition($fast);
		i {
		margin-right: 0.5rem;
		}//i
		&:hover {
		color: $primary;
		}//hover
	}//li
}//example-weather-icons, example-mdi

.swal2-container {
z-index: 99999;
}//swal2-container

.chart-js-example {
height: 300px;
padding: 0;
}//chart-js-example

.moris-js-example {
width: 100%;
height: 300px;
}//morris-js-example

.flot-container {
position: relative;
height: 300px;
}//flot-container

.flot-js {
width: 100%;
height: 300px;
position: absolute;
}//flot-js-example

.google-map {
width: 100%;
height: 400px;
}//google-map

.vector-map {
width: 100%;
height: 400px;
}//vector-map

//--------------------------------------------//
// 4.0 Page Styles 
//--------------------------------------------//
#page {
position: relative;
width: 100%;
height: auto;
min-height: 100%; 
}//page


//--------------------------------------------//
// Your Styles
//--------------------------------------------//

// Write Your Styles //