// jQuery Vector Map
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 jQvmap Zoom Buttons / .jqvmap-zoomin, .jqvmap-zoomout

//--------------------------------------------//
// 1.0 jQvmap Zoom Buttons / .jqvmap-zoomin, .jqvmap-zoomout
//--------------------------------------------//
.jqvmap-zoomin, .jqvmap-zoomout {
position: absolute;
background-color: $gray;
border-radius: $border-radius;
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
color: $font-color;
cursor: pointer;
@include transition($fast);
	&:hover {
	background-color: darken($gray,5%);
	}//hover
}//jqvmap-zoomin, .jqvmap-zoomout

.jqvmap-zoomin {
top: 0px;
}//jqvmap-zoomin

.jqvmap-zoomout {
top: 30px;
}//jqvmap-zoomout
