// Popover
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Popover / .popover
// 2.0 Popover Title / .popover-title
// 3.0 Popover Content / .popover-content
// 4.0 Popover Arrows / .popover::before, .popover::after

//--------------------------------------------//
// 1.0 Popover / .popover
//--------------------------------------------//
.popover {
position: absolute;
top: 0;
left: 0;
z-index: 99;
display: block;
max-width: $popover-max-width;
padding: $popover-inner-padding;
@include reset-text();
font-size: 12px;
word-wrap: break-word;
background-color: $popover-bg;
background-clip: padding-box;
border: $popover-border-width solid $popover-border-color;
@include border-radius($border-radius-lg);
@include box-shadow($popover-box-shadow);

    &.popover-top,
    &.bs-tether-element-attached-bottom {
    margin-top: -$popover-arrow-width;
        &::before,
        &::after {
        left: 50%;
        border-bottom-width: 0;
        }//before, after
        &::before {
        bottom: -$popover-arrow-outer-width;
        margin-left: -$popover-arrow-outer-width;
        border-top-color: $popover-arrow-outer-color;
        }//before
        &::after {
        bottom: -($popover-arrow-outer-width - 1);
        margin-left: -$popover-arrow-width;
        border-top-color: $popover-arrow-color;
        }//after
    }//popover-top, bs-tether-element-attached-bottom

    &.popover-right,
    &.bs-tether-element-attached-left {
    margin-left: $popover-arrow-width;
        &::before,
        &::after {
        top: 50%;
        border-left-width: 0;
        }//before, after
        &::before {
        left: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-right-color: $popover-arrow-outer-color;
        }//before
        &::after {
        left: -($popover-arrow-outer-width - 1);
        margin-top: -($popover-arrow-outer-width - 1);
        border-right-color: $popover-arrow-color;
        }//after
    }//popover-right, bs-tether-element-attached-left

    &.popover-bottom,
    &.bs-tether-element-attached-top {
    margin-top: $popover-arrow-width;
        &::before,
        &::after {
        left: 50%;
        border-top-width: 0;
        }//before, after
        &::before {
        top: -$popover-arrow-outer-width;
        margin-left: -$popover-arrow-outer-width;
        border-bottom-color: $popover-arrow-outer-color;
        }//before
        &::after {
        top: -($popover-arrow-outer-width - 1);
        margin-left: -$popover-arrow-width;
        border-bottom-color: $popover-title-bg;
        }//after
        .popover-title::before {
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 20px;
        margin-left: -10px;
        content: "";
        border-bottom: 1px solid $popover-title-bg;
        }//popover-title::before
    }//popover-right, bs-tether-element-attached-top

    &.popover-left,
    &.bs-tether-element-attached-right {
    margin-left: -$popover-arrow-width;
        &::before,
        &::after {
        top: 50%;
        border-right-width: 0;
        }//before, after
        &::before {
        right: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-left-color: $popover-arrow-outer-color;
        }//before
        &::after {
        right: -($popover-arrow-outer-width - 1);
        margin-top: -($popover-arrow-outer-width - 1);
        border-left-color: $popover-arrow-color;
        }//after
    }//popover-right, bs-tether-element-attached-right
}//popover

//--------------------------------------------//
// 2.0 Popover Title / .popover-title
//--------------------------------------------//
.popover-title {
padding: $popover-title-padding-y $popover-title-padding-x;
margin-bottom: 0; // Reset the default from Reboot
font-size: $font-size-base;
background-color: $popover-title-bg;
border-bottom: $popover-border-width solid darken($popover-title-bg, 5%);
$offset-border-width: calc(#{$border-radius-lg} - #{$popover-border-width});
@include border-top-radius($offset-border-width);
    &:empty {
    display: none;
    }//empty
}//popover-title

//--------------------------------------------//
// 3.0 Popover Content / .popover-content
//--------------------------------------------//
.popover-content {
padding: $popover-content-padding-y $popover-content-padding-x;
}//popover-content

//--------------------------------------------//
// 4.0 Popover Arrows / .popover::before, .popover::after
//--------------------------------------------//
.popover::before,
.popover::after {
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}//popover::before, popover::after

.popover::before {
content: "";
border-width: $popover-arrow-outer-width;
}//popover::before

.popover::after {
content: "";
border-width: $popover-arrow-width;
}//popover::after
