// Checkbox
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Checkbox / .checkbox
// 2.0 Checkbox Primary / .checkbox-primary

//--------------------------------------------//
// 1.0 Checkbox / .checkbox
//--------------------------------------------//
.checkbox {
height: 100%;
position: relative;
line-height: 1.25;
    label {
    padding-left: 25px; 
    margin-bottom: 0;
    cursor: pointer;
        &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: $white;
        border: 1px solid darken($gray,10%);
        border-radius: 4px;
        width: 17px;
        height: 17px;
        left: 0;
        @include transition($fast);
        }//before
        &:after {
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        top: 0;
        left: 0;
        font-size: 10px;
        text-align: center;
        padding-top: 5px;
        padding-left: 0px;
        color: $white; 
        }//after
    }//label
    input[type="checkbox"] {
    position: absolute;
  	top: 0;
    width: 17px;
    height: 17px;
    opacity: 0;
    outline: none;
    z-index: 9999;
    cursor: pointer;
        &:focus + label::before {
        outline: none;
        }//&:focus + label::before
        &:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
        }//&:checked + label::after
        &:disabled + label {
        opacity: 0.65;  
        }//&:disabled + label
        &:disabled + label::before {
        background-color: $gray;
        cursor: not-allowed;    
        }//&:disabled + label::before
    }//input[type="checkbox"]
    .checkbox-inline {
    margin-top: 0; 
    }//checkbox-inline
}//checkbox

//--------------------------------------------//
// 2.0 Checkbox Primary / .checkbox-primary
//--------------------------------------------//
.checkbox-primary input[type="checkbox"]:checked {
    + label {
        &:before {
        background-color: $primary;
        border-color: $primary; 
        }//before
        &:after {
        color: $white;
        }//after
    }//+ label::before 
}//checkbox-primary