// Custom File / File Upload
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Custom File / .custom-file
// 2.0 Custom File Input / .custom-file-input
// 3.0 Custom File Control / .custom-file-control

//--------------------------------------------//
// 1.0 Custom File / .custom-file
//--------------------------------------------//
.custom-file {
position: relative;
display: inline-block;
width: 100%;
height: $custom-file-height;
margin-bottom: 0;
cursor: pointer;
}//custom-file

//--------------------------------------------//
// 2.0 Custom File Input / .custom-file-input
//--------------------------------------------//
.custom-file-input {
min-width: $custom-file-width;
max-width: 100%;
height: $custom-file-height;
margin: 0;
opacity: 0;
}//custom-file-input

//--------------------------------------------//
// 3.0 Custom File Control / .custom-file-control
//--------------------------------------------//
.custom-file-control {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 5;
height: $custom-file-height;
padding: $custom-file-padding-y $custom-file-padding-x;
color: $custom-file-color;
font-size: $font-size;
pointer-events: none;
user-select: none;
background-color: $custom-file-bg;
border: $custom-file-border-width solid $custom-file-border-color;
@include border-radius($custom-file-border-radius);

	@each $lang, $text in map-get($custom-file-text, placeholder) {
		&:lang(#{$lang})::after {
		content: $text;
		}//
	}//each

	&::before {
	position: absolute;
	top: -$custom-file-border-width;
	right: -$custom-file-border-width;
	bottom: -$custom-file-border-width;
	z-index: 6;
	display: block;
	height: $custom-file-height;
	padding: $custom-file-padding-y $custom-file-padding-x;
	line-height: $custom-file-line-height;
	color: $custom-file-button-color;
	background-color: $custom-file-button-bg;
	border: $custom-file-border-width solid $custom-file-border-color;
	@include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
	}//before

	@each $lang, $text in map-get($custom-file-text, button-label) {
		&:lang(#{$lang})::before {
		content: $text;
		}//
	}//each

}//custom-file-control