// Forms
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 From Control / .form-control
// 2.0 Select From Control / select.form-control
// 3.0 From Control File & Range / .form-control-file, .form-control-range
// 4.0 Col Form Label / .col-form-label
// 5.0 Col Form Label Lg / .col-form-label-lg
// 6.0 Col Form Label Sm / .col-form-label-sm
// 7.0 Col Form Legend / .col-form-legend
// 8.0 Form Control Static / .form-control-static
// 9.0 Form Control Sizes / .form-control-sm, .form-control-lg
// 10.0 Form Group / .form-group
// 11.0 Form Text / .form-text
// 12.0 Form Check / .form-check
// 13.0 Form Footer / .form-footer

//--------------------------------------------//
// 1.0 From Control / .form-control
//--------------------------------------------//
.form-control {
display: block;
width: 100%;
padding: $input-padding-y $input-padding-x;
font-size: $font-size;
line-height: $input-line-height;
color: $input-color;
background-color: $input-bg;
background-image: none;
background-clip: padding-box;
border: $input-border;
border-radius: $input-border-radius;
@include transition($fast);
@include form-control-focus();

	&::-ms-expand {
	background-color: transparent;
	border: 0;
	}//ms-expand

	&::placeholder {
	color: $input-color-placeholder;
	opacity: 1;
	}//placeholder

	&:disabled,
	&[readonly] {
	background-color: $input-bg-disabled;
	opacity: 1;
	}//disabled, readonly

	&:disabled {
	cursor: $cursor-disabled;
	}//disabled
  

}//form-control

//--------------------------------------------//
// 2.0 Select From Control / select.form-control
//--------------------------------------------//
select.form-control {
padding: 0 0.5rem;

  &:not([size]):not([multiple]) {
  $select-border-width: ($border-width * 2);
  height: 2.15rem;
  }//not

  option {
  color: $font-color; 
  padding: 0rem 0.5rem;
  }//option

	&:focus::-ms-value {
	color: $input-color;
	background-color: $input-bg;
	}//focus

}//select form-control

//--------------------------------------------//
// 3.0 From Control File & Range / .form-control-file, .form-control-range
//--------------------------------------------//
.form-control-file,
.form-control-range {
display: block;
}//form-control-file, form-control-range

//--------------------------------------------//
// 4.0 Col Form Label / .col-form-label
//--------------------------------------------//
.col-form-label {
padding-top: calc(#{$input-padding-y} - #{$input-btn-border-width} * 2);
padding-bottom: calc(#{$input-padding-y} - #{$input-btn-border-width} * 2);
margin-bottom: 0; // Override the `<label>` default
}//col-form-label

//--------------------------------------------//
// 5.0 Col Form Label Lg / .col-form-label-lg
//--------------------------------------------//
.col-form-label-lg {
padding-top: calc(#{$input-padding-y-lg} - #{$input-btn-border-width} * 2);
padding-bottom: calc(#{$input-padding-y-lg} - #{$input-btn-border-width} * 2);
font-size: $font-size-lg;
}//col-form-label-lg

//--------------------------------------------//
// 6.0 Col Form Label Sm / .col-form-label-sm
//--------------------------------------------//
.col-form-label-sm {
padding-top: calc(#{$input-padding-y-sm} - #{$input-btn-border-width} * 2);
padding-bottom: calc(#{$input-padding-y-sm} - #{$input-btn-border-width} * 2);
font-size: $font-size-sm;
}//col-form-label-sm

//--------------------------------------------//
// 7.0 Col Form Legend / .col-form-legend
//--------------------------------------------//
.col-form-legend {
padding-top: $input-padding-y;
padding-bottom: $input-padding-y;
margin-bottom: 0;
font-size: $font-size-base;
}//col-form-legend

//--------------------------------------------//
// 8.0 Form Control Static / .form-control-static
//--------------------------------------------//
.form-control-static {
padding-top: $input-padding-y;
padding-bottom: $input-padding-y;
margin-bottom: 0;
line-height: $input-line-height;
border: solid transparent;
border-width: $input-btn-border-width 0;
    &.form-control-sm,
    &.form-control-lg {
    padding-right: 0;
    padding-left: 0;
    }//form-control-sm, lg
}//form-control-static

//--------------------------------------------//
// 9.0 Form Control Sizes / .form-control-sm, .form-control-lg
//--------------------------------------------//
.form-control-sm {
padding: $input-padding-y-sm $input-padding-x-sm;
font-size: $font-size-sm;
@include border-radius($input-border-radius-sm);
}//form-control-sm

select.form-control-sm {
    &:not([size]):not([multiple]) {
    height: $input-height-sm;
    }//
}//select.form-control-sm

.form-control-lg {
padding: $input-padding-y-lg $input-padding-x-lg;
font-size: $font-size-lg;
@include border-radius($input-border-radius-lg);
}//form-control-lg

select.form-control-lg {
    &:not([size]):not([multiple]) {
    height: $input-height-lg;
    }//
}//select.form-control-lg

//--------------------------------------------//
// 10.0 Form Group / .form-group
//--------------------------------------------//
.form-group {
margin-bottom: $form-group-margin-bottom;
}//form-group

.form-group input.form-control-file {
background-color: $primary; 
}//form-group input.form-control-file

//--------------------------------------------//
// 11.0 Form Text / .form-text
//--------------------------------------------//
.form-text {
display: block;
margin-top: $form-text-margin-top;
}//form-text

//--------------------------------------------//
// 12.0 Form Check / .form-check
//--------------------------------------------//
.form-check, .form-group {
	label {
	font-size: $font-size;	
	}//label	
}//form-check, form-group 

.form-check {
position: relative;
display: block;
margin-bottom: $form-check-margin-bottom;
    &.disabled {
        .form-check-label {
        color: $text-muted;
        cursor: $cursor-disabled;
        }//form-check-label
    }//disabled
}//form-check

.form-check-label {
padding-left: $form-check-input-gutter;
margin-bottom: 0;
cursor: pointer;
}//form-check-label

.form-check-input {
position: absolute;
margin-top: $form-check-input-margin-y;
margin-left: -$form-check-input-gutter;
    &:only-child {
    position: static;
    }//only-child
}//form-check-input

.form-check-inline {
display: inline-block;
    .form-check-label {
    vertical-align: middle;
    }//form-check-label
    + .form-check-inline {
    margin-left: $form-check-inline-margin-x;
    }//form-check-inline
}//form-check-inline

//--------------------------------------------//
// 13.0 Form Footer / .form-footer
//--------------------------------------------//
.form-footer {  
display: flex;
justify-content: space-between;
align-items: center;
font-size: $font-size;
}//form-footer

