// Forms Validation
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 From Control Feedback / .form-control-feedback
// 2.0 From Control Validation States / .form-control-success, warning, danger
// 3.0 Has Danger / .has-danger
// 4.0 Has Success / .has-success
// 5.0 Has Warning / .has-warning
// 6.0 Help Block / .help-block

//--------------------------------------------//
// 1.0 From Control Feedback / .form-control-feedback
//--------------------------------------------//
.form-control-feedback {
margin-top: $form-feedback-margin-top;
font-size: 13px;
}//form-control-feedback

//--------------------------------------------//
// 2.0 From Control Validation States / .form-control-success, warning, danger
//--------------------------------------------//
.form-control-success,
.form-control-warning,
.form-control-danger {
padding-right: ($input-padding-x * 3);
background-repeat: no-repeat;
background-position: center right ($input-height / 4);
background-size: ($input-height / 2) ($input-height / 2);
}//form-control-succes, form-control-warning, form-control-danger

//--------------------------------------------//
// 3.0 Has Danger / .has-danger
//--------------------------------------------//
.has-danger {
@include form-control-validation($brand-danger);
	label {
	color: $danger-color;	
	}//label
	.form-control-danger {
	background-image: $form-icon-danger;
	}//form-control-danger
	.checkbox {
		label {
		color: $danger-color;
		}//label
		input[type="checkbox"]:checked {
		    + label {
		        &:before {
		        background-color: $danger-color;
		        border-color: $danger-color; 
		        }//before
		        &:after {
		        color: $white;
		        }//after
		    }//label 
		}//input checked	
	}//checkbox
	.radio {
	color: $danger-color;
		input[type=radio]:checked + label:before {
		background-color:$danger-color;
		}//input
	}//radio
}//has-danger

//--------------------------------------------//
// 4.0 Has Success / .has-success
//--------------------------------------------//
.has-success {
@include form-control-validation($brand-success);
	.form-control-success {
	background-image: $form-icon-success;
	}//form-control-success
	.checkbox {
		label {
		color: $success-color;
		}//label
		input[type="checkbox"]:checked {
		    + label {
		        &:before {
		        background-color: $success-color;
		        border-color: $success-color; 
		        }//before
		        &:after {
		        color: $white;
		        }//after
		    }//label 
		}//input checked
	}//checkbox
	.radio {
	color: $success-color;
		input[type=radio]:checked + label:before {
		background-color:$success-color;
		}//input
	}//radio
}//has-success

//--------------------------------------------//
// 5.0 Has Warning / .has-warning
//--------------------------------------------//
.has-warning {
@include form-control-validation($brand-warning);
	.form-control-warning {
	background-image: $form-icon-warning;
	}//form-control-warning
	.checkbox {
		label {
		color: $warning-color;
		}//label
		input[type="checkbox"]:checked {
		    + label {
		        &:before {
		        background-color: $warning-color;
		        border-color: $warning-color; 
		        }//before
		        &:after {
		        color: $white;
		        }//after
		    }//label 
		}//input checked
	}//checkbox
	.radio {
	color: $warning-color;
		input[type=radio]:checked + label:before {
		background-color:$warning-color;
		}//input
	}//radio
}//has-warning

//--------------------------------------------//
// 6.0 Help Block / .help-block
//--------------------------------------------//
.help-block {
	ul li {
	font-size: $font-size;
	}//ul li
	&.with-errors {
		ul li {
		color: $danger-color;
		}//ul li
	}//with-errors
}//help-block 