// Form Inline
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 From Inline / .form-inline

//--------------------------------------------//
// 1.0 From Inline / .form-inline
//--------------------------------------------//
.form-inline {
display: flex;
flex-flow: row wrap;
align-items: center;
    .form-check {
    width: 100%;
    }//form-check
    @include media-breakpoint-up(sm) {
        label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        }//label
        .form-group {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 0;
        }//form-group
        .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        }//form-control
        .form-control-static {
        display: inline-block;
        }//form-control-static
        .input-group {
        width: auto;
        }//input-group
        .form-control-label {
        margin-bottom: 0;
        vertical-align: middle;
        }//form-control-label
        .form-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
        }//form-checl
        .form-check-label {
        padding-left: 0;
        }//form-check-label
        .form-check-input {
        position: relative;
        margin-top: 0;
        margin-right: $form-check-input-margin-x;
        margin-left: 0;
        }//form-check-input
        .has-feedback .form-control-feedback {
        top: 0;
        }//has-feedback
    }//sm up form style
}//form-inline