// Radio
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Radio / .radio
// 2.0 Radio Primary / .radio-primary

//--------------------------------------------//
// 1.0 Radio / .radio
//--------------------------------------------//
.radio {
    + .radio {
    margin-top: 0px;
    }//radio
    label {
    cursor: pointer;
    font-size: 13px;
    min-height: 0px;
    margin-left: 25px;
    	&:after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: $white;
		border: $border-solid darken($border-color, 15%);
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        z-index: 90;
    	}//after
        &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
  		text-align: center;
        top: 8px;
        left: 4px;
        z-index: 100;
        @include transition($fast);
        }//before 
    }//label
    input[type=radio] {
    display: none;
    }//input[type=radio]
    input[type=radio]:checked + label:before {
    outline: none;
    }//input[type=radio]:checked + label:before
}//radio

//--------------------------------------------//
// 2.0 Radio Primary / .radio-primary
//--------------------------------------------//
.radio-primary input[type=radio]:checked + label:before {
background-color:$primary;
}//radio primary