// Breadcrumb
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Breadcrumb / .breadcrumb

//--------------------------------------------//
// 1.0 Breadcrumb / .breadcrumb
//--------------------------------------------//
.breadcrumb {
background-color: $breadcrumb-bg;
padding: 0rem;
margin-top: 0px;
	&:after {
	display: block;
	content: "";
	clear: both
	}//after
	.breadcrumb-item {
	color: $primary;	
	font-size: $breadcrumb-font-size;
	font-weight: $breadcrumb-font-weight;
		&.active {
		color: $font-color;	
		}//active
	}//breadcrumb-item
	a, span {
		&:before {
		display: inline-block;
		padding: $breadcrumb-before-padding;
		color: $font-color;
		font-family: $breadcrumb-before-font;
		content: $breadcrumb-before-content;
		font-size: $breadcrumb-before-size;
		}//before
	}//a, span 
	a {
		&:first-child::before {
		display: none;	
		}//first-child 		
	}//a
}//breadcrumb